.banner {
	width: 100%;
	background-color: $mid-grey;
	@include breakpoint(from-large) {
		height:208px;
	}

	div.text {
		display: inline;
		height: 250px;
		line-height: 250px;
		width: 500px;
		@include breakpoint(medium-to-large){
			height: 250px;
			line-height: 250px;
		}
		@include breakpoint(to-medium){
			height: 180px;
			line-height: 180px;
		}
		span.text{
			display: inline-block;
			vertical-align: middle;
			line-height: normal;
		}
	}


	.container {
		@include breakpoint(to-medium){
			-webkit-background-size: cover !important;
			-moz-background-size: cover !important;
			-o-background-size: cover !important;
			background-size: cover !important;
		}
	}
	&--sub {
		width: 100%;
		margin: 0;
		padding: 0; //10px;


		height: 250px;
		@include breakpoint(medium-to-large){
			height: 250px;
		}
		@include breakpoint(to-medium){
			height: 180px;
		}
		// -webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.4);
		// -moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.4);
		// box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.4);
		z-index: 99;
		position: relative;
		overflow:hidden;


		.container {
			padding: 0;
			margin: 0 0 0 0px;
		}


		a {
			//background-color: $primary-color;
			//color: white;
			//top: 0;
			//right: 30px;
			//bottom: 60px;
			top: 170px !important;

		}
	}

	&--news { }

	&__headline {
		margin-left: 100px;
		display: block;
		font-size:25px;
		padding:20px 20px 20px 66px;
		color: #FFF;
		font-family:$font-family--special;
		letter-spacing:1px;
		line-height:0.85;


		@include breakpoint(to-medium) {
			margin-left: 0;
			padding-top: 25px;
			font-size: 40px;
		}
		span {
			@include breakpoint(to-medium) {
				display: block;
			}
		}


		@include breakpoint(from-medium) {
			font-size:70px;
			//padding-top:40px;

			//padding-bottom:40px;
			margin-left:0;
		}
		@include breakpoint(from-large) {
		    //padding:40px 20px;
		}

		.highlight {
			@include breakpoint(from-large) {
                //display: block;
			    //clear: both;
			}
		}
	}
	//&__with_image // remove position from ___headline if no image present
	//{
	//	position:absolute;
	//}
	&__image {
		float: right;
		position: initial;
		height: 100%;
	}
}
