// styles for filtering, from http://codepen.io/patrickkunka/pen/iwcap
.filter-wrap {
	max-width:1180px;
	padding:20px 0;

	// layout
	.filter-controls {
		@extend %grid-block;
		@include grid(100);
		margin-bottom:20px;

		@include breakpoint(from-medium) {
		    //@include grid(33);
		}

		@include breakpoint(from-large) {
		    @include grid(25);
		}

		h3 {
			background:$black;
			width:100%;
			text-align:center;
			color: #FFF;
			font-family:$font-family--special;
			font-size:17px;
			height:50px;

			&:hover {
				cursor:pointer;
				@include breakpoint(from-medium) {
				    cursor:none;
				}
			}
		}

		.filter-form {
			display: none;
			@include breakpoint(from-medium) {
			    display: block;
			}
			background:$light-grey;
			padding:10px 25px;
			transition:all 300ms ease-in;

			&.is-visible {
				display: block;
			}
			// clear button
			button{
			  display: block;
			  padding: 10px;
			  margin: 0;
			  background: none;
			  border: 0;
			  color: #333;
			  font-size: 16px;
			  font-weight: 700;
			  cursor: pointer;
			  width:auto;
			  text-align:left;
			  clear:both;
			}
			button:focus{
			  outline: 0 none;
			}

			fieldset{
			  display: inline-block;
			  float:left;
			  vertical-align: top;
			  border:none;
			  @include grid(100);
			  background:none;
			  margin:0;
			  padding:0;
			  padding-top:15px;
			  padding-bottom:20px;

			  @include breakpoint(from-small) {
			      @include grid(50);
			  }
			  @include breakpoint(from-large) {
			      @include grid(100);
			  }

			   h4 {
			   	font-size:16px;
			  	color: $black;
			  	margin:0;
			  	padding:0;
			  	padding-bottom:13px;
			  }
			}


			.checkbox {
			  display: block;
			  position: relative;
			  cursor: pointer;
			  margin-bottom: 10px;
			  font-size:18px;
			}

			.checkbox input[type="checkbox"] {
			  position: absolute;
			  display: block;
			  top: 0;
			  left: 0;
			  height: 100%;
			  width: 100%;
			  cursor: pointer;
			  margin: 0;
			  opacity: 0;
			  z-index: 1;
			}

			.checkbox label {
			  display: inline-block;
			  vertical-align: top;
			  text-align: left;
			  padding-left: 25px;
			}

			.checkbox label:before,
			.checkbox label:after {
			  content: '';
			  display: block;
			  position: absolute;
			}

			.checkbox label:before {
			  left: 0;
			  top: 0;
			  width: 18px;
			  height: 18px;
			  border:2px solid #CCC;
			  background: $light-grey;
			}

			.checkbox label:after {
			  position: absolute;
			  content:'-';
			  text-align:center;
			  line-height:18px;
			  color: #FFF;
			  @include font-awesome("\f00c");
			  font-size:12px;
			  top: 0px;
			  left: 0px;
			  width: 18px;
			  height: 18px;
			  border-radius: 2px;
			  background: $primary-color;
			  opacity: 0;
			  pointer-events: none;
			}

			.checkbox input:checked ~ label:after {
			  opacity: 1;
			}

			.checkbox input:focus ~ label:before {
			  background: #eee;
			}

		}
	}

	.filter-container {
		@extend %grid-block-collapse;
		@include grid(100);
		text-align: justify;
	 	position: relative;

		@include breakpoint(from-medium) {
		    //@include grid(66);
		}
		@include breakpoint(from-large) {
		    @include grid(75);
		}

	}


	// No items found message
	.filter-container .fail-message{
	  position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  right: 0;
	  text-align: center;
	  opacity: 0;
	  pointer-events: none;

	  -webkit-transition: 150ms;
	  -moz-transition: 150ms;
	  transition: 150ms;
	}

	.filter-container .fail-message:before{
	  content: '';
	  display: inline-block;
	  vertical-align: middle;
	  height: 100%;
	}

	.filter-container .fail-message span{
	  display: inline-block;
	  vertical-align: middle;
	  font-size: 20px;
	  font-weight: 700;
	  color: red;
	}

	.filter-container.fail .fail-message{
	  opacity: 1;
	  pointer-events: auto;
	}
}
