section.section--home-hero {
	width: 100%;
	min-width: 100vw;
	height: calc(100vh - 180px);
	max-height: 100vw;
	padding: 0 40px;
	position: relative;
	z-index: 320;
	overflow: hidden;
	@include display-flex;
	@include flex-flow(column nowrap);
	@include justify-content(center);
	@include align-items(center);
	@include breakpoint(to-medium) {
		min-height: calc(100vh - 160px);
	}
	@include breakpoint(to-small) {
		min-height: calc(100vh - 164px);
	}

	video {
		position: absolute;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		background: url('../images/hr-icon@2x.png') no-repeat center  cover;
		transition: 1s opacity;
	}

	div.section--home-hero__content {
		width: 770px;
		height: 375px;
		text-align: center;
		z-index: 30;
		@include display-flex;
		@include flex-flow(column nowrap);
		@include justify-content(space-between);
		@include align-items(center);
		@include breakpoint(to-large) {
			@include flex(inherit inherit 464px);
		}
		@include breakpoint(to-medium) {
			width: 100%;
			min-height: 375px;
			@include justify-content(center);
		}

		div.content--upper {
			width: 100%;
			margin-bottom: 50px;
			@include display-flex;
			@include flex-flow(row nowrap);
			@include justify-content(space-between);
			@include breakpoint(to-medium) {
				@include flex-flow(column nowrap);
				@include justify-content(center);
			}

			h1.section--home-hero__content__title {
				width: 464px;
				@include flex(inherit inherit 464px); // primarily for Safari 1-6
				position: relative;
				top: -5px;
				margin: 0;
				color: $white;
				font-family: $font-family--rb;
				font-size: 76px;
				letter-spacing: 4px;
				text-align: left;
				text-transform: uppercase;
				@include breakpoint(to-medium) {
					@include order(2);
					width: 100%;
					font-size: 52px;
					text-align: center;
				}
				@include breakpoint(to-small) {
					top: 36px;
					font-size: 36px;
					letter-spacing: 1px;
				}

				span {
					font-size: 129px;
					letter-spacing: 9px;
					@include flex(inherit inherit 464px); // primarily for Safari 1-6
					@include breakpoint(to-medium) {
						@include order(1);
						font-size: 90px;
					}
					@include breakpoint(to-small) {
						font-size: 64px;
						letter-spacing: 3px;
					}
				}

			}

			div.logo {
				width: 306px;
				height: 200px;
				@include flex(inherit inherit 306px);
				@include breakpoint(to-medium) {
					display: none;
				}

				a {
					width:100%;
					height: 100%;

					img {
						width: inherit;
						height: inherit;
					}
				}
			}
		}

		.content--lower {
			width: 100%;
			@include display-flex;
			@include flex-flow(row nowrap);
			@include justify-content(space-between);
			@include breakpoint(to-medium) {
				@include flex-flow(column nowrap);
			}

			a {
				width: 370px;
				height: 94px;
				color: $primary-color;
				background-color: $white;
				border: 3px solid $white;
				font-family: $font-family--microgramma;
				font-size: 32px;
				text-decoration: none;
				text-transform: uppercase;
				transition: 300ms;
				@include display-flex;
				@include justify-content(center);
				@include align-items(center);
				@include breakpoint(to-medium) {
					width: 100%;
					height: 60px;
					margin: 10px auto;
					font-size: 24px;
				}
				@include breakpoint(to-small) {
					width: 100%;
					height: 48px;
					font-size: 18px;
				}

				&:hover {
					color: $white;
					background-color: transparent;
				}
			}
		}
	} // END section--home-hero__content

	div.container__hero--down {
		width: inherit;
		height: 100%;
		max-height: 100px;
		min-height: 60px;
		position: absolute;
		left: 0;
		bottom: 0;
		@include display-flex;
		@include justify-content(center);
		@include align-items(center);

		a.section__home-hero--down {
			z-index: 400;

			&:hover {
				bottom: -3px;
			}

			span.steps-icon {
				width: 48px;
				height: 42px;
				color: $white;
				background: url(../images/hero-drop@2x.png) top center no-repeat;
				background-size: 48px 42px;
				transition: none;
				text-align: center;
				cursor: pointer;
				@include display-flex;
				@include flex-flow(column nowrap);
				@include justify-content(center);
			}
		}
	}
} // END section--home-hero
