.package-item{
	@extend %grid-block-collapse;
	display: none;
	@include grid(100);
	background: #F5FBFE;

	border:10px solid #FFF; // to fake padding and work well with grid / filters
	border-top:none;
	position: relative;
	padding-bottom:150px;
	margin-bottom:10px;
	@include breakpoint(from-small) { // container is full width
		@include grid(100);
	}
	@include breakpoint(from-medium) { // container is 100% width
		@include grid(50);
	}
	@include breakpoint(from-large) { // container is 75% width
		@include grid(33);
		min-height:400px;
	}

	a:hover {
		text-decoration:none;
	}


	&__top-heading {
		color: #FFF;
		text-align:center;
		line-height:20px;
		padding:15px 25px;
		line-height:20px;
		position: relative;
		font-family:$font-family--special;
		text-transform:uppercase;
		font-size:18px;
		background:$primary-color;
		z-index: 0;
		&:before {
			content:'';
			top:0;
			left:0;
			position: absolute;
			background:url(../images/package-headline-icon.svg) top center no-repeat;
			height:75px;
			width:53px;
			z-index: -1;
		}

		&:after {
			z-index: -2;
			content:'';
			height:50px;
			background:$primary-color;
			width:100%;
			position: absolute;
			top:0;
			left:0;
		}
	}

	&__title {
		text-align:center;
		font-size:23px !important; // inline fix for conflicts with overlay titles
		color: $black;
		padding:30px 15px 10px 15px;
		line-height:1;
	}

	&__intro {
		padding:0 15px;
		p {
			padding:0 10px;
			text-align:center;
			font-size:17px;
		}
		ul {
			@extend %ul-styles;
			margin-bottom:5px;

			li {
				color: $black;
				font-size:15px;
			}
		}
	}

	&__footer {
		position: absolute;
		bottom:60px;
		width:100%;
	}
	&__pirce {
		color: $primary-color;
		font-family:$font-family--heading;
		text-transform:uppercase;
		text-align:center;
		font-size:22px;
	}

	&__monthly {
		text-transform:uppercase;
		color:$black;
		border:2px solid $primary-color;
		line-height:25px;
		border-radius:6px;
		padding:0;
		margin:0 auto;
		width:190px;
		display: block;
		float:none;
		text-align:center;
	}

	&__btn {
		position: absolute;
		bottom:0;
		@include grid(50);
		line-height:38px;
		border:2px solid #000;
		text-align:center;
		font-family:$font-family--heading;
		text-transform:uppercase;
		font-size:14px;
		&:hover {
			background:$primary-color;
			color: #FFF;
			text-decoration:none;
			border-color:$primary-color;
		}

		&--buy-now {
			background:#000;
			color: #FFF;
			left:0;
			//border-right:1px solid $black;

		}
		&--more-info {
			//border-left:1px solid $black;
			right:0;
			color: #000;
			background:#FFF;
		}
	}


}
