// styles for the text and image row
.packages-row {


	background:#FFF;
	padding:0;

	@include breakpoint(from-large) {
	    padding:0;
	}
	ul {
		//@extend %ul-styles;
		margin:5px 0 ;
	}

	h3{
		font-size: 22px;
		//letter-spacing: 1.5px;
		font-family: $font-family--body;
		font-weight: bold;

		@include breakpoint(to-medium)
		{
			font-size: 14px !important;
			line-height: 15px !important;
		}
	}


	&__packages {
		background-color: $background-color-body;
		@extend %grid-block-collapse;
		@include grid(100);
		padding:65px 10px 10px 10px;

		@include breakpoint(from-medium) {
			@include grid(50);
			padding:65px 70px 10px 70px;
		}

		h2 {
			@include breakpoint(to-medium){
				text-align: center;
			}
			padding-bottom: 20px;
		}
		ul
		{
			list-style: none;
		}

		ul li.selection {
			@extend %grid-block;
			margin-top: 5px;
			margin-bottom: 5px;
			display: table;
			list-style-type: none;
		}
	}

	&__note
	{
		margin-top: 15px;
		text-align:center;

	}
	// Buy Now button
	&__buy-now {
		//white-space: nowrap;
		margin: 0 auto;
		//width:150px;
		line-height:150%;
		margin-bottom: 5px;
		color: $black;

		text-align:center;
		text-transform:uppercase;
		font-family:$font-family--heading;
		background: $nav-background-color ;
		padding: 10px;
		display: inline-block;

		&:hover {
			color: $black;
			text-decoration:none;
		}
	}
	&__buy-now-container {
		text-align:center;
	}





	&__rows {
		padding:0;
		display:flex;
		ul {
			width: 100%;
		}
		ul li.selection {

			padding: 0;
			@include grid(100);
			margin: 0 0 20px 0;

			.btn a {

				background: $btn-gradient-outside; /* Old browsers */
				background: -moz-linear-gradient(top, $btn-gradient-outside 0%, $btn-gradient-inside 50%, $btn-gradient-outside 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, #001922 0%,#003546 50%,$btn-gradient-inside 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, $btn-gradient-outside 0%,$btn-gradient-inside 50%,$btn-gradient-outside 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn-gradient-outside', endColorstr='$btn-gradient-outside',GradientType=0 );

				height: 100px;
				width:100%;
				line-height:150%;

				color: #FFF;
				display:block;
				cursor: pointer;
				text-align:center;
				vertical-align:middle;
				text-transform:uppercase;
				font-size: 20px;

				//letter-spacing: 1.5px;
				font-family: "DIN","HelveticaNeue","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
				font-weight: bold;
				//background: #000000;
				//padding: 37px 10px 10px 10px;
				//letter-spacing: 0px;

				position: relative;
				span.title {
					position: absolute;
					left: 50%;
					top: 50%;
					-webkit-transform: translateX(-50%) translateY(-50%);
					-moz-transform: translateX(-50%) translateY(-50%);
					-ms-transform: translateX(-50%) translateY(-50%);
					-o-transform: translateX(-50%) translateY(-50%);
					transform: translateX(-50%) translateY(-50%);
					white-space: nowrap;
					@include breakpoint(to-medium)
					{
						font-size: 15px !important;

					}


				}

				span.arrow {
					position:absolute;
					top: 10px;
					left: 25px;
					text-align: center;

					display: inline-block;
					width: 20px;
					height: 20px;
					border: 8px solid $nav-background-color;
//border-top: 6px;
					border-radius: 50%;
					margin-left: 1px;
					line-height: 0px;
					background-color: $nav-background-color;

					&:after {
						content: '';
						display: inline-block;
						margin-top: -2px;
						margin-left: -4px;
						//border-top: 6px;
						width: 10px;
						height: 10px;
						line-height: 0;
						border-top: 4px solid #003344;
						border-right: 4px solid #003344;


						-moz-transform:  translate(0, -1px) rotate(45deg) ;
						-webkit-transform:translate(0, -1px)  rotate(45deg) ;
						-ms-transform:translate(0, -1px)  rotate(45deg) ;
						-o-transform:translate(0, -1px)  rotate(45deg) ;
						transform:  translate(0, -1px) rotate(45deg);
					}

					@include breakpoint(from-medium){
						display: none;
					}
				}
				&:hover {
					//border:3px solid $nav-background-color;
					@include breakpoint(from-medium){
						text-decoration:none;
					}

				}


				@include breakpoint(to-medium){
					height:40px;
				}
			}
			a.selected {
				@include breakpoint(from-medium) {
					color: $primary-color;
					border: 7px solid $nav-background-color;
				}

				span.arrow:after {
					margin-left: -3px;
					margin-top: -5px;

					-moz-transform: translate(0, -2px) rotate(135deg);
					-webkit-transform: translate(0, -2px) rotate(135deg);
					-ms-transform: translate(0, -2px) rotate(135deg);
					-o-transform: translate(0, -2px) rotate(135deg);
					transform: translate(0, -2px) rotate(135deg);
				}

			}
		}
	}
    //
	//&__boxes {
	//	display:flex;
	//	ul li {
    //
	//		@include grid(33);
	//		padding-left: 5px;
	//		padding-right: 5px;
	//		@include breakpoint(to-medium) {
	//			@include grid(100);
	//			//margin-top:36px;
	//		}
    //
	//		.btn a {
	//			width:100%;
	//			line-height:150%;
	//			border:3px solid $primary-color;
	//			color: #FFF;
	//			display:block;
	//			cursor: pointer;
	//			text-align:center;
	//			vertical-align:middle;
	//			text-transform:uppercase;
	//			font-family:$font-family--heading;
	//			background: #000000;
	//			padding: 5px 5px 10px 10px;
	//			letter-spacing: 0px;
    //
	//			&:hover {
	//				border:3px solid $nav-background-color;
    //
	//			}
	//			span {
	//				line-height:150%;
	//				display: inline-block;
	//				vertical-align: middle;
	//			}
    //
	//		}
	//		a.selected {
	//			border:5px solid $nav-background-color;
	//		}
	//	}
	//}
    //

	&__social {

		padding: 0px 30px 0 30px;
		@include breakpoint(to-medium){
			padding: 0px 15px 0 15px;
		}

		display:block;
		text-align: right;
		margin-bottom: 20px;
		height:40px;
		@include breakpoint(to-medium){
			height: 20px;
			margin-bottom: 5px;
		}
		font-family: $font-family--special;
		text-transform:uppercase;

		ul {
			height: 40px;
			list-style-type: none;
			margin: 0;
			padding: 0;
			//float:right;
			overflow: hidden;
			text-align: center;
			@include breakpoint(to-medium){
				height: 20px;
			}
		}
		ul li {
			//display: inline;
			float: right;
			border-right: 2px solid #2b99b9;
		}
		ul li:first-child{
			border-right: 0;
		}
		ul li a {
			height: 40px;
			display: block;
			text-decoration: none;
			color: #fff;
			background-color: #33b4d9;
			font-size: 18px;
			padding: 10px 1em;

			@include breakpoint(to-medium){
				display:block;
				text-align:center;
				padding: 0;
			}


			img {
				display: inline;
				margin-left: 10px;
			}
			.fa
			{
				@include breakpoint(to-medium){
					font-size: 10px !important;
				}
				@include breakpoint(from-medium){
					font-size: 18px !important;
				}

			}
			@include breakpoint(to-medium){
				height: 20px;
				width: 20px;
			}
		}
		ul li.share a {

			padding-left: 30px;
			@include breakpoint(to-medium){
				padding: 4px;
				padding-left: 10px;
				font-size: 10px;
				width: 65px;
			}
			img {
				@include breakpoint(to-medium){
					width: 15px;
					margin-left: 5px;
				}
			}
		}
	}


	&__next_prev {
		padding: 0;
		display:block;
		text-align: right;
		opacity: 0.7;
		float: right;
		position: relative;
		z-index:999;
		text-transform:uppercase;
		vertical-align: middle;
		a {
			font-size: 14px;
			cursor: pointer;
		}
		.prev {
			border-bottom-left-radius:10px;
			padding: 2px 8px 2px 4px;
		}
		.next {
			border-left: 2px solid #505050;
			border-right: 0;
			padding: 2px 4px 2px 8px;
		}
		i {
			font-size: 25px;
			margin: 0 5px;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			//float:right;
			overflow: hidden;
			text-align: center;
		}
		ul li {
			//display: inline;
			float: right;
			border-right: 0;
		}
		ul li:last_child{

		}
		ul li a {
			display: block;
			text-decoration: none;

			color: #fff;
			background-color: #000000;
			&:hover {
				background-color: #676767;
				}

			div {
				display: inline-flex; /* make element size relative to content */
				align-items: center; /* vertical alignment of contents */
				line-height: 40px; /* control height with line-height or padding */
				padding: 0px 10px; /* horizontal with padding-l/r */
				border: 1px solid #ccc;
			}
		}
	}


	&__next_prev_bottom {
		padding: 0;
		display:block;
		bottom: 0;
		text-align: right;
		opacity: 0.7;
		float: right;
		position: absolute;
		right: 0;
		z-index:999;
		text-transform:uppercase;
		vertical-align: middle;
		font-size: 14px;
		a {
			font-size: 14px;
		}
		.prev {
			border-top-left-radius:10px;
			padding: 2px 8px 2px 4px;
		}
		.next {
			border-left: 2px solid #505050;
			border-right: 0;
			padding: 2px 4px 2px 8px;
		}
		i {
			font-size: 25px;
			margin: 0 5px;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			//float:right;
			overflow: hidden;
			text-align: center;
		}
		ul li {
			//display: inline;
			float: right;
			border-right: 0;
		}
		ul li:last_child{

		}
		ul li a {
			display: block;
			text-decoration: none;

			color: #fff;
			background-color: #000000;
			&:hover {
				background-color: #676767;
			}

			div {
				display: inline-flex; /* make element size relative to content */
				align-items: center; /* vertical alignment of contents */
				line-height: 40px; /* control height with line-height or padding */
				padding: 0px 10px; /* horizontal with padding-l/r */
				border: 1px solid #ccc;
			}
		}
	}
	&__seating-map
	{
		padding: 0px 30px 0 30px;
		@include breakpoint(to-medium){
			padding: 0px 15px 0 15px;
		}

		h3 {

			padding-top: 35px;
			@include breakpoint(to-medium){
				padding-top: 15px;
			}
			padding-bottom: 0;

		}
		h3.black {
			padding-top: 0px;
			color: $black;
		}

		&--title {
			margin-top: 15px;
			font-size: 16px;
			color: white;
			min-height: 40px;
			background-color: black;
			text-align: left;
			line-height: 40px;
			padding: 0 20px;
			text-transform:uppercase;
			@include breakpoint(to-medium){
				margin-top: 10px;
			}
		}

		.img {
		//	width: 100%;
			position: relative;
		}
		img {
			width: 100%;
		}
		&--zoom {
			height: 40px;
			width: 40px;
			position:absolute;
			right: 0px;
			background: url(/wp-content/themes/sharks-membership/assets/images/zoom.png) no-repeat scroll center top $primary-color;
		}
	}

	&__benefits
	{
		@include breakpoint(to-medium){
			padding: 0px 10px 0 10px;
		}
		padding: 0px 30px 0 30px;

		h3 {
			padding-top: 35px;
			@include breakpoint(to-medium){
				padding-top: 15px;
			}
		}
		ul {
			@extend %ul-styles;

		}
		@include grid(100);
		ul li {
			padding-bottom: 0px;
			font-size: 17px;
			line-height: 25px;
			@include breakpoint(to-medium){
				font-size: 12px;
				line-height: 16px;
				padding-left: 15px;
			}
		}
		.details {
			background-color: $background-color-body;
			padding: 20px 20px 20px 20px;
			@include breakpoint(to-medium){
				padding: 10px;
			}
		}

		//h3 {
		//	margin: 0px;
		//	text-align: center;
		//	padding-top: 2px;
		//	padding-bottom: 0px;
		//	font-size: 20px;
		//	color: #000000;
		//}
		//@include breakpoint(from-medium) {
		//	@include grid(50);
		//	padding:35px 0;
		//}
	}




	&__details {
		//display: none;

		.title-row {
			padding:65px 30px 0 30px;
			background-color: $primary-color;
			h2 {
				color: #FFFFFF;
				padding-bottom: 20px;
			}


		}


		.price-table {
			padding: 25px 30px 0 30px;
			h3 {

			}


			.table-helper {
				@include breakpoint(from-large) {
					display: none;
				}
			}
			//overflow: scroll;
			ul {
				width:100%;
				margin: 0;
			}

			li {
				width:100%;
				list-style:none;
				display: block;
				@extend %clearfix;
				line-height:25px;
				font-size:18px;
				padding:5px 0;
				margin:0;
				&:before {
					display: none;
				}
			}
			li.table-head {
				font-size: 20px;
				//letter-spacing: 2px;
				display: inline-block;
				width:100%;
				background:$black;
				color: #FFF;
				font-family:$font-family--special;
				text-transform:uppercase;
				padding:0;
				&:after {
					display: none;
				}
			}
			li.table-row {
				background:#E4F4FC;
				padding:0px ;

				&:nth-child(even) {
					background:#E4F4FC;
				}
				&:nth-child(odd) {
					background:#F1F9FE;
				}
			}

			.table-col {
				display: inline-block;
				float:left;

				padding:5px 10px;
				text-align: center;
				text-overflow:wrap;
				&.title {
					text-align: left;
					padding-left: 25px;
					width:60%;
					@include breakpoint(to-medium){
						padding-left: 10px;
					}
				}
				&.price {
					text-align: right;
					padding-right: 15px;
					@include breakpoint(to-medium){
						padding-right: 10px;
					}

					width:40%;
				}

				&.title_renew {
					text-align: left;
					padding-left: 25px;
					@include breakpoint(to-medium){
						padding-left: 10px;
					}

					width:50%;
				}
				&.price_renew {
					text-align: right;
					padding-right: 15px;
					@include breakpoint(to-medium){
						padding-right: 10px;
					}
					width:25%;
				}

			}

		}

	}


	// Package details that appear within the buttons section - small screen

	&__inline_package_details {
		&_container {
			display: block;
			@include breakpoint(from-medium) {
				display:none;
			}
		}
		background-color: white;
		padding-bottom: 30px;
		.details{
			display: flex;
			ul li {
				padding-left: 10px;
				margin: 0 !important;
			}
		}

		//h3 {
		//	font-size: 18px;
		//}


		.price-table {
			padding: 10px 10px 0 10px;


			li {
				font-size: 12px;
			}
			li.table-head {
				padding-top: 14px;
				font-size: 11px;
				line-height: 11px;
				height: 35px;
			}
			li.table-row {
				//height:20px;
			}
			.table-col {
				display: inline-block;
				float: left;
				//height: 20px;

				padding: 0px 10px;

				&.title {
					text-align: left;
					padding-left: 10px;
					width: 50%;
				}
				&.price {
					text-align: right;
					padding-right: 10px;
					width: 50%;
				}
				&.title_renew {
					text-align: left;
					//padding-left: 15px;
					width: 50%;
				}
			}
		}

	}



	// Package details that appear on the right - medium+size

	&__out_package_details  {
		padding-bottom: 65px;


		@include breakpoint(from-medium) {
			float: left;
			display: block;
			@include grid(50);
			float:right;
		}

		@include breakpoint(to-medium)
		{
			display:none;
		}
		@include breakpoint(from-medium)
		{
			display:block;
		}
	}


}



