// styles for the text and image row
.content-row_text_image {
	background:#FFF;

	@include breakpoint(from-large) {
	    //padding:0;
	}
	ul {
		@extend %ul-styles;
		margin:5px 0 ;
	}

	&__title {
		@include grid(100);
	}
	&__copy {
		@extend %grid-block-collapse;
		@include grid(100);
		padding: 15px;
		@include breakpoint(from-medium) {
		    @include grid(50);
		    //padding:35px 0;
		}
	}

	&__image {
		//display: none;
		@include breakpoint(from-medium) {
		    //@extend %grid-block-collapse;
		    display: block;
		    @include grid(50);
		    float:right;
		}
		img {
			width: 100%;
		}
	}

	&__image_description {
		font-size: 18px;
		color: white;
		min-height: 40px;
		background-color: black;
		text-align: right;
		line-height: 40px;
		padding: 0 20px;

	}
	a.btn {
		width: 150px;
		margin-bottom: 5px;
		padding: 10px;
		color: $white;
		background: $primary-color;
		border: 3px solid $primary-color;
		display:inline;
		cursor: pointer;
		vertical-align:middle;
		text-transform:uppercase;
		font-family: $font-family--heading;
		@include breakpoint(to-small) {
			width: 100%;
			font-size: 12px;
		}

		&:hover {
			color: $primary-color;
			background: none;
			text-decoration:none;
		}
	}
}

 // styles to overwrite for highlight row (full width blue)
.content-row--highlight {
	background:$primary-color;

	.content-row__copy {
		float:right; // to trump default
		h1, h2, h3,h4,h5,h6, p, li {
			color: #FFF;
		}

		ul li:before {
			color: #FFF;
		}

		a.btn {
			color: #FFF;
			border-color:#FFF;

			&:hover {
				background:$black;
				border-color:$black;
			}
		}
	}
	.content-row__image {

	}
}
