// styles for the text and image row

//
//<i class="arrow fa fa-angle-down"></i>
//.arrow.fa {
//	padding: 1px 4px;
//	display: inline-block;
//	-moz-border-radius: 20px;
//	-webkit-border-radius: 20px;
//	border-radius: 20px;
//	background-color: #d7bc83;
//	font-weight: 900;
//	color: white;
//}

.mix {
	display: none;
}
//
//.selectric-wrapper
//{
//	@include breakpoint(to-medium) {
//		padding-right: 22px;
//	}
//}




//.select2-container {
//
//	.selection {
//		.select2-container--default{
//			border: 2px solid #B5BBC2;
//			background: #FFFFFF;
//			position: relative;
//			border-radius: 0px;
//			padding: 0;
//		}
//
//	}
//}


.select-arrow {
	margin-top: 7px;
}
.help_me-row {
	background:#FFF;
	padding: 0 10px;
	@include breakpoint(from-large) {
	    padding:0;
	}

    // &__refine-container {
    //
    // ckground: url("../images/refine-background.jpg") no-repeat center;
    //   	background-color: #76bbc4;
    // ckground-size: cover;
    // }

    &__results-container {

		.container {
			min-height: 560px;
			max-width: 100%;
			background-color: $black;
			@include breakpoint(to-large) {
				overflow-x: hidden;
			}
		}

		h2 {
			padding-bottom: 50px;
			color: $white;
			text-align: center;
		}

		.player {
			position: absolute;
			display: inherit;
			height: 600px;
			bottom: 0;
			@include breakpoint(to-large) {
				display:none;
			}

			img {
				height: 600px;
			}
		}

		.player_right {
			right: -310px;
		}

		.player_left {
			left: -310px;
		}

		.buttons {
			border: 1px solid $black; // invisible but if removed, entire div.button is displaced
			margin-bottom: 95px;
			@include display-flex;
			@include flex-flow(row wrap);
			@include justify-content(center);
			@include breakpoint(to-small) {
				margin-bottom: 40px;
			}

			.all-memberships {

				a.btn {
					width: 480px;
					height: 94px;
					margin: 15px;
					color: $white;
					border: 1px solid $primary-color;
					@include display-flex;
					@include align-items(center);
					@include justify-content(center);
					@include breakpoint(to-medium) {
						width: 360px;
						margin: 15px;
					}
					@include breakpoint(to-small) {
						width: 260px;
						height: 48px;
						margin: 15px auto;
					}

					&:hover {
						background-color: $primary-color;
					}

					span {
						font-size: 32px;
						@include breakpoint(to-small) {
							font-size: 14px;
							letter-spacing: 1px;
						}
					}
				}
			}

			.request-a-call {
				@extend .all-memberships;

			}
		}
    }

	// &__refine {
	// 	@extend %grid-block-collapse;
	// 	@include grid(100);
	// 	padding:20px 10px;
	// 	text-align: center;
	// 	@include breakpoint(from-medium) {
	// 	    @include grid(100);
	// 	    padding:35px 0;
	// 	}
	//
	// 	h1 {
	// 		font-size: 40px;
	// 		letter-spacing: 0;
	// 		@include breakpoint(to-medium) {
	// 			font-size: 23px;
	// 		}
	// 	}
	//
	// 	p {
	// 		text-align:center;
	// 		@include breakpoint(to-medium) {
	// 			margin: 0 30px;
	// 		}
	// 	}
	// 	.selection {
	// 		@include grid(100);
	// 		width: 100%;
	// 		text-align: center;
	// 		font-family: $font-family--body;
	// 		display: inline-block;
	// 		float: left;
	// 		padding-right: 20px;
	//
	// 		.selection_refine {
	// 			@include grid(100);
	// 			@include breakpoint(from-medium) {
	// 				@include grid(30);
	// 			}
	// 			//@extend %grid-block;
	// 			margin: 0 15px;
	// 			display: inline-block;
	// 		}
	//
	// 		h3 {
	// 			font-family: $font-family--heading;
	// 			font-size: 13px;
	// 			color: $black;
	// 		}
	// 	}
	// }
	//
	//
	// &__results-container {
	// 	-webkit-box-shadow: 0px -7px 10px 0px rgba(0,0,0,0.4);
	// 	-moz-box-shadow: 0px -7px 10px 0px rgba(0,0,0,0.4);
	// 	box-shadow: 0px -7px 10px 0px rgba(0,0,0,0.4);
	// 	z-index: 99;
	// 	position: relative;
	//
	// }

	&__packages {
		padding: 88px 0 51px;
		background-color: $black;
		@include display-flex;
		@include flex-flow(column wrap);
		@include justify-content(center);
		@include breakpoint(from-medium) {
		// 	float: left;
		//     display: block;
		//     @include grid(100);
		//     float:right;
		}
		@include breakpoint(to-small) {
			padding: 44px 0 25px;
		}

		.package_details {
			// display: inline-flex;
			// @include grid(33);
		}

		.results{
			margin: 0 auto;
			text-align: center;
			@include display-flex;
			@include flex-flow(row wrap);
			@include justify-content(center);
			@include breakpoint(to-large) {
				width: 840px;
			}
			@include breakpoint(to-medium) {
				width: 100%;
			}
		}

		&--group_details {
			// display: inline-block;
			width: 270px;
			height: 440px;
			margin: 10px;
			color: white;
			position: relative;

			div.bg {
				width: 100%;
				height: 100%;
				background: $btn-gradient-inside; /* Old browsers */
				background: -moz-linear-gradient(bottom, $primary-color 0%, $btn-gradient-inside 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(bottom, $primary-color 0%, $btn-gradient-inside 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to top, $primary-color 0%, $btn-gradient-inside 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn-gradient-inside', endColorstr='$btn-gradient-inside', GradientType=0 );

				div.title {
					height: 110px;
					width:100%;
					position:relative;
					text-align: center;

					h3 {
						height: 100%;
						width: inherit;
						padding: 30px 20px;
					}
				}

				div.details {
					height: 80px;
					width: 100%;
					text-align: center;

					div.descriptor {
						font-size: 18px;
					}

					div.price {
						font-family: $font-family--microgramma ;
						font-size: 22px;
					}

					div.subtext {
						font-size: 14px;
					}
				}

				div.action {
					@include display-flex;
					@include justify-content(center);

					a.btn {
						color: $black;
						background-color: $white;
						border: 3px solid $white;

						&:hover {
							color: $white;
							background-color: transparent;
						}
					}
				}

				div.image {
					width: 100%;

					padding: 0;
					text-align: center;
					position: absolute;
					bottom: 0;
					img {
						display : block;
						margin : auto;
					}

				}

				div.sold_out {
					position: absolute;
					right:0;
					bottom: 0;
				}

				h3 {
					position: absolute;
					left: 50%;
					top: 50%;
					-webkit-transform: translateX(-50%) translateY(-50%);
					-moz-transform: translateX(-50%) translateY(-50%);
					-ms-transform: translateX(-50%) translateY(-50%);
					-o-transform: translateX(-50%) translateY(-50%);
					transform: translateX(-50%) translateY(-50%);
					color: $white;
					font-family: $font-family--heading;
					letter-spacing: 1.5px;
					font-size: 20px;

				}
			}
		}
	}
}
