// styles for the faq row

.download-item {
	@extend %grid-block;
	@include grid(100);
	@include breakpoint(from-medium) {
	    @include grid(33);
	}
	@include breakpoint(from-large) {
	    @include grid(33);
	    padding:20px;
	}

	a {
		display: inline-block;
		border:2px solid $primary-color;
		border-radius:4px;

		img {
			width:100%;
		}
		p {
			text-align:center;
		}
	}

}