// .main--sub-page {
// 	padding: 30px 50px !important; // removes the default padding
// }

div.events-page {
     padding: 30px 50px;
     @include display-flex;
     @include flex-flow(row wrap);
     @include breakpoint(to-large) {
          @include justify-content(center);
     }
     @include breakpoint(to-medium) {
          padding: 30px 10px;
     }

     div.event-block {
          width: 315px;
          height: auto;
          margin: 0 20px;
          position: relative;

          img.event-block__image {
               width: 100%;
               height: 200px;
               background: $mid-grey;
          }

          div.event-block__info {
               width: 100%;
               height: auto;
               min-height: 285px;
               padding: 20px;
               position: relative;
               background-color: $light-blue;
               @include breakpoint(to-small) {
                    min-height:  auto;
               }

               div.event-info__title {
                    display: block;
                    margin-bottom: 12px;
                    color: $primary-color;
                    font-size: 25px;
                    font-family: $font-family--dinbold;
                    line-height: 1;
                    text-align: left;
                    text-transform: uppercase;
               }

               div.event-info__date {
                    display: block;
                    width: 100%;
                    margin-bottom: 4px;
                    color: $primary-color;
                    font-family: $font-family--din;
                    font-size: 16px;
                    text-transform: capitalize;

                    span {
                         width: 70%;
                         float: right;
                    }
               }

               div.event-info__time {
                    @extend .event-info__date;
                    margin-bottom: 9px;

                    span {
                         text-transform: lowercase;
                    }
               }

               div.event-info__description {
                    display: block;
                    font-family: $font-family--din;
                    font-size: 14px;
               }

               div.event-info__action {
                    bottom: 20px;

                    a.btn {
                         width: 100%;
                         min-height: 40px;
                         margin-top: 20px;
                         color: $white;
                         background: $primary-color;
                         font-size: 16px;
                         @include display-flex;
                         @include justify-content(center);
                         @include align-items(center);
                         @include breakpoint(to-medium) {
                              padding: 0 15px;
                         }

                         &:hover {
                              color: $primary-color;
                              background: transparent;
                         }

                         span {
                              @include breakpoint(to-small) {
                                   font-size: 12px;
                                   // letter-spacing: 1px;
                              }
                         }
                    }
               }
          }
     }
}
