// family pricing styles

.membership-table--family {
	padding:0 10px;


	overflow:scroll;
	@include breakpoint(from-large) {
		padding:0;
		padding-bottom:20px;

		p.table-helper {
			display: none;
		}
	}

	ul {

		width:1100px;
	}
	ul li {
		list-style:none;
		display: block;
		@extend %clearfix;
	}

	li {
		@extend %clearfix;
		line-height:25px;
		font-size:18px;
		padding:5px 0;
	}
	li.table-head {
		background:$black;
		color: #FFF;
		font-family:$font-family--special;
		text-transform:uppercase;
	}
	li.table-row {
		background:#E4F4FC;

		&:nth-child(even) {
			background:#E4F4FC;
		}
		&:nth-child(odd) {
			background:#F1F9FE;
		}
	}

	li.table-new {
		padding:0;
		.table-col--season-new {
			@include grid(60);
			background:$primary-color;
			text-align:center;
			float:right;
			display: block;
		}
	}

	.table-col {
		@extend %grid-block;
		@include grid(10);
		float:left;
	}
	.table-col--title {
		@include grid(30);
	}

}
