// help me choose page styles
.main--help-me-choose-page {
	min-height:400px;
	padding:30px 0;
}
.help-me-decide {
	position: relative;


	// intro /  help text
	&__help-text {
		@extend %grid-block;
		padding:0px 20px 20px 20px;

		@include grid(100);
		@include breakpoint(from-large) {
			position: absolute;
			color: #FFF;
		    @include grid(50);
		    top:-200px;
		    right:0;
		    padding:40px 0;
		}
	}

	h6.heading-title {
		font-family:$font-family--body;
		font-size:20px;
		padding:10px 20px;
		padding-right:100px;
	}

	.question {
		@extend %clearfix;
		padding-top:2px;
		position: relative;
		.heading {
			transition: all 300ms ease-in;
			background:$primary-color;

			h6.heading-title {
				color: #FFF;
			}
		} // heading
		h2.question-text {

			@extend %grid-block;
			@include grid(100);
			max-width:1000px;
			padding:20px;
			@include breakpoint(from-medium) {
				padding:40px;
			    padding-right:200px;
			}
		}

		.question-answers {
			@extend %grid-block;
			width:175px;
			left:50%;
			margin-left:-88px;
			position: relative;

			@include breakpoint(from-medium) {
				position: absolute;
				top:70px;
				right:20px;
				margin-left:0;
				left:auto;
			}

			.btn--answer {
				width:175px;
				margin:5px 0;
				display: inline-block;
				padding:0 25px;
				border:3px solid $primary-color;
				text-align:center;
				line-height:43px;
				color: $black;
				background:#FFF;
				font-family:$font-family--heading;
				text-transform:uppercase;
				font-size:14px;
				border-radius:6px;
				&:hover {
					background:$primary-color;
					text-decoration:none;
					color: #FFF;
					border-color:$primary-color;
				}
			}
		}

		.response-answer {
			position: absolute;
			top:0;
			right:20px;
			padding-right:30px;
			line-height:50px;
			color: #008FC5;
			background:url(../images/choose-arrow--down.svg) center right no-repeat;
			background-size:12px 12px;
			width:100px;
			height:50px;
			text-align:right;
		}

		// if a question has the answered class
		&.answered {

			.heading {
				background:#F5FBFE;
				h6.heading-title {
					color: $primary-color;
				}

			}

			.response {
				//display: none;
			}
			.question-wrap {
				display: none;
			}

			.response-answer {
				color: #008FC5;
				background:url(../images/choose-arrow--right.svg) center right no-repeat;
			}
		} // answered

		&.open {
			.question-wrap {
				display: block !important;
			}
		}
	} // question


	.suggested-packages-wrap {
		transition: all 300ms ease-in;
		padding-top:2px;
		@extend %grid-block-collapse;
		@extend %clearfix;
		@include grid(100);
		display: none;

		.heading {
			h6.heading-title {
				color: #FFF;
			}
			background:url(../images/choose-arrow--down.svg) center right 20px no-repeat $primary-color;
			background-size:12px 12px;
		}

		&.loaded {
			display: block;
		}
	}
} // help-me-decide wrapper to avoid clashes


a.help-me-choose-icon {
	@extend %grid-block;
	@include grid(100);
	border:1px solid $primary-color;
	text-align:center;
	@include breakpoint(from-medium) {
	    @include grid(33);
	}
	@include breakpoint(from-large) {
	    @include grid(25);
	    padding:10px;
	}
	img {
		width:160px;
		display: inline-block;
		margin:0 auto;
	}
	h2 {
		text-align:center;
		padding:20px 0 0 0;
		font-size:20px;
		color: #000;
		font-weight:normal;
	}

	&:hover {
		text-decoration:none;
		background:$primary-color;
		color: #FFF;

		h2 {
			color: #FFF;
		}
	}
}
