// styles for the home page template
body.page-template-home-page {
	//background:url(../images/bg-home-large.png) top center no-repeat $background-color;
	background-attachment: fixed;

	@media only screen and (min-width: 1800px) {
		background-size:100% auto;
	}
	// add padding to center text for second row
	.content-row--highlight .content-row__copy {
		@include breakpoint(from-large) {
		    padding:90px 20px 20px 20px;
		}
	}

	.content-row--highlight .content-row__image {
		@include breakpoint(from-large) {
			margin-top:-30px;
		}
	}

	// hiding images from home on small screens to match design
	.content-row__image {
		//display: none;

        iframe {
            margin-top: 30px;
        }

		@include breakpoint(from-medium) {
		    display: inline-block;
		}
	}
}

//.home-banner {
//	position: relative;
//	display: block;
//	margin-top:-50px; // to get the vh below to work correctly
//	height:580px;
//	width: 100%;
//	overflow:hidden;
//
//	@include breakpoint(from-medium) {
//	    height:auto;
//	    margin-top:0;
//	}
//	@include breakpoint(from-large) {
//	    height:565px;
//	    top:-15px;
//		margin-bottom:-15px;
//		z-index: 150;
//	}
//	.container--top {
//		display: block;
//		height:600px;
//		@include breakpoint(from-medium) {
//		    height:560px;
//		}
//	}
//	// commented out and replaced with tagline SVG
//	// &__copy {
//	// 	width:110px;
//	// 	position: relative;
//	// 	color: #FFF;
//	// 	top:100px;
//	// 	font-size:40px;
//	// 	left:10px;
//	// 	font-family:$font-family--special;
//	// 	letter-spacing:1px;
//	// 	z-index: 99;
//	// 	@include breakpoint(from-small) {
//	// 		left:0;
//	// 		top:70px;
//	// 		font-size:70px;
//	// 		line-height:0.86;
//	// 		padding-left:18px;
//	// 		width:49%;
//	// 	}
//	// 	@media only screen and (min-width: 720px) {
//	// 		left:0;
//	// 		top:80px;
//	// 		font-size:80px;
//	// 		line-height:0.86;
//	// 		padding-left:18px;
//	// 		width:55%;
//	// 	}
//
//	// 	@include breakpoint(from-medium) {
//	// 		left:0;
//	// 		top:80px;
//	// 		width:490px;
//	// 		font-size:97px;
//	// 		line-height:0.86;
//	// 		padding-left:18px;
//	// 	}
//
//	// 	// styles for the ,
//	// 	i {
//	// 		@include breakpoint(from-large) {
//	// 		    font-size:50px;
//	// 		}
//	// 	}
//	// }
//
//	&__tagline {
//		@extend %grid-block-collapse;
//		@include grid(26);
//		height:100%;
//		position: absolute;
//		top:130px;
//		left:10px;
//		background:url(../images/tagline-small.svg) top center no-repeat;
//		background-size:100% auto;
//		transition: all 300ms ease-in;
//		z-index: 160;
//
//		@include breakpoint(from-small) {
//			top:150px;
//			left:20px;
//			@include grid(50);
//			background:url(../images/tagline-large.svg) top center no-repeat;
//			background-size:100% auto;
//			height:250px;
//		}
//		@include breakpoint(from-large) {
//		    @include grid(37);
//		    height:250px;
//		}
//	}
//	&__image {
//		display: block;
//		width:320px;
//		height:340px;
//		position: absolute;
//		top:80px;
//		right:00px;
//		z-index: 98;
//		background-position:top center;
//		background-repeat:no-repeat;
//		background-size: 320px 340px;
//		@include breakpoint(from-medium) {
//			width:640px;
//			height:680px;
//			background-size: 640px 680px;
//			right:0px;
//			bottom:0;
//			top:0px;
//		}
//		@include breakpoint(from-large) {
//			background-position:bottom center;
//			background-repeat:no-repeat;
//			background-size: 1180px 580px;
//			width:1180px;
//			height:580px;
//			right:-160px;
//			bottom:0;
//		}
//	}
//	.container {
//		max-width:1200px;
//	}
//	&__quicklinks {
//		width:100%;
//		display: block;
//		background:rgba(0,0,0,0.5);
//
//		bottom:10px;
//		position: absolute;
//		z-index: 99;
//
//		@include breakpoint(from-large) {
//		    min-height:160px;
//		    bottom:0;
//		}
//
//		ul {
//			margin:0;
//			padding:0;
//		}
//		ul li {
//			@extend %grid-block;
//			@include grid(100);
//			margin-top:15px;
//			display: table;
//			@include breakpoint(from-medium) {
//			    @include grid(33);
//			    margin-top:36px;
//			}
//
//			a {
//				width:100%;
//				line-height:40px;
//				border:3px solid $primary-color;
//				color: #FFF;
//				display: table-cell;
//				text-align:center;
//				font-weight:bold;
//				vertical-align:middle;
//				text-transform:uppercase;
//				font-family:$font-family--heading;
//				background:$primary-color;
//				@include breakpoint(from-large) {
//					height:90px;
//					font-size:28px;
//					line-height:25px;
//					padding:0 50px;
//				}
//				&:hover {
//					background:none;
//					text-decoration:none;
//				}
//			}
//		}
//	}
//}




