// junior pricing styles

.membership-table--junior {
	padding:0 10px;

	@include breakpoint(from-large) {
		padding:0;
		padding-bottom:20px;
	}

	ul {
		@include grid(100);
		@include breakpoint(from-medium) {
		    @include grid(50);
		}
	}
	ul li {
		list-style:none;
		display: block;
		@extend %clearfix;
	}

	li {
		@extend %clearfix;
		line-height:35px;
		font-size:18px;
	}
	li.table-head {
		background:$black;
		color: #FFF;
		font-family:$font-family--special;
		text-transform:uppercase;
	}
	li.table-row {
		background:#E4F4FC;

		&:nth-child(even) {
			background:#E4F4FC;
		}
		&:nth-child(odd) {
			background:#F1F9FE;
		}
	}

	li.tabel-row-id-63 .table-col--title,
	li.tabel-row-id-162  .table-col--title {
		position: relative;
		display: block;

		@include breakpoint(from-large) {

		    &:after {
		    	content:'new in 2016';
		    	//position: absolute;
		    	background:$primary-color;
		    	padding:0 15px;
		    	display: inline-block;
		    	font-size:13px;
		    	width:auto;
		    	float:right;
		    	margin:2px;
		    	color: #FFF;
		    	text-transform:uppercase;
		    }
		}

	}
	.table-col {
		@extend %grid-block;
		@include grid(20);
		float:left;
	}
	.table-col--title {
		@include grid(60);
	}

}