
section.member-benefits-page {
	padding: 60px 70px;
	background-color: $white;
	@include breakpoint(to-small) {
		padding: 30px 35px;
	}

	h2 {
		@include breakpoint(to-medium) {
			font-size: 25px;
		}
		@include breakpoint(from-medium) {
			padding-left: 10px;
		}
		@include breakpoint(to-small) {
			text-align: center;
		}
	}

	div.container {

		div.member-benefits-page__list {
			margin-bottom: 60px;
			@include display-flex;
			@include flex-flow(row wrap);
			@include breakpoint(to-large) {
				@include justify-content(center);
			}

			div.benefit {
				width: 230px;
				height: 230px;
				margin: 15px;
				background-color: #e5f4fd;

				a {
					text-decoration: none;

				}

				div.image {
					width: 100%;
					height: 100px;
					margin: 20px 0;
					position: relative;
					@include display-flex;
					@include justify-content(center);
					@include align-items(center);

					img {

					}
				}

				div.title {
					width: 100%;
					margin: 20px 0 10px;
					padding: 0 10px;
					text-align: center;
					font-family: $font-family--body;
					color: $primary-color;
					font-size: 22px;
					line-height: 22px;
				}

				div.description {
					padding: 0 10px;
					text-align: center;
					font-family: $font-family--body;
					font-size: 16px;
					line-height: 16px;
				}
			}

			div.dark {
				background: $btn-gradient-outside; /* Old browsers */
				background: -moz-linear-gradient(top, $btn-gradient-outside 0%, $btn-gradient-inside 50%, $btn-gradient-outside 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, #001922 0%,#003546 50%,$btn-gradient-inside 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, $btn-gradient-outside 0%,$btn-gradient-inside 50%,$btn-gradient-outside 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn-gradient-outside', endColorstr='$btn-gradient-outside',GradientType=0 );

				a {
					text-decoration: none;

				}

				div.description {
					color: white;
				}
			}
		}
	}

	hr {
		border: 1px solid $nav-background-color;
		margin-bottom:45px;
	}
}
