// news single styles
.main--news-single .container {
	padding: 70px;
}

.news-single {


	@extend %grid-block-collapse;
	@include grid(100);
	@include breakpoint(from-medium) {
		padding:50px 0;
		@include grid(70);
	}
	@include breakpoint(from-large) {
	    @include grid(76);
	    max-width:890px;
	}

	&__content {
		@include grid(100);

		@include breakpoint(from-medium) {
		    float:right;
		    max-width:600px;
		}
		@include breakpoint(from-large) {
		    max-width:780px;
		}

		h1 {
			font-size:20px;
			padding-top:15px;
			padding-bottom:20px;
			line-height:1;
			margin-left:80px;
			@include breakpoint(from-medium) {
				font-size:40px;
			    margin-left:0;
			    padding-top:7px;
			}
		}

		img {
			margin-top:10px;
			margin-bottom:20px;
			border-top:2px solid $primary-color;
		}
	}

	&__content-full {
		padding:10px;
		@include breakpoint(from-large) {
		    padding:0;
		}
	}
}

.news-sidebar {
	@extend %grid-block-collapse;
	padding-top:30px;
	padding-bottom:20px;
	float:right;

	@include grid(100);
	@include breakpoint(from-medium) {
	    @include grid(28);
	}
	@include breakpoint(from-large) {
	@include grid(24);
	   max-width:280px;
	}

	h3 {
		color: #000;
		border-top:2px solid #CCC;
		border-bottom:2px solid #CCC;
		padding:10px 0;
		text-align:center;
		font-size:26px;

		@include breakpoint(from-large) {
		    padding:45px 0 50px 0;
		}
	}

	&__post {
		padding:20px 0;
		border-bottom:2px solid #CCC;
		h4 {
			font-size:16px;
			text-align:center;
		}

		p {
			text-align:center;
			padding:0 10px 10px 10px;
		}

		a.btn--read-more {
			border-color:#000;
			border-radius:6px;
			display: block;
			margin: 0 auto;
			width:170px;

			&:hover {
				border-color:$primary-color;
			}
		}

	}

}