.package-detail {
	width: 100%;
	max-width: 890px;
	display: block;
	margin: 0 auto;
	padding: 20px 0;

	h2 {
		margin-top:0px;
		font-size:20px;
		@include breakpoint(from-medium) {
			font-size:35px;
		}
	}

	h2.helper-padding-top {
		padding-top:30px;
	}

	blockquote {
		color: $black;
		text-transform:none;
		font-family:$font-family--heading;
		-webkit-font-smoothing: antialiased;
		font-size:19px;
		font-weight:normal;
	}

	&__header {
		display: none;
	}

	%info-padding {
		padding:10px;
		@include breakpoint(from-medium) {
		    padding: 20px 50px;
		}
	}

	&__info {
		@extend %info-padding;
		ul {
			@extend %ul-styles;
		}
	}



	&__pricing {
		@extend %info-padding;

		&.sell_seat .table-col{
			display: inline-block;
			height: 100px;
			line-height: 80px;

			&.table-col--action{
				padding:10px 20px 10px 10px;
			}

			@media only screen and (max-width: 900px) {
				&.table-col--date{
					display:none;
				}
			}

		}
		li {
			@extend %clearfix;
			line-height:25px;
			padding:5px 0;
			font-size:18px;
		}
		li.table-head {
			background:$black;
			color: #FFF;
			font-family:$font-family--special;
			text-transform:uppercase;
		}
		li.table-row {
			background:#E4F4FC;

			&:nth-child(even) {
				background:#E4F4FC;
			}
			&:nth-child(odd) {
				background:#F1F9FE;
			}
		}

		.table-col {
			display: inline-block;
			float: left;
			@include grid(20);
			padding: 10px;

			@include breakpoint(from-medium) {
    			@include grid(20);
			}

			&--title {
				@include grid(35);
				@include breakpoint(from-medium) {
					padding-left: 20px;
				}
			}
			@include breakpoint(from-medium) {
    			@include grid(20);
			}

			&--action {
				padding-right:10px;
				text-align: center;
				padding-top: 5px;
				padding-bottom:0;
				text-align: center;
	               width: auto;
	               float: right;
				//@include grid(20);

				a {
					display: inline-block;
					line-height:35px;
					padding:0 10px;
					background: $primary-color;
					font-family:$font-family--heading;
					color: #FFF;
					text-transform:uppercase;
					font-size:15px;
					text-align:center;

					span {
						display: none;
						@include breakpoint(from-medium) {
						    display: inline-block;
						}
					}

					&:hover {
						background:$black;
						text-decoration:none;
					} // hover
				} // action a
			} // action
		} // table col
	} // pricing

	&__related {
		@extend %info-padding;
		@extend %clearfix;
		.package-item {
			display: block !important;
			@include grid(100);
			//padding-bottom:80px !important;
			//min-height:40px;
			@include breakpoint(from-medium) {
			    @include grid(33);
			}
		}
	}
} // package detail


// Overwrite styles on detail page
body.single-packages {

	.package-detail {
		margin: 0 auto;
		@include breakpoint(from-large) {
		    padding:0;
		    margin:0;
		    div {
			//    	padding-left: 0px;
			//    	padding-right: 0px;
		    }
		}

	}
	.package-detail__header {
		display: none;
	}

	.package-detail .social {
		display:none;
	}
}
