div.seat-return-page {
     height: 100%;
     padding: 60px 70px;
     background-color: $white;
     @include display-flex;
     @include flex-flow(column nowrap);
     @include breakpoint(to-small) {
          padding: 55px 20px;
     }

     div.box-container {
          @include display-flex;
          @include flex-flow(row wrap);
          @include justify-content(space-between);
          @include breakpoint(to-large) {
               @include justify-content(center);
          }

          div.step-box {
               width: 315px;
               height: 250px;
               position: relative;
               color: $white;
               overflow: hidden;
               @include display-flex;
               @include flex-flow(column nowrap);
               @include breakpoint(to-large) {
                    margin: 15px;
               }

               span {
                    width: 100%;
                    display: block;
                    margin-top: 70px;
                    padding: 0 20px;
                    font-family: $font-family--dinmedium;
                    font-size: 15px;
                    text-align: center;
                    z-index: 10;

                    &:last-of-type {
                         width: 100%;
                         display: block;
                         margin: 0;
                         font-family: $font-family--din;
                         font-size: 16px;
                         line-height: 1.2;
                         text-align: center;
                    }
               }

               p {
                    width: 100%;
                    display: block;
                    color: $white;
                    font-family: $font-family--rb;
                    font-size: 24px !important;
                    font-weight: normal;
                    line-height: 1;
                    letter-spacing: 1.5px;
                    text-align: center;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    z-index: 10;
                    @include breakpoint(to-small) {
                         padding: 10px 20px 10px;
                    }
               }

               div.overlay {
                    width: inherit;
                    height: inherit;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.5);
                    @include breakpoint(to-small) {

                    }
               }

               &:hover > div.overlay {
                    background: rgba(0, 0, 0, 0.8);
               }
          }
     }

     div.guide--upper {
          margin-top: 60px;

          h2 {
               font-size: 31px;
               @include breakpoint(to-medium) {
                    font-size: 24px;
               }
          }

          p {
               font-family: $font-family--din;
               font-size: 16px;
               line-height: 1.4;
          }
     }

     div.container--lower {
          @include display-flex;
          @include flex-flow(row wrap);
          @include justify-content(space-between);

          div.guide--lower {
               width: 480px;
               margin-top: 40px;
               float: left;
               @include breakpoint(to-large) {
                    width: 100%;
                    @include display-flex;
                    @include flex-flow(column nowrap);
                    @include justify-content(center);
               }

               h2 {
                    font-size: 31px;
                    @include breakpoint(to-medium) {
                         font-size: 24px;
                    }
               }

               article {

                    p {
                         font-family: $font-family--din;
                         font-size: 16px;
                         line-height: 1.4;
                    }
               }

               a.btn { // check if this exists already, else must modularize
                    width: 337px;
                    height: 45px;
                    margin-top: 10px;
                    color: $white;
                    background-color: $primary-color;
                    border: 2px solid $primary-color;
     			font-family: $font-family--microgramma;
     			font-size: 18px;
                    @include breakpoint(to-medium) {
                         margin: 0 auto;
                         margin-bottom: 20px;
                    }
                    @include breakpoint(to-small) {
                         width: 100%;
                         font-size: 12px;
                         letter-spacing: 1px;
                    }

                    &:hover {
                         color: $primary-color;
                         background-color: $white;
                    }
               }
          }

          div.return__table {
               width: 540px;
               position: relative;
               right: -30px;
               margin: 80px 0 0;
               float: right;
               @include breakpoint(to-large) {
                    margin: 50px auto;
               }
               @include breakpoint(to-medium) {
                    width: 100%;
                    right: auto;
                    margin: 20px auto;
                    float: none;
               }
               @include breakpoint(to-small) {
                    min-width: auto;
               }

               p.table-title {
                    color: $primary-color;
                    font-family: $font-family--dinbold;
                    font-size: 23px;
                    text-transform: uppercase;
               }

               table {
                    width: 100%;

                    thead {
                         color: $white;
                         background-color: $black;
                         text-transform: uppercase;
                         @include breakpoint(to-small) {
                              font-size: 12px;
                         }

                         tr {
                              height: 40px;
                              @include breakpoint(to-small) {
                                   height: 60px;
                              }

                              th {
                                   padding: 0 24px 4px;
                                   font-family: $font-family--rb;
                                   font-size: 19px;
                                   font-weight: normal;
                                   letter-spacing: 1.5px;
                                   @include breakpoint(to-small) {
                                        padding: 0 12px 4px;
                                        font-size: 16px;
                                   }

                                   &:last-of-type {
                                        text-align: right;
                                   }
                              }
                         }
                    }

                    tbody {

                         tr {
                              height: 100px;
                              border: none;

                              &:nth-child(odd) {
                                   background-color: $background-color-body;
                              }

                              &:nth-child(even) {
                                   background-color: $light-blue;
                              }

                              td {
                                   padding: 10px 24px;
                                   color: $black;
                                   font-size: 18px;
                                   font-weight: 200 !important;
                                   @include breakpoint(to-small) {
                                        padding: 10px 12px;
                                   }

                                   &:first-of-type { // for aligning Seat Category column
                                        vertical-align: top;
                                   }

                                   p {
                                        padding: 0;
                                        padding-bottom: 10px;
                                        color: $black;
                                        font-size: 18px;
                                        font-weight: 200 !important;
                                        text-transform: none;

                                        &:last-of-type {
                                             padding-bottom: 0;
                                        }
                                   }

                                   p.right-align {
                                        font-weight: 200 !important;
                                        text-align: right; // for aligning Rebate if Sold column
                                   }
                              }
                         }
                    }
               }
          }
     }
}
