// .main--sub-page {
// 	height: auto;
// 	min-height: 0 !important;
// 	padding: 30px 50px !important; // removes the default padding
// }

div.sharks-store {
	height: 100%;
     padding: 60px 70px;
	@include display-flex;
	@include flex-flow(row wrap);
	@include justify-content(space-between);
	@include breakpoint(to-medium) {
		padding: 15px;
		@include flex-flow(column nowrap);
		@include justify-content(center);
	}

	div {
		width: 48%;
		max-width: 460px;
		@include breakpoint(to-large) {
			width: 100%;
			max-width: none;
			margin: 0;
			@include display-flex;
			@include flex-flow(column nowrap);
			@include justify-content(center);
		}

		div.sharks-store__intro,
		div.sharks-store__range {
			width: 100%;
			margin-bottom: 60px;
			@include breakpoint(to-large) {
				margin-bottom: 0;
			}

			&:last-of-type {
				margin-bottom: 0px;
				@include breakpoint(to-large) {
					margin-bottom: 40px;
				}
				@include breakpoint(to-medium) {
					margin-bottom: 0;
				}
			}

			p {
				padding: 0;
				font-family: $font-family--din;
				font-size: 16px;
				line-height: 1.4;
			}

			a.btn { // check if this exists already, else must modularize
	               width: auto;
	               height: 45px;
	               margin: 32px auto 20px;
	               color: $white;
	               background-color: $primary-color;
	               border: 2px solid $primary-color;
				font-family: $font-family--microgramma;
				font-size: 18px;
				@include breakpoint(to-medium) {
					margin-bottom: 40px;
				}
				@include breakpoint(to-small) {
					height: 45px;
					margin: 20px 0 40px;
					padding: 0 12px;
					font-size: 12px;
				}

	               &:hover {
	                    color: $primary-color;
	                    background-color: $white;
	               }
	          }
		}
	}

	div.sharks-store__steps-side {
		margin: 0 15px;
		@include breakpoint(to-large) {
			width: 100%;
			max-width: 600px;
			margin: 0 auto;
			@include display-flex;
			@include flex-flow(column nowrap);
		}

		div.steps-side__line {
			width: 100%;
			margin-bottom: 15px;
			@include display-flex;
			@include flex-flow(row nowrap);
			@include justify-content(flex-start);
			@include align-items(center);
			@include breakpoint(to-large) {
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			@include breakpoint(to-medium) {
				@include flex-flow(column nowrap);
				@include justify-content(center);
			}

			span.steps-icon {
				width: 82px;
				min-width: 82px;
				height: 74px;
				position: relative;
				margin-right: 20px;
				color: $primary-color;
				// style the social icons using the font awesome mixin
				background: url(../images/shark-icon-black-thin.png) top center no-repeat;
				background-size: 81px 72px;
				transition: none;
				text-align: center;
				@include display-flex;
				@include flex-flow(column nowrap);
				@include justify-content(center);
				@include breakpoint(to-medium) {
					margin: 0;
				}

				span.steps-icon__steps {
					position: absolute;
					top: 7px;
					left: 35%;
					font-family: $font-family--dinmedium;
					font-size:  12px;
					text-transform: uppercase;
				}

				span.steps-icon__number {
					position: absolute;
					top: 15px;
					left: 40%;
					font-family: $font-family--rb;
					font-size:  43px;
					-webkit-font-smoothing: antialiased;
					text-transform: uppercase;
				}
			}

			h4 {
				display: inline;
				position: relative;
				top: -7px;
				color: $black;
				font-family: $font-family--rb !important;
				font-size: 24px;
				letter-spacing: 1px;
				@include breakpoint(to-medium) {
					text-align: center;
				}
			}
		}
	}
}
