
.membership-packs-page {


	&__list {
		margin-bottom: 60px;
		//display: flex;
		//justify-content: space-between;

	}

	hr {
		border: 1px solid $nav-background-color;
		margin-bottom:45px;
	}
	.pack_container {
		text-align:center;
		display: inline-block;
		vertical-align: middle;
		*display: inline;
		*zoom:1;
		width: 24.5%;
		margin: 0px;
		@include breakpoint(to-small) {
			width: 100%;
		}
		@include breakpoint(small-to-medium) {
			width: 49.5%;
		}
		@include breakpoint(medium-to-large) {
			width: 49.5%;
		}
		@include breakpoint(from-large) {
			width: 33%;
		}
	}




	.pack {

		display: inherit;
		width: 315px;
		min-height:400px;
		margin: 5px;
		background-color: white;

		.title {
			margin-top: 20px;
			margin-bottom: 3px;
			font-family: $font-family--heading ;
			color: #30a1d2;
			font-size: 31px;
			text-transform: capitalize;

			text-align: left;
		}

		.image {
			height: 350px;
			width: 315px;
			padding: 10px;
			background-color: white;
			position: relative;
			img {
				height: 100%;
				//max-height: 320px;
				width: auto;
				position: absolute;
				left: 50%;
				bottom: 0;
				-webkit-transform:translateX(-50%);
				-moz-transform: translateX(-50%);
				-ms-transform:translateX(-50%);
				-o-transform: translateX(-50%);
				transform: translateX(-50%);
			}
		}

		.description {
			padding: 40px 30px 40px 30px;
			margin-top: 0px;
			text-align: center;

			background-color: #f0f9fd;
			//color: $primary-color;
			//font-size: 16px;
			ul {
				@extend %ul-styles;
				li span {
					font-family: $font-family--body;
				}
			}

		}
	}

}

.fluid-img {
	& img {
		width: 1010px;
		height: auto;
	}
}
