﻿@font-face {
  font-family: 'MicrogrammaDEE-BoldExte';
  src: url('MicrogrammaDEE-BoldExte/MicrogrammaDEE-BoldExte.eot'); /* IE9+ Compat Modes */
  src: url('MicrogrammaDEE-BoldExte/MicrogrammaDEE-BoldExte.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('MicrogrammaDEE-BoldExte/MicrogrammaDEE-BoldExte.woff2') format('woff2'), /* Super modern browsers */
       url('MicrogrammaDEE-BoldExte/MicrogrammaDEE-BoldExte.woff') format('woff'), /* Modern browsers */
       url('MicrogrammaDEE-BoldExte/MicrogrammaDEE-BoldExte.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('MicrogrammaDEE-BoldExte/MicrogrammaDEE-BoldExte.svg#MicrogrammaDEE-BoldExte') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'MicrogrammaEF-MediumExtend';
  src: url('MicrogrammaEF-MediumExtend/MicrogrammaEF-MediumExtend.eot'); /* IE9+ Compat Modes */
  src: url('MicrogrammaEF-MediumExtend/MicrogrammaEF-MediumExtend.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('MicrogrammaEF-MediumExtend/MicrogrammaEF-MediumExtend.woff2') format('woff2'), /* Super modern browsers */
       url('MicrogrammaEF-MediumExtend/MicrogrammaEF-MediumExtend.woff') format('woff'), /* Modern browsers */
       url('MicrogrammaEF-MediumExtend/MicrogrammaEF-MediumExtend.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('MicrogrammaEF-MediumExtend/MicrogrammaEF-MediumExtend.svg#MicrogrammaDEE-BoldExte') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: "ProximaNova-Black";
  src: url("ProximaNova/ProximaNova-Black.eot"); /* IE9 Compat Modes */
  src: url("ProximaNova/ProximaNova-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("ProximaNova/ProximaNova-Black.otf") format("opentype"), /* Open Type Font */
    url("ProximaNova/ProximaNova-Black.svg") format("svg"), /* Legacy iOS */
    url("ProximaNova/ProximaNova-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("ProximaNova/ProximaNova-Black.woff") format("woff"), /* Modern Browsers */
    url("ProximaNova/ProximaNova-Black.woff2") format("woff2"); /* Modern Browsers */
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("ProximaNova/ProximaNova-Bold.eot"); /* IE9 Compat Modes */
  src: url("ProximaNova/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("ProximaNova/ProximaNova-Bold.otf") format("opentype"), /* Open Type Font */
    url("ProximaNova/ProximaNova-Bold.svg") format("svg"), /* Legacy iOS */
    url("ProximaNova/ProximaNova-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("ProximaNova/ProximaNova-Bold.woff") format("woff"), /* Modern Browsers */
    url("ProximaNova/ProximaNova-Bold.woff2") format("woff2"); /* Modern Browsers */
}

@font-face {
  font-family: "ProximaNova-BoldIt";
  src: url("ProximaNova/ProximaNova-BoldIt.eot"); /* IE9 Compat Modes */
  src: url("ProximaNova/ProximaNova-BoldIt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("ProximaNova/ProximaNova-BoldIt.otf") format("opentype"), /* Open Type Font */
    url("ProximaNova/ProximaNova-BoldIt.svg") format("svg"), /* Legacy iOS */
    url("ProximaNova/ProximaNova-BoldIt.ttf") format("truetype"), /* Safari, Android, iOS */
    url("ProximaNova/ProximaNova-BoldIt.woff") format("woff"), /* Modern Browsers */
    url("ProximaNova/ProximaNova-BoldIt.woff2") format("woff2"); /* Modern Browsers */
}

@font-face {
  font-family: "ProximaNova-Extrabld";
  src: url("ProximaNova/ProximaNova-Extrabld.eot"); /* IE9 Compat Modes */
  src: url("ProximaNova/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("ProximaNova/ProximaNova-Extrabld.otf") format("opentype"), /* Open Type Font */
    url("ProximaNova/ProximaNova-Extrabld.svg") format("svg"), /* Legacy iOS */
    url("ProximaNova/ProximaNova-Extrabld.ttf") format("truetype"), /* Safari, Android, iOS */
    url("ProximaNova/ProximaNova-Extrabld.woff") format("woff"), /* Modern Browsers */
    url("ProximaNova/ProximaNova-Extrabld.woff2") format("woff2"); /* Modern Browsers */
}

@font-face {
  font-family: "ProximaNova-Light";
  src: url("ProximaNova/ProximaNova-Light.eot"); /* IE9 Compat Modes */
  src: url("ProximaNova/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("ProximaNova/ProximaNova-Light.otf") format("opentype"), /* Open Type Font */
    url("ProximaNova/ProximaNova-Light.svg") format("svg"), /* Legacy iOS */
    url("ProximaNova/ProximaNova-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("ProximaNova/ProximaNova-Light.woff") format("woff"), /* Modern Browsers */
    url("ProximaNova/ProximaNova-Light.woff2") format("woff2"); /* Modern Browsers */
}

@font-face {
  font-family: "ProximaNova-LightIt";
  src: url("ProximaNova/ProximaNova-LightIt.eot"); /* IE9 Compat Modes */
  src: url("ProximaNova/ProximaNova-LightIt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("ProximaNova/ProximaNova-LightIt.otf") format("opentype"), /* Open Type Font */
    url("ProximaNova/ProximaNova-LightIt.svg") format("svg"), /* Legacy iOS */
    url("ProximaNova/ProximaNova-LightIt.ttf") format("truetype"), /* Safari, Android, iOS */
    url("ProximaNova/ProximaNova-LightIt.woff") format("woff"), /* Modern Browsers */
    url("ProximaNova/ProximaNova-LightIt.woff2") format("woff2"); /* Modern Browsers */
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("ProximaNova/ProximaNova-Regular.eot"); /* IE9 Compat Modes */
  src: url("ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("ProximaNova/ProximaNova-Regular.otf") format("opentype"), /* Open Type Font */
    url("ProximaNova/ProximaNova-Regular.svg") format("svg"), /* Legacy iOS */
    url("ProximaNova/ProximaNova-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("ProximaNova/ProximaNova-Regular.woff") format("woff"), /* Modern Browsers */
    url("ProximaNova/ProximaNova-Regular.woff2") format("woff2"); /* Modern Browsers */
}

@font-face {
  font-family: "ProximaNova-RegularIt";
  src: url("ProximaNova/ProximaNova-RegularIt.eot"); /* IE9 Compat Modes */
  src: url("ProximaNova/ProximaNova-RegularIt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("ProximaNova/ProximaNova-RegularIt.otf") format("opentype"), /* Open Type Font */
    url("ProximaNova/ProximaNova-RegularIt.svg") format("svg"), /* Legacy iOS */
    url("ProximaNova/ProximaNova-RegularIt.ttf") format("truetype"), /* Safari, Android, iOS */
    url("ProximaNova/ProximaNova-RegularIt.woff") format("woff"), /* Modern Browsers */
    url("ProximaNova/ProximaNova-RegularIt.woff2") format("woff2"); /* Modern Browsers */
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("ProximaNova/ProximaNova-Semibold.eot"); /* IE9 Compat Modes */
  src: url("ProximaNova/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("ProximaNova/ProximaNova-Semibold.otf") format("opentype"), /* Open Type Font */
    url("ProximaNova/ProximaNova-Semibold.svg") format("svg"), /* Legacy iOS */
    url("ProximaNova/ProximaNova-Semibold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("ProximaNova/ProximaNova-Semibold.woff") format("woff"), /* Modern Browsers */
    url("ProximaNova/ProximaNova-Semibold.woff2") format("woff2"); /* Modern Browsers */
}

@font-face {
  font-family: "ProximaNova-SemiboldIt";
  src: url("ProximaNova/ProximaNova-SemiboldIt.eot"); /* IE9 Compat Modes */
  src: url("ProximaNova/ProximaNova-SemiboldIt.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("ProximaNova/ProximaNova-SemiboldIt.otf") format("opentype"), /* Open Type Font */
    url("ProximaNova/ProximaNova-SemiboldIt.svg") format("svg"), /* Legacy iOS */
    url("ProximaNova/ProximaNova-SemiboldIt.ttf") format("truetype"), /* Safari, Android, iOS */
    url("ProximaNova/ProximaNova-SemiboldIt.woff") format("woff"), /* Modern Browsers */
    url("ProximaNova/ProximaNova-SemiboldIt.woff2") format("woff2"); /* Modern Browsers */
}