.header {
	display: block;
	width: 100%;
	background: $black;
	position: relative;
	z-index: 500;

	.container {
		height:120px;
		@include breakpoint(to-medium){
			border-bottom: 3px solid #d7bc83;
		}
		@include breakpoint(from-medium) {
		    height: 160px;
		}
	}

	.logo {
		@include grid(100);
		position: absolute;
		width: 90px;
		height: 70px;
		top: 10px;
		left: 50%;
		display: block;
		padding-left: 0px;
		z-index: 100;

		@include breakpoint(from-medium) {
			position: absolute;
			left: -50px;
			top: auto;
			bottom: -60px;
			width: 212px;
			height: 200px;
			z-index: 300;
		}

		@include breakpoint(from-large) {

		}

		a {
			display: block;
			width: 180px;
			height: 140px;
			background: url(../images/sharks_logo.svg) top left no-repeat; // swap for SVG, asset needed.
			background-size: 180px 140px;
			transition:none;
			@include breakpoint(to-medium){
				-webkit-transform: translate(-50%, 0);
				-moz-transform: translate(-50%, 0);
				-ms-transform: translate(-50%, 0);
				-o-transform: translate(-50%, 0);
				transform: translate(-50%, 0);
				background-size:180px 140px;
			}
			@include breakpoint(from-medium) {
				width: 275px;
				height: 200px;
				background: url(../images/sharks_logo.svg) top center no-repeat;
				background-size: 157px 120px;
			}
		}
	}


	.member-tally {
		display: none;
		width: auto;
		max-width:340px;
		height:50px;
		margin:0 auto;
		@include breakpoint(from-medium) {
			display: block;
		    position: absolute;
		    top: 40px;
		    right: 400px;
		}
		&__title {
			color: #FFF;
			text-transform: uppercase;
			display: inline-block;
			float: left;
			margin: 0;
			margin-right: 10px;
			padding: 6px 0;
			line-height: 0.8;
			font-size: 22px;
			text-align: right;
			font-family: $font-family--special;
		}
		&__total {
			color: #FFF;
			display: inline-block;
			float:right;
			line-height:40px;
			font-size:50px;
			margin:0;
			padding:0;
			font-family: $font-family--heading;
			margin-top:3px;
			width:266px;

			.digit {
				width:16px;
				display: inline-block;
				float:left;

				&-number {
					width:50px;
					border:1px solid $primary-color;
					position: relative;
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(255,255,255,1)), color-stop(50%,rgba(0,0,0,1)), color-stop(53%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 47%,rgba(0,0,0,1) 50%,rgba(255,255,255,1) 53%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
		}
	}

	.social--header {
		width:180px;
		padding-right: 10px;
		margin: 0 auto;
		float: none;
		display: none;
		@include breakpoint(from-medium) {
			display: block;
			position: absolute;
			top: 38px;
			right: 178px;
		}
	}

	.member-login {
		width: 175px;
		height: 42px;
		display: none;
		@include breakpoint(from-medium) {
			display: block;
			position: absolute;
			top: 40px;
			right: -22px;
		}
		.btn {
			color: $white;
			border: 1px solid $primary-color;
			font-family: $font-family--din;
			font-weight: medium;
			font-size: 14px;
		}
	}
}

.nav {
	position: relative;
	display: block;
	width:100%;
	top:100px;
	left:0;
	transition: all .300s ease-in;
	//z-index: 2000;
	@include breakpoint(from-medium) {
		position: relative;
		// background:$nav-background-color;
		height:56px;
	}
	&:hover {

	}
}

.main-nav--large {
	display: none;
	margin: 0;
	padding: 0;
	width: 100%;
	background: none;
	position: relative;
	@include breakpoint(from-medium) {
		height: 56px;
		display: inline-block;
		float: right;
		text-align: right;
		width: auto;
		z-index: 250;
	}

	li {
		margin: 0;
		padding: 0;
		display: inline-block;
		float: left;
		height: 56px;
		line-height: 56px;

		&.menu-item-275 {
			display: none;
			@include breakpoint(from-large) {
			    display: block;
			}
		}

		a {
			display: inline-block;
			height: 30px;
			padding: 0 16px;
			position: relative;
			color: $white;
			font-family: $font-family--body;
			font-size: 15px;
			text-transform: uppercase;
			text-decoration: none;
			letter-spacing: 0px;
			line-height: 30px;
			transition: all 300ms linear;
			@include breakpoint(from-large) {
				padding: 0 15px;
				font-size: 15px;
				letter-spacing: 0px;
			}

			&:hover {
				color: $link-color--hover;
			}

			&:before {
				display: inline-block;
				content: '';
				width: 2px;
				height: 12px;
				position: absolute;
				left: 0px;
				top: 10px;
				background: $white;
			}
		}

		&.menu-item-has-children {
			position: relative;
			z-index: 2000;
			.sub-menu {
				display: none;
				position: absolute;
				top: 56px;
				left: 0;
				width: 260px;
				z-index: 1100;
				background: $primary-color;
				box-shadow: 1px 1px 5px rgba(0,0,0,0.25);

				li {
					width: 100%;
					margin: 0;
					padding: 0;
					height: auto;

					a {
						display: block;
						color: #FFF;
						line-height: 20px;
						padding: 8px 20px;
						width: 100%;
						height: auto;
						&:before {
							display: none;
						}

						&:hover {
							background: $black;
						}
					}
				}
			}
		}

		&:hover {

			a {
				color:$primary-color;
			}
			.sub-menu {
				display: block;
			}
		}

		&.current_page_item {
			a {
				color: $link-color--hover;
			}
		}

		// remove menu divider from first main nav item
		&:first-child a {
			&:before {
				display: none;
			}
		}
		&:nth-child(2) a {
			&:before {
				display: none;
				@include breakpoint(from-large) {
				    display: block;
				}
			}
		}
		&:last-child a {
			@include breakpoint(from-large) {
			    padding-right:0;
			}
		}
	}
}

.mega-menu {
	@extend %clearfix;
	display: none;
	@include breakpoint(from-large) {
		//display: none;
		position: absolute;
		width:100%;
		top:56px;
		height:0;
		// to force on set top to 130px (the height of the header)
		//top:130px;
		transition: all 300ms ease-in;
		z-index: 1000;
		background:$primary-color;
	}
	&__col--info {
		@extend %grid-block;
		width:380px;
		padding:20px;
		img {
			display: inline-block;
		}
	}
	&__nav {
		position: relative;
		@extend %grid-block-collapse;
		width:600px;
		padding-top:20px;

		ul {
			margin:0;
			padding:0;
		}
		li {
			width:300px;
			color: #FFF;
			text-transform:uppercase;
			border-right:1px solid #60BEDC;
			a {
				color: #FFF;
				display: block;
				width:100%;
				line-height:40px;
				text-align:center;
				border-top:1px solid $primary-color;
				border-bottom:1px solid $primary-color;
				&:hover {
					border-color:#60BEDC;
					color: $black;
					text-decoration:none;
				}
			}
		}
		.children {
			position: absolute;
			left:300px;
			top:20px;
			right:20px;
			display: none;
			width:300px;
			height:300px;
			li  {
				text-transform:none;
				border-right:none;
				line-height:30px;
				a {
					line-height:35px;
				}
			}
		}

	}
}




// page blocker (on when menu is clicked)
.page-blocker {
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:none;
	z-index: 400;
	visibility: hidden;
	transition: all 500ms ease-in;
	opacity: 0;
	background: rgba(0,0,0,0.8);
	@include breakpoint(from-large) {
		background:url(../images/overlay-bg.jpg) top left no-repeat #000;
		background-size:50% auto;
		background-attachment: fixed;
	}
}

body.js-blocker-on {
	overflow:hidden;
	.page-blocker {
		//background: rgba(0,0,0,0.8);
		transition: all 500ms ease-out;
		visibility: visible;
		opacity:1;
	}
}



// mobile styles
// set background color
$mm-menu-level--1 : #00A1D0;
$mm-menu-level--2 : #40B9DC;
$mm-menu-level--3 : #73CBE5;

.mm-menu>.mm-panel {
	background:$mm-menu-level--1;
	text-transform:uppercase;
}

// style top level link
.mm-menu>.mm-panel a {
	text-transofrm:uppercase;
	font-weight:bold;
	line-height:40px;
}

.mm-listview>li>a, .mm-listview>li>span {
	line-height:50px;
	padding:0 20px;
}
// hide border
.mm-listview>li:not(.mm-divider):after {
	display: none;
}

.mm-vertical .mm-listview .mm-panel, .mm-listview .mm-vertical .mm-panel {
	padding:0;
}

.mm-vertical .mm-listview>li>.mm-next, .mm-listview>li.mm-vertical>.mm-next {
	height:40px;
}
.mm-listview .mm-next {
	background: rgba(255,255,255,0.25);
}

ul.sub-menu.mm-listview .mm-next:before {
	position: absolute;
	display: block;
	width:50px;
	height:40px;
	//background:$mm-menu-level--3;
	right:0;
	left:auto;
}

ul.sub-menu.mm-listview li a {
	//background:$mm-menu-level--3;
	//color: #FFF;
}

.mm-menu.mm-vertical .mm-listview>li.mm-opened>a.mm-next, .mm-menu.mm-vertical .mm-listview>li.mm-opened>.mm-panel, .mm-menu .mm-listview>li.mm-opened.mm-vertical>a.mm-next, .mm-menu .mm-listview>li.mm-opened.mm-vertical>.mm-panel {
	background: rgba(255,255,255,0.25);
}

li.mm-selected > a:not(.mm-next),
li.mm-selected > span {
  background: rgba(0, 0, 0, 0.15) !important;
}



.current-menu-ancestor a {
	//@include breakpoint(to-medium)
	//{
	//	color: $black !important;
	//}
	@include breakpoint(from-medium){
		color: $primary-color !important;
	}

}
.current-menu-ancestor ul li a {
	color: white !important;
}
