// Global typography styles
body {
	font-family: $font-family--body;
	color: $black;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
	line-height: 1.2;
	font-weight: normal;
	padding:15px 0 10px 0;
	color: $primary-color;
	font-family: $font-family--heading;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	text-transform:uppercase;
}

h1 {
	font-size:40px;
	letter-spacing:4.5px;
	line-height:0.85;
}
h2 { font-size:35px;
	padding-top:0;
	margin-top:-5px;
	letter-spacing:1px;
	@include breakpoint(to-small) {
		font-size: 20px !important;
	}
}
h3 {
	font-size: 22px;
	//letter-spacing: 1.5px;
	font-family: $font-family--body;
	font-weight: bold;
	//font-size:14px; letter-spacing:1.5px;
	}
h4 { font-size:14px; }
h5 { font-size:14px; }
h6 { font-size:14px; }

p {
	margin:0;
	font-size:18px;
	padding:10px 0;
	line-height: 1.2;
	text-align: left;
	color: $black;
	//letter-spacing:-0.5px;
}

ul {
	@extend %zero-margin-padding;
}

ul li {
	@extend %zero-margin-padding;
	font-size:16px;
	line-height: 1.2;
	text-align: left;
	list-style:none;
	color: $black;
	//letter-spacing:-0.5px;
}

// project specific ul styles for content areas
%ul-styles {
	margin:0;
	padding:0;
	clear:both;
	margin-top:20px;
	margin-bottom:15px;
	li {
		padding-left:20px;
		padding-bottom:8px;
		position: relative;
		font-size:18px;
		line-height:18px;
		list-style:none;
		//letter-spacing:-0.5px;
	}
	li:before {
		position: absolute;
		// content: '•';
		content: '\00B7';
		left:0px;
		font-size:30px;
		line-height:20px;
		top:0;
		color: $primary-color;
	}
}

ol {
	margin-left: 0px;
	padding-left:25px;
}

ol li {
	font-size:18px;
	padding:5px 0;
	line-height: 1.5;
	text-align: left;
	list-style: decimal;
	color: $black;
}


dl dt {
	font-weight:bold;
	font-style:italic;
}

dl dd {
	font-size:em(16);
	padding:5px 10px;
	line-height: 1.5;
	text-align: left;
	list-style: decimal;
}


a {
	transition: color .300s, background .300s, border .300s;
	text-decoration: none;
	color: #222;
}

a:hover {
	color: #3696C8;
	text-decoration: underline;
}

blockquote {
	padding:8px 0px 8px 0px;
	margin:0;
	min-height:40px;
	text-transform:uppercase;
	font-family:$font-family--heading;
	font-size:17px;
	line-height:1.2;
	font-weight:bold;
	border:0;
	margin-bottom:15px;

	p {
		// padding:0;
		// font-size:16px;
		// line-height:1.2;
		// padding-left:70px;
		//background: url(../images/icon-quote.png) center left no-repeat;
	}
}

dfn, cite, em, i {
	font-style: italic;
}


address {
	margin: 0 0 1.5em;
}

cite {
	font-weight:bold;
}

pre {
	background: #222;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size:14px;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	color: #FFF;
}

code, kbd, tt, var {
	font-family: "Courier 10 Pitch", Courier, monospace;
	background: #222;
	color:#fff;
	padding:5px;
}

abbr, acronym {
	border-bottom: 1px dotted #e5e5e5;
	cursor: help;
}

mark, ins {
	background: #e5e5e5;
	text-decoration: none;
}

big {
	font-size: 125%;
}

tr {
	border-bottom:1px solid #e5e5e5;
}

th {
	padding:5px;
	text-align:left;
}
td {
	padding:5px;
	text-align:left;
}


// global styles
.highlight {
	color: $highlight-color !important;
}
.underline {
	text-decoration: underline;
}
.spaced-top {
	padding-top: 50px;
}

a.btn {
	display: inline-block;
	padding:0 25px;
	border: 3px solid $primary-color;
	text-align:center;
	line-height:43px;
	color: $black;
	font-family: $font-family--heading;
	text-transform:uppercase;
	font-size:14px;

	&:hover {
		background: $primary-color;
		text-decoration:none;
		color: #FFF;
	}
}

a.btn--on-primary {
	color: #FFF;
	border-color:#FFF;
	&:hover {
		background:#FFF;
		color: $primary-color;
	}
}

a.btn--on-black {
	color: #FFF;
	border-color:$primary-color;
}


button {
	transition: color .300s, background .300s, border .300s;
}
