// set some global variables
// $content_width: 1100px;
// $content_width--wide: 1400px;
// $content_width--super-wide: 1910px;


// Sharks colours
$primary-color : #06A1CE; // light blue
$background-color: #77c0c9;
$background-color-body: #e3f3fc; // super light blue
$white: #fff;
$black : #000;
$light-grey : #F6F7F7;
$normal-grey: #e0e0e0;
$mid-grey : #595959;
$light-blue: #f1f9fe;

$btn-gradient-outside: #001922;
$btn-gradient-inside: #003546;

// Global Vars
$highlight-color : $primary-color;
$link-color :$black;
$link-color--hover : $primary-color;

$nav-background-color : #d7bc83;

$font-family--special : "sharks-1", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--heading :  "sharks-2", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--body : "Ropa Sans", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family--microgramma : "Microgramma", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--rb : "RBN", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-family--dinbold : "dinbold", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--dinmedium : "dinmedium", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family--din: "din", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
