
// Background styles
body {

	//background: url('../images/bg-sub-large.jpg') top left no-repeat $background-color;
	//position: relative;
	//background-size:2561px 2087px;

	@include breakpoint(from-small) {
	    background-size:auto 300px;
	}
	@include breakpoint(from-medium) {
		//background: url('../images/bg-sub-large.jpg') top center no-repeat $background-color;
        //background-attachment: fixed;
        //background-size:2561px 2087px;
	}

	@media only screen and (min-width: 1800px) {
		background-size:100% auto;
	}
}

.container {
	@extend %grid-container-collapse;
	position: relative;
	clear:both;
	display: block;
	width:100%;
}

.main {
	background:#FFF;
	@extend %clearfix;
}
.row {
	background:#FFF;
	@extend %clearfix;
}


.container-background {
 background: url('../images/WebSkin_MembMicrosite_2561x2086_small.jpg') top center no-repeat #aadcf7;
 background-size: 2561px 2087px;
 position:relative;
 width:100%;
 height:100%;
 background-attachment: fixed;
}

.container-base {
	max-width: 1180px;
	//max-width: 1140px;
	//width: 960px;
	//background: url('../images/bg-sub-large.jpg') top center no-repeat $background-color;
	//background: url('http://membership.sharks.dev/wp-content/themes/sharks-membership/assets/images/bg-sub-large.jpg') top center no-repeat $background-color;
	//background-attachment: fixed;
	//background-size:2561px 2087px;

	position:relative;
}

.container-padding {
	padding: 60px 70px 70px 70px !important;
}

#background-left {
	width:50%;
	float:left;
	margin-right:-480px;
	background: red;
}


#background-right {
	width:50%;
	float:right;
	margin-left:-480px;
	background: blue;
}


.main--sub-page .container-base {
	//padding: 70px;
    //
	//@include breakpoint(from-medium){
	//	min-height: 880px;
	//}
}
