// styles for the global footer which includes the sponsors bar, footer nav and the copyright section

.marketo {
	height: auto;
	padding: 25px 40px 35px !important;
	background-color: $primary-color;
	// @include breakpoint(to-large) {
	// 	height: 280px;
	// }
	// @include breakpoint(to-medium) {
	// 	height: 480px;
	// }

	h3 {
		color: $white;
		font-family: $font-family--microgramma;
		font-size: 23px;
		letter-spacing: 2px;
		text-align: center;
	}

	.mktoLayoutLeft {
		display: none;
	}


	#mktoForm_1241 {
		width: 1170px !important;
		margin: 0 auto;
		@include display-flex;
		@include flex-flow(row wrap);
		@include breakpoint(to-large) {
			width: 100% !important;
			@include flex-flow(column nowrap);
			@include justify-content(center);
		}
		@include breakpoint(to-medium) {
			@include justify-content(center);
		}

		.mktoFormRow {
			@include display-flex;
			@include breakpoint(to-large) {
				width: 100%;
				@include flex-flow(row wrap);
				@include justify-content(center);
			}
			@include breakpoint(to-medium) {
				margin: 0 auto;
			}

			.mktoFieldDescriptor {
				@include display-flex;
				@include flex-flow(row nowrap);
				@include breakpoint(to-medium) {
					@include justify-content(center);
				}


				.mktoOffset {
					display: none;
				}

				.mktoFieldWrap {
					margin-right: 30px;
					@include display-flex;
					@include flex-flow(column nowrap);
					@include breakpoint(to-large) {
						margin: 0 15px;
					}
					@include breakpoint(to-medium) {
						margin: 0;
					}

					.mktoLabel {
						width: 270px !important;
						margin-bottom: 10px;
						color: $white;
						font-family: $font-family--din;
						font-weight: bold;
						text-transform: uppercase;
					}

					.mktoGutter {
						display: none;
					}

					// #FirstName, #LastName, #Email {
					.mktoField {
						height: 45px;
						width: 270px !important;
						border: none;
						box-shadow: none;
					}
				}

				.mktoClear {
					display: none;
				}
			}
		}

		.mktoButtonRow {
			position: relative;
			top: 30px;
			@include breakpoint(to-large) {
				@include display-flex;
				@include justify-content(center);
				top: 0;
				margin-top: 20px;
			}

			.mktoButtonWrap {
				margin: 0 !important;

				.mktoButton {
					height: 45px;
					width: 270px;
					color: $white;
					background: $black;
					border: none;
					font-family: $font-family--microgramma;
					font-size: 18px;
					text-transform: uppercase;
					box-shadow: none;

					&:hover {
						color: $black;
						background: none;
						border: 2px solid $black;
					}
				}
			}
		}
	}
}

.sponsors {
	padding: 46px 60px 80px;
	@extend %clearfix;
	position: relative;
	display: block;
	background: #FFF;
	@include breakpoint(to-medium) {
		min-height: 195px;
		padding: 46px 60px 40px;
	}

	.sponsors__intro {
		display: block;
		width:100%;
		@extend %clearfix;

		p {
			width: auto;
			background: $white;
			position: relative;
			padding: 0 10px;
			margin:0 auto;
			color: $black;
			font-family: $font-family--heading;
			font-size: 14.5px;
			text-transform: uppercase;
			text-align: center;
			letter-spacing: 1px;
			line-height: 24px;
			float: none;
			z-index: 100;
		}
	}

	ul {
		max-width: 1180px;
		margin: 0 auto;
		padding: 0;
		@include display-flex;
		@include flex-flow(row wrap);
		@include justify-content(space-between);
		@include align-items(center);
		@include breakpoint(to-large) {
			@include justify-content(center);
		}
		@include breakpoint(to-medium) {
			width: 100%;
			@include justify-content(center);
		}
		@include breakpoint(to-small) {

		}

		li {
			padding: 15px;
			@include breakpoint(to-medium) {
				padding: 20px 40px;
			}

			img {
				max-width: 120px;
				max-height: 90px;
				display: block;
				margin: 0 auto;
			}

			&:first-child {
				padding-left: 0;
				@include breakpoint(to-medium) {
					padding: 20px 40px;
				}
			}

			&:last-child {
				padding-right:0;
				@include breakpoint(to-medium) {
					padding: 20px 40px;
				}
			}
		}
	}

	// ORIGINAL CODE ON PARTNERS SECTION
	// ul {
	// 	@extend %zero-margin-padding;
	// 	@extend %clearfix;
	// 	padding:20px 0;
	// 	@include breakpoint(from-large) {
	// 	    padding:15px 0;
	// 	}
	// }
	// ul li {
	// 	@extend %zero-margin-padding;
	// 	@extend %grid-block-collapse;
	// 	@include grid(50);
	// 	text-align:center;
	// 	padding:0 10px;
	// 	min-height:70px;
	// 	@include display-flex;
	// 	@include align-items(center);
	// 	@include breakpoint(from-small) {
	// 	    @include grid(50);
	// 	}
	// 	@include breakpoint(from-medium) {
	// 	    @include grid(14);
	// 	}
	// 	@include breakpoint(from-large) {
	// 		width:auto;
	// 		padding:0;
	// 		@include grid(14);
	// 	}
	//
	// 	// style first logo item to be bigger
	// 	//&:first-of-type {
	// 	//	@include grid(100);
	// 	//	img {
	// 	//		max-height:80px;
	// 	//	}
	// 	//}
	//
	// 	img {
	// 		display: block;
	// 		margin: 0 auto;
	// 		max-height: 70px;
	// 	}
	//
	// 	&:last-child {
	// 		padding-right:0;
	// 	}
	// }
}


.footer {
	background: $background-color-body;
	padding: 40px 0;

	p {
		padding:0;
		font-family: $font-family--din;
		font-size: 15px;
		line-height: 1.2;
		text-align:center;
		@include breakpoint(from-large) {
		    text-align:left;
		}
	}

	&__logo {

		@extend %grid-block-collapse;
		width:140px;
		height:107px;
		clear:both;
		margin:0 auto;
		display: block;
		float:none;

		@include breakpoint(from-large) {
			margin-top:6px;
			clear:none;
			float:left;

		    img {
		    	margin-left:-7px;
		    	width:140px;
		    	height:107px;
		    }
		}
	}

	&__address-1 {
		@extend %grid-block;
		@include grid(100);
		padding-top:20px;
		@include breakpoint(from-small) {
		    @include grid(33);
		}
		@include breakpoint(from-large) {
		    margin-top:40px;
		    margin-left:40px;
		    max-width:180px;
		    padding-top:0;
		}

	}

	&__address-2 {
		@extend %grid-block;
		padding-top:20px;
		@include grid(100);
		@include breakpoint(from-small) {
		    @include grid(33);
		}
		@include breakpoint(from-large) {
		    margin-top:40px;
		    margin-left:55px;
		    max-width:180px;
		    padding-top:0;
		}
	}

	&__address-3 {
		@extend %grid-block;
		@include grid(100);
		padding-top: 20px;
		@include breakpoint(from-small) {
		    @include grid(33);
		}


		@include breakpoint(from-large) {
			max-width: 244px;
		    margin-top: 40px;
		    margin-left: 75px;
		    padding-top: 0;
		}
	}

	.social--footer {
		padding-top: 20px;
		position: relative;
		width: 170px;
		margin: 0px auto;
		float: none;
		@include breakpoint(from-large) {
		    position: absolute;
		    top: 43px;
		    right: 0;
		    padding-top: 0;
		}
		a {
			&:before {
				color: $black;
			}
		}

		a:hover {
			&:before {
				color: $white;
			}
		}
	}
	&__nav {
		@extend %zero-margin-padding;
		@extend %clearfix;
		width: auto;
		margin: 0 auto;
		display: block;
		text-align: left;
		padding-top: 20px;

		@include breakpoint(from-large) {
		    padding-top:40px;
		}

		li {
			@extend %zero-margin-padding;
			display: inline-block;
			float: left;
			font-family: $font-family--din;
			font-size: 15px;
			letter-spacing: 0px;
			line-height: 20px;
			@include grid(33);
			@include breakpoint(to-medium) {
				//width: 100%;
				text-align: center;
				@include grid(100);
			}
			@include breakpoint(from-medium) {
			    width:auto;
			    float:left;
			}

			a {
				padding:0 20px;
				text-decoration:none;
				color: $mid-grey;
				@include breakpoint(from-large) {
					padding:0 5px 0 0;
					&:before {
					    content:'|';
					    color: $primary-color;
					    padding:0 10px;
					    text-decoration:none;
					}
				}

				&:hover {
					color: $black;
				}
			}

			&:first-child {
				margin: 0 20px;
				text-align:center;
				@include grid(100);
				@include breakpoint(from-medium) {
				    width:auto;
				}
				@include breakpoint(to-small) {
					margin: 0;
				}

				a {
					&:before {
						display: none;
					}
				}
			}

			&:last-child {
				margin: 0;
				float: right;
				text-align: right;
				@include breakpoint(to-medium) {
					text-align: center;
				}

				a {
					padding:0 20px;
					text-decoration:none;
					color: $mid-grey;

					@include breakpoint(from-large) {
						padding:0 5px 0 0;

						&:before {
						    content:' ';
						    color: $mid-grey;
						    padding: 0 10px;
						    text-decoration: none;
						}
					}
				}
			}
		}
	}

	&__copyright {
		text-align:center;
		font-size:14px;
		color: $mid-grey;
		padding:20px;
	}
}


// live chat styles

#hfc-cleanslate  h2.hfc-badge-title,
.hfc-title-text {
	font-family: $font-family--special !important;
	text-transform: uppercase !important;
	font-size: 17px !important;
}
