// Gravity forms : Variables
$input-bg:           #fff !default;
$input-color:        #999 !default;
$input-border:       #DEDEDE !default; // Changed
$input-border-focus: #fff !default; // Updated to White #fff
$input-label:        #4A4A4A !default; // Changed
$input-error:        #ca3c3c !default;
//$input-shadow:       1px 1px 2px #eee inset !default; Remove this
$input-transition:   all .3s ease-in-out !default;

$form-button-background: #4A4A4A;
$form-button-background-hover: #222;
$form-button-text:            #fff !default; // Text colour

$form-required: #4A4A4A !default;
$form-muted:    #DEDEDE !default; //Changed

$form-font-size:   16px !default;
$form-line-height: $form-font-size * 1.5 !default;
$form-space:       $form-font-size / 2 !default;

$white: #fff !default;
$gray:  #aaa !default;

// Form mixins - Handles the calculations and abstracted fun

// Font sizing mixin
// @link https://github.com/csswizardry/inuit.css/blob/master/generic/_mixins.scss [props]
// @example
//@include form-font-size(10px);
@mixin form-font-size($font-size) {
	font-size: $font-size;
	font-size: ($font-size / $form-font-size) * 1rem;
}

// Micro clearfix mixin
// @link http://www.css-101.org/articles/clearfix/latest-new-clearfix-so-far.php [props]
// @example
// @include form-clearfix;
@mixin form-clearfix {
	&::after {
		clear: both;
		content: '';
		display: table;
	}
}

// Spacing mixin
// @link https://twitter.com/HugoGiraudel [props]
// @example
// @include form-spacing(padding, 0 $form-space auto);
@mixin form-spacing($spacing-type, $args) {
	$fallback: ();
	$regular: ();

	@each $value in $args {
		@if type-of($value) == 'number' and unit($value) == 'px' {
			$fallback: append($fallback, $value);
			$regular: append($regular, $value / $form-font-size * 1rem);
		}

		@else if type-of($value) == 'number' and unit($value) == 'rem' {
			$fallback: append($fallback, $value / 1rem * $form-font-size);
			$regular: append($regular, $value);
		}

		@else {
			$fallback: append($fallback, $value);
			$regular: append($regular, $value);
		}
	}

	#{$spacing-type}: $fallback;
	#{$spacing-type}: $regular;
}


// Gravity forms

.gform_wrapper {

	label {
		color: $input-label;
		font-weight: 300;
	}

	input[type="text"],
	input[type="search"],
	input[type="password"],
	input[type="number"],
	input[type="email"],
	input[type="url"],
	input[type="tel"],
	input[type="file"],
	textarea,
	select {
		@include form-spacing(padding, $form-space);
		background: $input-bg;
		color: $input-color;
		border: 1px solid $input-border;
		line-height: normal;
		display: block;
		width: 100%;
		//box-shadow: $input-shadow;
		transition: $input-transition;
		font-size:14px;
		&:focus {
			border-color: $input-border-focus;
			outline: none;
		}
	}

	input[type="file"] {
		&:hover { cursor: pointer; }
	}

	input[type="search"] {
		width: auto;
		display: inline-block;
	}

	select {
		height: ceil($form-line-height * 1.33);
	}

	select[multiple],
	select[size] {
		height: auto;
	}

	input[type="checkbox"],
	input[type="radio"] {
		width: auto;
		display: inline-block;
	}

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button {
		@include form-spacing(padding, $form-space $form-space * 2);
		@include form-font-size(14px);
		color: $form-button-text;
		background: $form-button-background;
		display: inline-block;
		font-weight: 400;
		text-transform: none;
		border: 0;
		transition: $input-transition;
		border:1px solid #FFF;
		padding:10px 30px;

		&:hover {
			background: $form-button-background-hover;
			cursor: pointer;
		}
	}

	// WebKit-style focus
	// @link https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/mixins/_tab-focus.scss [props]
	input[type="checkbox"],
	input[type="radio"],
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button {
		&:focus {
			outline: thin dotted;
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
		}
	}
}


.gform_body ul li {
	list-style:none;
}

.gform_heading {
	display: none;
}
.ginput_complex,
.clear-multi,
.ginput_full,
.gf_list_2col,
.gf_list_3col,
.gf_list_4col,
.gf_list_5col,
.gf_list_inline,
.gf_page_steps,
.ui-datepicker-header {
	@include form-clearfix;
}

.gform_wrapper form {
	@include form-spacing(margin-bottom, $form-space);
}

.gform_heading {
	@include form-spacing(margin-bottom, $form-space * 2);
	@include form-spacing(padding-bottom, $form-space);
	//border-bottom: 1px solid lighten($form-muted, 25%);

	.gform_title {
		@include form-spacing(margin-bottom, $form-space);
	}
}

.gsection {
	@include form-spacing(margin-bottom, $form-space);
	@include form-spacing(padding-bottom, $form-space);
	border-bottom: 1px solid $form-muted;

	.gsection_title {
		@include form-spacing(margin-bottom, $form-space);
	}
}

.gfield_required {
	color: $form-required;
	padding-left: 2px;
}

.ginput_complex label {
	font-weight: normal;
}

.gform_fields {
	margin: 0;
	list-style: none;
}

.gfield {
	@include form-spacing(margin-bottom, $form-space);
}

.gfield_description {
	@include form-font-size(14px);
	font-style: italic;
}

.validation_message {
	font-style: normal;
}

.gfield_checkbox,
.gfield_radio {
	list-style: none;
	margin: 0;

	input {
		@include form-spacing(margin-right, 4px);
	}
}

.gfield_radio {
	input[type="text"] {
		width: auto;
		display: inline-block;
	}
}

.ginput_complex {
	.ginput_left {
		width: 49%;
		float: left;
		clear: left;
	}

	.ginput_right {
		width: 49%;
		float: right;
		clear: right;
	}
}

.name_prefix {
	width: 10%;
	float: left;
	margin-right: 1%;
}

.name_first {
	width: 39%;
	float: left;
	margin-right: 1%;
}

.name_last {
	width: 39%;
	float: left;
	margin-right: 1%;
}

.name_suffix {
	width: 9%;
	float: right;
}

input.datepicker_with_icon {
	@include form-spacing(margin-right, $form-space);
	display: inline-block;
	width: auto;
}

.gfield_date_month,
.gfield_date_dropdown_month {
	display: inline-block;
	width: auto;
	margin-right: 1%;
}

.gfield_date_day,
.gfield_date_dropdown_day {
	display: inline-block;
	width: auto;
	margin-right: 1%;
}

.gfield_date_year,
.gfield_date_dropdown_year {
	display: inline-block;
	width: auto;
}

.gfield_time_hour {
	float: left;
	margin-right: 1%;

	input {
		width: inherit;
		display: inline-block;
	}

	label { display: block; }
}

.gfield_time_minute {
	width: 30%;
	float: left;
	margin-right: 1%;
}

.gfield_time_ampm {
	width: 20%;
	float: left;
	margin-right: 1%;
}

.gfield,
.gform_footer {
	clear: both;
}

.gf_left_half {
	width:100%;
	@include breakpoint(from-small) {
	    width: 49%;
	    float: left;
	    clear: left;
	}
}

.gf_right_half {
	width:100%;
	@include breakpoint(from-small) {
	    width: 49%;
	    float: right;
	    clear: right;
	}
}

.gf_left_third {
	clear: none;
	width: 32.5%;
	float: left;
	margin-right: 1.25%;
}

.gf_middle_third {
	clear: none;
	width: 32.5%;
	float: left;
}

.gf_right_third {
	clear: none;
	width: 32.5%;
	float: right;
}

.gf_inline {
	width: auto;
	display: inline-block;
	margin-right: 1%;
	vertical-align: top;
}

.gf_list_2col li {
	width: 50%;
	float: left;
}

.gf_list_3col li {
	width: 33%;
	float: left;
}

.gf_list_4col li {
	width: 25%;
	float: left;
}

.gf_list_5col li {
	width: 20%;
	float: left;
}

.gf_list_inline li {
	display: inline-block;
	margin-right: 1%;
}

.gf_list_height_25 li {
	height: 25px;
}

.gf_list_height_50 li {
	height: 50px;
}

.gf_list_height_75 li {
	height: 75px;
}

.gf_list_height_100 li {
	height: 100px;
}

.gf_list_height_125 li {
	height: 125px;
}

.gf_list_height_150 li {
	height: 150px;
}

.gfield_list {
	margin: 0;

}

.gfield_list > tbody > tr:nth-child(odd) > td,
.gfield_list > tbody > tr:nth-child(odd) > th {
	@include form-spacing(padding-right, $form-space);
	background: none;
	line-height: normal;
	padding: 0;
	border: 0;
}

.gfield_list > thead > tr > th {
	border: 0;
}

.gf_scroll_text {
	padding: 12px;
	border: 1px solid #cecece;
	height: 180px;
	overflow: auto;

	p:last-of-type {
		margin-bottom: 0;
	}
}

.gf_hide_ampm {
	.gfield_time_ampm {
		display: none;
	}
}

.gf_hide_charleft {
	.charleft {
		display: none;
	}
}

.gf_page_steps {
	@include form-spacing(margin-bottom, $form-space);
	line-height: 1;
}

.gf_step {
	display: inline-block;
	opacity: .2;
	margin-right: 1%;

	&:last-of-type {
		margin-right: 0;
	}
}

.gf_step_active {
	opacity: 1;
}

.gf_step_number {
	font-weight: bold;
	font-size: 150%;
}

.gfield_error {
	padding: $form-space;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-left-color: #d9534f;

	> label,
	.validation_message {
		color: $input-error;
	}

	input,
	textarea,
	select {
		border-color: $input-error;

		&:focus {
			border-color: darken($input-error, 10%);
		}
	}
}

// honeypot field, hide it from human beings
.gform_validation_container {
	display: none;
	position: absolute;
	left: -9000px;
}

.ui-datepicker {
	background: $white;
	border: 1px solid $gray;
}

.ui-datepicker-prev {
	width: 20%;
	float: left;
}

.ui-datepicker-next {
	width: 20%;
	float: right;
}

.ui-datepicker-title {
	width: 60%;
	float: left;

	select {
		width: auto;
		display: inline-block;
	}
}


li.gfield.hide-label > label {
	display: none;
}

.textarea.medium {
	height:170px;
}
