.sidebar {
	@extend %grid-block-collapse;
	@include grid(100);
	@include breakpoint(from-medium) {
	    @include grid(30);
	    max-width:306px;
	    padding:40px 0;
	}

	.sz-easy-sub-page-widget {
		@include breakpoint(from-large) {
			padding-bottom:200px;
		}

		.children {
			padding-top:10px;
			li {
				font-size:14px;
				margin-left:10px;
			}
		}

		h3 a {
			color: #46A1CF;
			font-size:20px;

			&:hover {
				text-decoration:none;
				color: #222;
			}
		}
		ul {
			margin:0;
			padding:0;
		}
		ul li {
			margin:0;
			padding:8px 0;
			line-height:1.2;
			list-style:none;
			font-size:20px;

			a {
				color: #4A4A4A;
			}

			a:hover {
				text-decoration:none;
				color: #46A1CF;
			}

			&.current_page_item > a {
				font-weight:bold;
			}
		}
	}
}