// styles for the default page template
.social {
	display: block;
	float:right;
	margin-left:0;
	margin:0;
	padding:0;
	height:50px;
	@extend %clearfix;

	li {
		margin:0;
		padding:0;
		color: #9B9B9B;
		font-size:14px;
		line-height:50px;
		list-style:none;
		display: inline-block;
		float:left;
		width:50px;
		height:50px;
		margin-right:10px;
		&:last-child {
			margin-right:0;
		}
	}

	a {
		display: inline-block;
		float: left;
		width:50px;
		height:50px;
		// style the social icons using the font awesome mixin
		background:url(../images/bg-social-icon.svg) top center no-repeat;
		background-size: 50px 100px;
		transition:none;

		&:hover {
			background:url(../images/bg-social-icon.svg) bottom center no-repeat;
		}
		&:before {
			color: #FFF;
			line-height:50px;
			font-size:20px;
			width:50px;
			height:50px;
			text-align:center;
		}



		&.social__icon--facebook {
			&:before {
				@include font-awesome("\f09a");
			}
			//&:hover {
				// &:before {
				// 	color: #3b5998;
				// }
			//}
		}

		&.social__icon--twitter {
			&:before {
				@include font-awesome("\f099");
			}
			//&:hover {
				// &:before {
				// 	color: #55acee;
				// }
			//}
		}

		&.social__icon--instagram {
			&:before {
				@include font-awesome("\f16d");
			}
			// &:hover {
			// 	&:before {
			// 		color: #3f729b;
			// 	}
			// }
		}

		&.social__icon--email {
			&:before {
				@include font-awesome("\f0e0");
			}
			// &:hover {
			// 	&:before {
			// 		color: #3f729b;
			// 	}
			// }
		}
	} // social a
} // social