
table {
	width: 100%;

	thead {
		color: $white;
		background-color: $black;
		text-transform: uppercase;
		@include breakpoint(to-small) {
			font-size: 12px;
		}

		tr {
			height: 40px;
			@include breakpoint(to-small) {
				height: 60px;
			}

			th {
				padding: 0 24px 4px;
				font-family: $font-family--rb;
				font-size: 19px;
				font-weight: normal;
				letter-spacing: 1.5px;
				@include breakpoint(to-small) {
					padding: 0 12px 4px;
					font-size: 16px;
				}
			}
		}
	}

	tbody {

		tr {
			height: 40px;
			border: none;

			&:nth-child(odd) {
				background-color: $background-color-body;
			}

			&:nth-child(even) {
				background-color: $light-blue;
			}

			td {
				padding: 10px 24px;
				color: $black;
				font-size: 18px;
				font-weight: 200 !important;
				@include breakpoint(to-small) {
					padding: 10px 12px;
				}
			}
		}
	}
}
