// tile-area styles
.tile-area {
	@extend %grid-container-collapse;
	background:#F6F7F6;
}

.tile {
	// note - these tiles have match height applied via JS
	background:#F6F7F6;
	@extend %grid-block-collapse;
	@include grid(100);
	@include breakpoint(from-medium) {
	    @include grid(50);
	}

	h3 {
		margin:0;
		color: #FFF;
		line-height:30px;
		font-size:24px;
		padding:23px 35px;
		background:$turner-grey;
	}

	&__copy {
		padding:0 35px;
	}

	&__footer {
		@extend %clearfix;
		background: #9B9B9B;
		padding:23px 35px;

		a {
			color: #FFF;
			text-decoration:underline;
		}

		a:hover {
			color: #222;
		}
	}

	// styles based on modifier class
	&--form {
		.gform_wrapper {
			padding:20px;
		}
	}

	&--news {
		h3 {
			background:#4A4A4A;
		}
	}

	&--story {
		background:#f1f1f1;
	}

	// styles for the text copy tile
	&__copy--story {

		p a {
			font-size:12px;
		}
	}

	// for the text tile, swap all copy to white
	&__copy--text {

		p {
			color:#fff;
		}

		a {
			color: #FFF;
			&:hover {
				color: #FFF;
				text-decoration:underline;
			}
		}
	}
}


// news item styles - for within a tile
.tile-news-item {
	@extend %clearfix;
	border-bottom:1px solid #e5e5e5;
	&__image {
		@extend %grid-block-collapse;
		@include grid(100);
		@include breakpoint(from-small) {
		    @include grid(50);
		}
	}
	&__copy {
		@extend %grid-block;
		@include grid(100);
		padding:20px;
		@include breakpoint(from-small) {
		    @include grid(50);
		}

		h4 {
			color: #5C5C5C;
		}

		a {
			@extend %clearfix;
			display: inline-block;
			margin-top:30px;
			color: #3696C8;
			text-decoration:underline;
		}

		a:hover {
			color: #222;
		}
	}
}