// // Editor Styles
// // Layout and global styles

// // Import base partials (resets and shared functionality)
// @import "base/reset";
// @import "base/mixins";
// @import "base/fonts";
// @import "base/variables";
// @import "base/default-wp";
// @import "base/minimal-grid";

// // // Import theme specific styles
// @import "global/body";
// @import "global/typography";

// #tinymce {
// 	padding:5px 10px;
// }

// ul {
// 	@extend %ul-styles;
// }
// // a {
// // 	text-decoration: underline;
// // 	font-weight: bold;
// // }