section.year-membership-packs-page {
	background-color: $white;
	@include display-flex;
	@include flex-flow(row nowrap);
	@include justify-content(space-between);
	@include breakpoint(to-medium) {
		@include flex-flow(column nowrap);
	}

	// TEMPLATE membership-packs.php
	div.all-membership__sidebar {
		width: 100%;
		max-width: 280px;
		min-height: 100vh;
		position: relative;
		padding: 60px 20px 90px 20px;
		background-color: $background-color-body;
		@include display-flex;
		@include flex-flow(column nowrap);
		@include breakpoint(to-medium) {
			width: 100%;
			max-width: 100%;
			height: auto;
			min-height: auto;
			@include justify-content(center);
		}

		div.all-membership__sidebar__category {
			margin-bottom: 25px;
			@include breakpoint(to-medium) {
				@include display-flex;
				@include flex-flow(column nowrap);
				@include justify-content(center);
			}

			h3 {
				padding-top: 0;
				font-family: $font-family--heading;
				font-size: 25px;
				letter-spacing: 2px;
				@include breakpoint(to-medium) {
					text-align: center;
				}
			}

			.checkbox-button {
				width: 240px;
				height: 50px;
				margin: 10px auto;
				text-transform: uppercase;
				color: $white;
				background: $btn-gradient-inside; /* Old browsers */
				background: -moz-linear-gradient(bottom, $btn-gradient-outside 0%, $btn-gradient-inside 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(bottom, $btn-gradient-outside 0%, $btn-gradient-inside 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to top, $btn-gradient-outside 0%, $btn-gradient-inside 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$btn-gradient-inside', endColorstr='$btn-gradient-inside', GradientType=0 );
				cursor: pointer;
				@include display-flex;
				@include align-items(center);
				@include justify-content(center);
				// @include breakpoint(to-large) {
				// 	border: 1px solid red;
				// }

				span {
					font-size: 20px;
				}
			}

			input[type="checkbox"]:checked + label.checkbox-button {
				border: 4px solid $nav-background-color;
				transition: border 0.2s ease 0s, color 0.1s ease 0s;
				color: $primary-color;
			}

			input.hidden {
				opacity: 0;
				position: absolute;
			}
		}
	}


	div.all-membership__main {
		width: 100%;
		padding: 50px 10px;
		@include display-flex;
		@include flex-flow(row wrap);
		@include justify-content(center);

		//specific styling for each package block is @ _row-help-me.scss
	}
}
