// sub page styles

.content-row__contact {


	@extend %grid-block-collapse;
	@extend %clearfix;
	@include grid(100);
	padding:20px;
	@include breakpoint(from-medium) {
	    @include grid(100);
	}
	@include breakpoint(from-large) {
		@include grid(50);
	    max-width:380px;
	    padding:0;
	    margin-top:40px;
	}

	h3 {
		font-size:20px;
		padding-bottom:0;
	}

	p {
		padding-top:2px;
	}

	.contact-block {
		display: inline-block;
		float:left;
		padding:0 20px;
		@include grid(100);
		@include breakpoint(from-medium) {
		    @include grid(50);
		    height:225px;
		}
		@include breakpoint(from-large) {
		    @include grid(100);
		    height:auto;
		    padding:0;
		    padding-bottom:25px;
		    margin-bottom:15px;
		}
		border-bottom:2px solid $primary-color;
		position: relative;

		&:after {
			position: absolute;
			bottom:0;
			right:0;
			content:'';
			width:33px;
			height:28px;
			//background:url(../images/hr-icon.svg) top center no-repeat;
			//background-size:33px 28px;
		}
	}

	a {
		color: $primary-color;
	}
}

.content-row__contact-map {
	@extend %grid-block-collapse;
	@include grid(100);
	@include breakpoint(from-medium) {
	    @include grid(100);
	}
	@include breakpoint(from-large) {
		@include grid(100);
	    max-width:650px;
	    float:right;
	    margin-top:55px;
	}
}

.social--contact {
	@extend %clearfix;
	padding-top:20px;
	display: block;
	width:170px;
	float:none;
	margin:0 auto;
	@include breakpoint(from-large) {
		padding:0;
		margin:10px 0 30px 0;
	    float:left;
	}

	li a {
		color: $black;
		&:before {
			color: $black;
		}

		&:hover {
			&:before {
				color: #FFF;
			}
		}
	}
}