// sub page styles

.main--sub-page {
	padding: 30px 55px;
	@include breakpoint(from-medium){
		min-height: 880px;
	}
	@include breakpoint (to-medium) {
		padding: 15px;
	}
}

.package-detail__pricing.sell_seat .table-col {
    display: inline-block;
    height: 100px;
    line-height: 80px;

}
