// news summary styles
.main--news-summary-page {
	padding-bottom:30px;
}
.main--news-summary-page .container {
	padding: 70px;
}

.post-border {
	top:-32px;
	position: relative;
	display: block;
	width:100%;
	@include breakpoint(from-medium) {
	    top:-50px;
	}
	&:before {
		content:'';
		display: block;
		position: absolute;
		width:100%;
		height:2px;
		background:$primary-color;
		top:30px;
	}

	&:after {
		content:'';
		display: block;
		position: absolute;
		top:30px;
		right:0;
		width:33px;
		height:28px;

	}
}

.post-date {
	background:url(../images/news-date-bg.svg) top center no-repeat;
	background-size:66px 110px;
	width:66px;
	height:110px;
	display: inline-block;
	float:left;
	position: absolute;
	top:15px;
	left:10px;

	@include breakpoint(from-medium) {
		position: relative;
		top:0;
		left:0;
	    margin-top:-36px;
	    z-index: 100;
	}
	&__item {
		color: #FFF;
		text-transform:uppercase;
		font-family:$font-family--special;
		font-size:20px;
		line-height:30px;
		display: block;
		width:100%;
		text-align:center;
		padding-top:3px;

		&--month {
			padding-top:6px;

		}
		&--day {
			color: $primary-color;
			font-size:50px;
		}
		&--year {

		}
	}
}


article.type-post {
	@extend %clearfix;
	padding-top:32px;
	padding-bottom:20px;
	@include breakpoint(from-medium) {
	    padding-top:50px;
	    padding-bottom:40px;

	}

	.news__thumb {
		@extend %grid-block-collapse;
		@include grid(100);

		@include breakpoint(from-medium) {
		    @include grid(25);
		    margin-top:10px;
		   	margin-left:0;
		    max-width:170px;
		}
		@include breakpoint(from-large) {
		    margin-left:34px;
		}

		img {
			width:100%;
			max-width:400px;
			margin:0 auto;
		}
	}

	.news__intro {
		@extend %grid-block;
		@include grid(100);
		margin-top:20px;

		@include breakpoint(from-medium) {
			padding-left:20px;
			position: relative;
			@include grid(70);
		    max-width:680px;
		}
		@include breakpoint(from-large) {
		    @include grid(65);
		    margin-left:20px;
		    padding-left:10px;
		}
		h2 {
			font-size:26px;
			line-height:1.2;

			@include breakpoint(from-large) {
				padding-bottom:0;
			    margin-bottom:0;
			    margin-top:5px;
			}
			a {
				color: $primary-color;

				&:hover {
					color: #000;
					text-decoration:none;
				}
			}
		}

		p {
			padding-top:0;
		}

		.btn--read-more {
			background:$primary-color;
			color: #FFF;
			//border-radius:6px;
			float:right;
			width:100%;

			&:hover {
				background:#FFF;
				color: $primary-color;
			}
			@include breakpoint(from-medium) {
			    width:auto;
			}
			@include breakpoint(from-large) {
				position: absolute;
				bottom:-40px;
				right:-90px;

			}
		}
	}
}

.pagination {
	@extend %clearfix;
	@include grid(100);
	display: block;
	background:#EBF6FD;
	margin-top:20px solid #FFF;

	.page-numbers {
		line-height:50px;
		padding:0 20px;
		display: inline-block;
		float:left;

		&.current {
			color: #ccc;
		}
	}
	a {

		&:hover {
			text-decoration:none;
			background:$primary-color;
			color: #FFF;
		}
	}

}
