.package-overlay {

}

a.btn--buy-now {
	display: none;
	color: #FFF;
	//border-radius:6px;
	font-size: 15px;
	position: absolute;
	right: 15px;
	bottom: 115px;
	line-height: 2;
	color:#FFF;
	background:$primary-color;
	padding:10px 40px;
	@include breakpoint(from-medium) {
		display: block;
	}

	&:hover {
		background:none;
	}

	.banner--sub & {
		top:40px;
		bottom:auto;
		@include breakpoint(from-large) {
			top:60px;
		}
	}
}



#package-results {
	position: relative;

	.social {
		position: absolute;
		top:0;
		left:-50px;
		width:50px;

		li {
			background:rgba(0,0,0,0.8);
			span {
				border:2px solid #CCC;
				display: block;
				width:50px;
				height:50px;
				color: #CCC;
				line-height:50px;
				font-size:20px;
				text-align:center;
				background:url(../images/share-icon.svg) top center no-repeat;
				background-size:50px 50px
			}
			a {
				background:none;
				border:2px solid #FFF;
				border-top:none;
				&:hover {
					&:before {
						color: $primary-color;
					}
				}
			}
		}
	}
	.share--facebook {
		display: block;
		background:#000;
		color: #FFF;
		height:50px;
		width:50px;
		margin-left:-80px;
		position: absolute;
	}

	.package-detail {
		padding:0;
		max-width:890px;
		height: 100vh;
		position: relative;
		&__header {
			display: block;
			background:url(../images/package-overlay-header-bg.jpg) top right no-repeat;
			height:125px;
			background-size: 100% 100%;
			position: relative;
			z-index: 300;
			@include breakpoint(from-medium) {
			     height:190px;
			}
			@include breakpoint(from-large) {
			    height:250px;
			}

			.banner__headline {
				margin-left:0;
				padding:60px 20px 40px 20px;
				@include breakpoint(from-large) {
				    padding:0;
				    max-width:680px;
				    padding-left:50px;
				    padding-top:45px;
				}
			}
		}
	}

	.package-detail__content{
		background:#FFF;
		//padding:10px;
		overflow:scroll;
		position:absolute;
		top: 0;
		left: 0;
		bottom:0;
		width: 100%;
		height: 100%;
		z-index: 200;

		/* smooth scrolling on touch devices */
		-webkit-overflow-scrolling: touch;
		@include breakpoint(from-medium) {
		    //padding:20px 50px;
		}
	}
}

// overlay styles

// breakpoints

$S:     480px;
$M:     768px;
$L:     1170px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
   @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
   @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
   @media only screen and (min-width: $L) { @content; }
  }
}

$color-1: #dbe2e9; // blue light
$color-2: #89ba2c; // green
$color-3: #424f5c; // blue dark
$color-4: #ffffff; // white

// fonts

$primary-font: 'Droid Sans', sans-serif;
$secondary-font: 'Droid Serif', serif;

// panel size

$panel-width-S: 90%;
$panel-width-M: 70%;
$panel-width-L: 50%;

@-webkit-keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}
@-moz-keyframes cd-close-1 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(45deg);
  }
}
@keyframes cd-close-1 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@-webkit-keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
  }
}
@-moz-keyframes cd-close-2 {
  0%, 50% {
    -moz-transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(-45deg);
  }
}
@keyframes cd-close-2 {
  0%, 50% {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}

// base styles
.cd-panel {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	-webkit-transition: all 600ms ease-in-out;
	-moz-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out;
	z-index: 1000;
	//background:url(../images/overlay-bg.jpg) top left no-repeat #000;

	// &::after {
	// 	/* overlay layer */
	// 	content:'';
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// 	width: 100%;
	// 	height: 100%;
	// 	background:url(../images/overlay-bg.jpg) top left no-repeat #000;
	// 	cursor: pointer;
	// 	-webkit-transition: background 0.3s 0.3s;
	// 	-moz-transition: background 0.3s 0.3s;
	// 	transition: background 0.3s 0.3s;
	// }

	&.is-visible {

		-webkit-transition: all 600ms ease-out;
		-moz-transition: all 600ms ease-out;
		transition: all 600ms ease-out;
		visibility: visible;

		&::after {
			background: rgba(#000, .6);
			-webkit-transition: background 0.3s 0s;
			-moz-transition: background 0.3s 0s;
			transition: background 0.3s 0s;
		}

		.cd-panel-close::before {
			-webkit-animation: cd-close-1 0.6s 0.3s;
			-moz-animation: cd-close-1 0.6s 0.3s;
			animation: cd-close-1 0.6s 0.3s;
		}

		.cd-panel-close::after {
			-webkit-animation: cd-close-2 0.6s 0.3s;
			-moz-animation: cd-close-2 0.6s 0.3s;
			animation: cd-close-2 0.6s 0.3s;
		}
	}
}




.cd-panel-close {
	position: absolute;
	top: 0;
	right: 0;
	height: 40px;
	width: 220px;
	background:rgba(0,0,0,0.5);
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
	line-height:40px;
	color: #FFF;
	padding-left:30px;
	font-size:16px;
	text-transform:uppercase;
	z-index: 200;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
	z-index: 2000;
	&::before, &::after {
		content:'';
		position: absolute;
		top: 17px;
		right: 15px;
		height: 3px;
		width: 20px;
		background-color: #FFF;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	&::before {
		-webkit-transform: rotate(45deg);
		-moz-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	&::after {
		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	&:hover {
		background:rgba(0,0,0,0.75);
		color: #FFF;
		text-decoration:none;
		&::before, &::after {
			background-color:#FFF;
			-webkit-transition-property: -webkit-transform;
			-moz-transition-property: -moz-transform;
			transition-property: transform;
			-webkit-transition-duration: 0.3s;
			-moz-transition-duration: 0.3s;
			transition-duration: 0.3s;
		}

		&::before {
			-webkit-transform: rotate(220deg);
			-moz-transform: rotate(220deg);
			-ms-transform: rotate(220deg);
			-o-transform: rotate(220deg);
			transform: rotate(220deg);
		}

		&::after {
			-webkit-transform: rotate(135deg);
			-moz-transform: rotate(135deg);
			-ms-transform: rotate(135deg);
			-o-transform: rotate(135deg);
			transform: rotate(135deg);
		}
	}
}

.cd-panel-container {
	position: fixed;
	width: $panel-width-S;
	height: 100%;
	top: 0;
	background: $color-1;
	z-index: 200;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	transition-delay: 0.3s;

	.from-right & {
		right: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		-moz-transform: translate3d(100%, 0, 0);
		-ms-transform: translate3d(100%, 0, 0);
		-o-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	.from-left & {
		left: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		-ms-transform: translate3d(-100%, 0, 0);
		-o-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	.is-visible & {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		-webkit-transition-delay: 0s;
		-moz-transition-delay: 0s;
		transition-delay: 0s;
	}

	@include breakpoint(from-medium) {
		width:90%;
		max-width:890px;
	}

	@include breakpoint(from-large) {
		width:90%;
		max-width:890px;
	}
}

.cd-panel-content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	// put overflow auto on content
	//overflow-y: auto;
	z-index: 200;
	/* smooth scrolling on touch devices */
	-webkit-overflow-scrolling: touch;
}

.cd-panel-container {
	background: url(../images/loading.gif) center center no-repeat #FFF;
}
