div.sharks-request {
    flex-flow: column nowrap;
    justify-content: center;
    padding: 30px 65px;
    margin-bottom: 30px;
    @include breakpoint(to-medium) {
      padding: 15px;
      margin-bottom: 10px;
    }
}


#mktoForm_1262 {
  width: 1170px !important;
  margin: 0 auto;
  // @include display-flex;
  @include flex-flow(row wrap);
  @include breakpoint(to-large) {
    width: 100% !important;
    @include flex-flow(column nowrap);
    @include justify-content(center);
  }
  @include breakpoint(to-medium) {
    @include justify-content(center);
  }

  .mktoFormRow {
    @include display-flex;
    @include breakpoint(to-large) {
      width: 100%;
      @include flex-flow(row wrap);
      @include justify-content(center);
    }
    @include breakpoint(to-medium) {
      margin: 0 auto;
    }

    .mktoFieldDescriptor {
      @include display-flex;
      @include flex-flow(row nowrap);
      @include breakpoint(to-medium) {
        @include justify-content(center);
      }


      .mktoOffset {
        display: none;
      }

      .mktoFieldWrap {
        margin-right: 30px;
        @include display-flex;
        @include flex-flow(column nowrap);
        @include breakpoint(to-large) {
          // margin: 0 15px;
        }
        @include breakpoint(to-medium) {
          margin: 0;
        }

        .mktoLabel {
          width: 270px !important;
          margin-bottom: 10px;
          color: $black;
          font-family: $font-family--din;
          font-weight: bold;
          text-transform: uppercase;
        }

        .mktoGutter {
          display: none;
        }

        // #FirstName, #LastName, #Email {
        .mktoField {
          height: 45px;
          width: 270px !important;
          border: 2px solid $black;
          box-shadow: none;
        }
      }

      .mktoClear {
        display: none;
      }
    }
  }

  .mktoButtonRow {
    position: relative;
    top: 30px;
    @include breakpoint(to-large) {
      @include display-flex;
      @include justify-content(center);
      top: 0;
      margin-top: 20px;
    }

    .mktoButtonWrap {
      margin: 0 !important;

      .mktoButton {
        height: 45px;
        width: 270px;
        color: $white;
        background: $black;
        border: none;
        font-family: $font-family--microgramma;
        font-size: 18px;
        text-transform: uppercase;
        box-shadow: none;

        &:hover {
          color: $black;
          background: none;
          border: 2px solid $black;
        }
      }
    }
  }
}
