.membership-packs-page__list {
  margin-bottom: 60px; }
.membership-packs-page hr {
  margin-bottom: 45px; }
.membership-packs-page .pack_container {
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
  width: 24.5%;
  margin: 0px; }
.membership-packs-page .pack {
  display: inherit;
  width: 315px;
  min-height: 400px;
  margin: 5px;
  background-color: white; }
  .membership-packs-page .pack .title {
    margin-top: 20px;
    margin-bottom: 3px;
    color: #30a1d2;
    font-size: 31px;
    text-transform: capitalize;
    text-align: left; }
  .membership-packs-page .pack .image {
    height: 350px;
    width: 315px;
    padding: 10px;
    background-color: white;
    position: relative; }
    .membership-packs-page .pack .image img {
      height: 100%;
      width: auto;
      position: absolute;
      left: 50%;
      bottom: 0;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
  .membership-packs-page .pack .description {
    padding: 40px 30px 40px 30px;
    margin-top: 0px;
    text-align: center;
    background-color: #f0f9fd; }

.fluid-img img {
  width: 1010px;
  height: auto; }

/*# sourceMappingURL=membership-packs.css.map */
