.omis-all-membership-filter-container, .omis-reservedseating-filter-container {
	background-color: #000;
	padding: 20px 0px;

	.omis-all-membership-filter-item {
		border-right: 1px solid #fff;
		padding: 13px 0px;
	}

	select {
		background-color: transparent;
		border-width: 0px;
		color: $header-bg;
		border: 1px solid transparent !important;
	}

	label {
		font-size: 25px;
		font-family: 'ProximaNova-Black';
	}
}

.omis-all-membership-container {
	margin-top: 120px;

	.omis-package-item {
		display: none;
	}

	.omis-package-item.omis-all-membership-item-active {
		display: block;
	}
}

.sold_out {
	position: absolute;
	bottom: 0;
	right: 15px;
}

@media (max-width: 767px) {
	.omis-all-membership-filter-container, .omis-reservedseating-filter-container {
		select {
			width: 100%;
		}
	}

	.omis-reservedseating-container .omis-rs-renewing-member {
		border-right: 0px !important;
	}
}

@media (min-width:768px) and (max-width:991px) {
	.sold_out {
		right: 55px;
	}
}


@media (max-width:1199px) {
	.omis-all-membership-filter-container, .omis-reservedseating-filter-container {
		select {
			width: 100%;
		}

		.input-group-text {
			padding-left: 0px;
		}
	}
}