.benefits-box {
	.mega-info-footer {

		a > img {
			position: absolute;
			top: 0px;
			bottom: 0px;
			right: 0px;
			left: 0px;
		}
	}
}

.benefits-box {

	.container .vc_column_container[class*="vc_col-"] > .vc_column-inner {
		padding-left: 3.5px;
		padding-right: 3.5px;		
	}

	& > .wpb_wrapper {
		width: 290px;
		height: 100%;
	}

	.benefit-info-box-icon {
		position: absolute;
		max-width: 290px;
		width: 100%;
		padding-top: 42px;
		z-index: 1;
		margin-bottom: 0px;

		&.wpb_single_image img {
			width: 50%;
		}
	}

	.mega-info-header {
		position: relative;

		&:before {
			background-color: rgba(154,202,234,0.9);
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
		}

		img {
			padding-bottom: 0px;
			max-width: 290px;
			width: 100% !important;
			z-index: 4;
			min-height: 223px;
			max-height: 223px;
		}
	}

	.mega_info_box_2 {
		margin-top: 0px;

		.mega-info-header {
			height: auto;
			margin-right: 0px;
		}
	}

	.mega_info_box_2 .mega-info-footer {
		margin-left: 0px;
		max-width: 290px;
		width: 100%;
		/*position: relative;*/
		position: absolute;
		/*top: 60%;*/
		height: 100%;

		h3 {
			font-family: "ProximaNova-Regular";
			font-weight: 400;
			color: #fff;
			position: absolute;
			bottom: 7px;
			padding-left: 15px;
			padding-right: 15px;
			width: 100%;
			text-align: center;
			z-index: 5;
			display: none;
		}

		p {
			display: none;
		}

		.mega-info-btn {
			background-color: transparent;
			font-size: 23px;
			position: absolute;
			/*display: block !important;*/
			display: flex !important;
			align-items: center;
			justify-content: center;
			max-width: 290px;
			width: 100%;
			height: 100%;
			padding: 0px;
			text-align: center;
			cursor: pointer;
			top: 0px;
			z-index: 3;
			font-family: "ProximaNova-Black";
			min-height: 223px;
			max-height: 223px;

			&:hover {
				background-color: rgba(0,0,0,0.3);
				-webkit-transition: background-color 0.9s ease;
				-ms-transition: background-color 0.9s ease;
				transition: background-color 0.9s ease;
				cursor: pointer;
				border-radius: 0px;
				z-index: 1;
			}
		}
	}
}

@media (max-width:1199px) {
	.benefits-info-box .vc_col-xs-12 {
		margin-bottom: 15px;
	}
}

@media (max-width:767px) {
	.benefits-info-box .container .vc_column_container[class*="vc_col-"]>.vc_column-inner {
		padding-left: 0px;
		padding-right: 0px;
	}
}