.benefits-info-box-container {
	.container .vc_column_container[class*="vc_col-"] > .vc_column-inner {
		padding-left: 3.5px;
		padding-right: 3.5px;		
	}

	.mega_info_box {
		display: block !important;
		width: 290px;
		min-height: 223px;
		max-height: 223px;
		position: relative;
		z-index: 3;

		&:hover {
			.on-hover p {
				display: block;
			}

			.link-bg {
				&:before {
					content: '';
					background-color: rgba(0,0,0,0.6);
				}
			}
		}

		.on-hover {
			position: absolute;
			z-index: 3;
			width: 100%;

			h3 {
				color: #fff;
				font-family: "ProximaNova-Black";
			}

			p {
				color: #fff;
				font-family: "ProximaNova-Regular";
				display: none;
			}

			img {
				max-width: 90px;
				width: 100%;
				height: auto;
				padding-top: 15px;
			}
		}

		.link-bg {
			position: absolute;
			top: 0px;
			height: 100%;

			&:before {
				background-color: rgba(154,202,234,0.9);
				content: '';
				max-width: 290px;
				max-height: 223px;
				min-height: 223px;
				width: 100%;
				display: block;
				position: absolute;
				z-index: 2;
				-webkit-transition: background-color 0.9s ease;
				-ms-transition: background-color 0.9s ease;
				transition: background-color 0.9s ease;
			}

			img {
				height: 100%;
				padding-bottom: 0px;
				z-index: 1;
			}
		}
	}
}

@media (max-width:1199px) {
	.benefits-info-box-container .vc_col-xs-12 {
		margin-bottom: 15px;
	}
}

@media (max-width:767px) {
	.benefits-info-box-container .container .vc_column_container[class*="vc_col-"]>.vc_column-inner {
		padding-left: 0px;
		padding-right: 0px;
	}

	.benefits-info-box-container {
		.mega_info_box {
			margin: 0 auto;
		}
	}
}