.table-sharks-text-container {
        &.member-council, &.terms-and-conditions {
        	table tr td:last-child {
			font-weight: 400;
			font-size: 20px;
		}
	}

	table {
		th {
			text-transform: uppercase;
			font-size: 20px;
			font-family: "ProximaNova-Black";
		}

		tr {
			border-bottom: 1px solid $header-bg;

			td {
				font-size: 20px;
				font-family: "ProximaNova-Regular";

				&:last-child {
					font-family: 'MicrogrammaDEE-BoldExte';
					font-size: 30px;
				}
			}
		}
	}

	ul {
		padding-left: 0px;
	}
}