.ufaq-faq-div {

	padding: 18px 0px;

	&:not(:last-child) {
		border-bottom: 1px solid $header-bg;
	}

	.ufaq-faq-title-text h4 {
		font-size: 27px;
		font-weight: 400;
	}

	.ewd-ufaq-post-margin-symbol {
		position: absolute;
		right: 0px;
		color: $header-bg;

		span {
			font-size: 20px;
			padding-top: 11px;
			font-weight: 700;
		}
	}
}