.sponsors {
	.sponsors__intro p {
		font-family: "ProximaNova-Black";
		font-size: 18px;		
	}
}

.footer-top {
	margin-bottom: 43px;

	div {
		height: 580px;
		background-size: 100%;
		background-repeat: no-repeat;
	}
}

footer {
	background-color: $header-bg;
	padding: 50px 0px;

	p {
		margin-bottom: 0px;
		font-size: 15px;

		&.footer-address-header, .footer-address-header, &.footer-address-header a {
			font-family: "ProximaNova-Black";
		}

		&.footer-address-header a {
			text-decoration: none;
			color: #008EC4;
		}
	}

	a {
		color: #000;

		&:hover, &:focus {
			text-decoration: none;
		}
	}

	li {
		list-style-type: none;
	}

	.footer__logo .footer__sharks_logo {
		max-width: 118px;
		width: 100%;
	}

	.footer__img {
		max-width: 150px;
		width: 100%;
		padding-left: 15px;
	}

	.footer-address-header {
		color: $footer-header;
	}

	.social {
		.fa {
			font-size: 25px;
			margin-right: 21px;
		}
	}

	.links-container {
		margin-top: 50px;

		ul {
			margin-bottom: 0px;
		}

		li {
			&:first-child {
				padding-left: 0px;
			}

			position: relative;
			padding-right: 22px;
			padding-left: 22px;
			font-family: "ProximaNova-Regular";
			font-size: 15px;

			a {
				text-decoration: none;
			}

			&:not(:nth-child(3)):not(:last-child):before {
				content: '';
				position: absolute;
				display: block;
				top: 0px;
				bottom: 0px;
				right: 0px;
				margin: auto;
				height: 13px;
				width: 1px;
				background: #000;
			}
		}
	}
}

@media (max-width:767px) {
	.sponsors li, .links-container li {
		width: 100%;
	}

	.footer__logo {
		text-align: center;
	}

	.footer__address-1 {
		margin-top: 50px;
	}

	footer .links-container li:not(:nth-child(3)):not(:last-child):before {
		width: 0px;
	}

	.footer-top {
		div {
			height: 150px;
		}
	}
}

@media (max-width:1199px) {
	.footer-top div {
		background-size: cover;
	}

	.sponsors {
		margin-top: 25px;
	}
}

@media (min-width:1200px) and (max-width:1900px) {
	.footer-top div {
		background-size: cover;
	}
}