p, ul, ol {
	font-size: 20px;
	font-family: "ProximaNova-Regular";
}

/*ul {
	list-style : none;
	padding: 0px;
	margin: 0px;
}*/

.header ul {
	font-family: "ProximaNova-Black";
}

/*.ul-sharks-style ul {
	padding-left: 20px;
	list-style: none;

	li {
		&:before {
			content: "\2022 ";
			color: $header-bg;
			padding-right: 40px;
		}
	}
}*/

h1 {
	font-family: "ProximaNova-Black";
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

h4 {
	font-size: 27px;
	font-family: "ProximaNova-Regular";
}

a {
	color: #000;
	text-decoration: underline;

	&:hover, &:focus {
		color: #000;
	}
}

span.title {
	font-family: "ProximaNova-Black";
}

select, select.form-control, button.omis-dropdown {
	font-size: 25px;
	font-family: 'ProximaNova-Regular';

	&:focus {
		outline: 0px;
	}
}

option {
	background: #000;
	color: #fff;
	font-size: 20px;
	font-family: 'ProximaNova-Regular';
	font-weight: 500;
	margin-left: 28px;

	&:checked {
		background-color: $header-bg;
		color: #000;				
	}
}

body .media-body {
	width: 100%;
}

.sharks-btn {
	width: 100%;
	position: relative;
	font-family: "ProximaNova-Black";
	font-size: 35px;

	&.width-325 {
		max-width: 325px;
		width: 100%;
	}

	&.width-440 {
		max-width: 440px;
		width: 100%;
	}

	&:before {
        	position: absolute;
		bottom: 0px;
		right: 0px;
		width: 40px;
		height: 40px;
		z-index: 2;
		color: #fff;
		content: '';
	}

	&.black:before {
		border-bottom: 40px solid $header-bg;
		border-left: 40px solid transparent;
	}

	&.black.sharks-link:after {
		content: "\f105";
		position: absolute;
		top: 13px;
		right: 4px;
		z-index: 2;
		font-size: 30px;
		font-family: FontAwesome;
	}

	&.blue:before {
		border-bottom: 40px solid #000;
		border-left: 40px solid transparent;
	}

	&.sharks-link {
		background-color: #000;
		color: #fff;
		padding: 7px 75.5px;
		font-size: 34px;
		font-weight: 700;
		text-decoration: none;
		text-transform: uppercase;

		&:hover, &:focus {
			text-decoration: none;
		}
	}

	button, a {
		width: 100%;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 29px !important;
		border-radius: 0px !important;
		padding-top: 5.5px !important;
		padding-bottom: 5.5px !important;
		text-align: center !important;
		min-height: 60px;

		.fa.fa-angle-right {
			top: auto;
			bottom: 7px;
			right: 3px !important;
			z-index: 2;
			line-height: normal;
			font-size: 31px;
			color: #fff;

			&:before {
				position: absolute;
				right: 0px;
			}
		}
	}

	&.black button, &.black a {
		background-color: #000 !important;
		color: #fff !important;
		text-decoration: none !important;
		padding-top: 15px !important;

		&:hover, &:focus {
			background-color: #000 !important;
			color: #fff !important;		
		}
	}

	&.blue button, &.blue a {
		background-color: $header-bg;
		color: #000;

		&:hover, &:focus {
			background-color: $header-bg;
			color: #000;
		}
	}
}

.instruction-list-container {
	ul {
		padding-left: 0px;

		div.vc_info_list_outer {
			background-color: #000;
                        counter-increment: step-counter;
			padding-right: 125px;
		}

		li {
			.fa-handshake-o:before {
				content: counter(step-counter);
				font-family: "ProximaNova-Black";
				font-size: 40px;
				padding-right: 15px;
			}

			.info-list-img div {
				clip-path: polygon(0 0, 100% 0%, 58% 100%, 0% 100%);
			}
		}
	}
}

.member-prizes-list-container {
	.vc_info_list_outer {
		padding-top: 25px;

		&:not(:last-child) {
			border-bottom: 1px solid $header-bg;
		}
	}

	img {
		max-width: 350px;
		width: 100%;
	}

	h3 {
		font-size: 30px;
		font-family: "ProximaNova-Extrabld";
	}
}

#mega_social_icons {
	float: left;
}

.sharks-dropdown-arrow-style {
	&:after {
		width: 0; 
		height: 0; 
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-top: 6px solid $header-bg;
		position: absolute;
		content: "";
		z-index: 98;
	}

	&.omis-rebate-filter-item:after {
		top: 70%;
		right: 6px;
	}

	&.seating-area-dropdown:after {
		top: 37px;
		right: 25px;
	}

	select {
		z-index: 99;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}

.sharks-dropdown-arrow-style-all-member {
	select {
		z-index: 99;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: url("../../assets/images/dropdown.ico") right / 15px no-repeat #fff;
		padding-right: 15px;
	}
}

.mktoForm .mktoLabel {
	float: none!important;
	text-transform: uppercase!important;
	font-family: "ProximaNova-Black"!important;
	margin-left: -10px;
}

.mktoForm .mktoGutter {
	float: none!important;
	height: 0.2em!important;
}

.mktoForm input[type=text], input[type=email], input[type=tel] {
	border: 1px solid #9ACAEA!important;
	width: 200px!important;
	height: 30px!important;
}

.mktoForm span {
	margin: 0!important;
}

.mktoForm .mktoFieldWrap {
	float: none!important;
}

.mktoButtonRow {
	display: none!important;
}

@media (max-width:768px) {

	.container-between-button {
		.wpb_content_element {
			margin-bottom: 0px;
		}
	}

	.wpb_content_element.homepage-packages-text-container {
		margin-top: 20px!important;
	}

	.container.homepage-sharks-image-btn-container {
		margin-top: 20px!important;
	}

	.omis-all-membership-filter-container .d-flex, .omis-reservedseating-filter-container .d-flex, .omis-rebate-filter-container.d-inline-flex {
		display: block!important;
	}

	#stadium_map_container {
		svg {
			width: 100%;
			height: 100%;
		}
	}

	.loyalty-program-right-column {
		.vc_column-inner {
			padding-left: 10%!important;
		}
	}

	.mega-info-list .media {
		display: block;
	}

}

/*.entry-content {
	& > .vc_row {
		margin-left: 0px!important;
		margin-right: 0px!important;
	}
}*/

.full-width-image-banner {
	& > figure {
		width: 100%;

		& > div {
			width: 100%;
		}
	}
}

.contact-ust-text-container {
	h2 {
		margin: 0;
		font-family: "ProximaNova-Black";
		font-size: 30px;
	}

	address {
		font-family: "ProximaNova-Regular";
		font-size: 20px;
		margin-bottom: 30px;
	}

	a {
		text-decoration: none;
	}
}

#mega_social_icons {
	margin-left: -15px;
}

.rewards-container {
	.wpb_wrapper {
		margin: auto;
	}

	.omis_info_box_2 .omis-info-header {
		height: 100%;
	}
}

@media (max-width:767px) {
	.sharks-btn {
		&.sharks-link {
			padding: 7px 50px;
		}
	}

	.vc_btn3.vc_btn3-size-md.vc_btn3-icon-left:not(.vc_btn3-o-empty) {
		padding-left: 0px !important;
	}

	.sharks-btn button {
		font-size: 25px !important;
		height: 100%;
	}

	.instruction-list-container {
		ul {
			div.vc_info_list_outer {
				padding-right: 0px;
			}
		}
	}

	select, select.form-control {
		font-size: 20px;
	}

	.contact-us-container .mega-line-top h2 {
		font-size: 21px !important;
		margin-bottom: 15px !important;
	}
}

@media (min-width:768px) and (max-width:991px) {
	.sharks-btn {
		&.width-325 {
			min-width: 325px;
		}

		&.width-440 {
			min-width: 440px;
		}
	}
}


/* Custom Css */
.mega-info-footer:hover h3.mega-info-title {
    display:  block !important;
}
.benefits-info-box-container .mega_info_box_2 .mega-info-footer .mega-info-btn {
    z-index: 0;
}
.benefits-info-box-container .mega_info_box_2 .mega-info-footer:hover .mega-info-btn {
    background-color: rgba(0,0,0,0.3);
    -webkit-transition: background-color 0.9s ease;
    -ms-transition: background-color 0.9s ease;
    transition: background-color 0.9s ease;
    transition-property: background-color;
    transition-duration: 0.9s;
    transition-timing-function: ease;
    transition-delay: 0s;
    cursor: pointer;
    border-radius: 0px;
    z-index: 1;
}

@media screen and (max-width: 767px){
	.benefits-info-box-container .mega_info_box_2 .mega-info-footer {
		margin-left: 0;
	}
	.benefits-info-box-container .mega_info_box_2 .mega-info-footer .mega-info-btn {
		width: 100%;
		height: 100% !important;
		position: relative;
		z-index: 4 !important;
	}
	.benefits-info-box-container .mega_info_box_2 .mega-info-footer .mega-info-btn:hover {
		background-color: rgba(0,0,0,0.15);
	}
}

/* DROPDOWN */
.omis-btn-black {
	color: #fff;
	background-color: #000;
	border-color: #000;
}

.bootstrap-select {
	.omis-btn-black.dropdown-toggle {
		.filter-option-inner-inner {
			color: #9ACAEA;
		}
	}

	.dropdown-menu {
		color: #fff;
		background: transparent;
		border: none;

		.dropdown-item {
			background: #000;
			color: #fff;
			font-size: 20px;
			font-family: 'ProximaNova-Regular';
			font-weight: 500;

			&.selected {
				background-color: $header-bg;
				color: #000;
			}

			&:focus {
				outline: none;
			}
		}
	}
}


button.omis-dropdown.dropdown-toggle {
	&:focus {
		outline: 0px !important;
		box-shadow: none !important;
	}
}

.seating-area-dropdown {
	.dropdown.bootstrap-select {
		width: 100% !important;
	}
}

.sharks-dropdown-arrow-style {
	&:after {
		display: none !important;
	}
}

.seating-area-dropdown {
	.omis-dropdown {
		width: 100%;
		text-align-last: right;
		padding-right: 20px;
		border: 2px solid #9ACAEA;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #9ACAEA;
		background: transparent;


		.filter-option-inner-inner {
			color: #000;
			text-align: right;
		}
	}

	.bootstrap-select {
		.dropdown-menu {
			padding: 0;
			margin: 0;
		}
	}
}

@media screen and (max-width: 767px){
	.seating-area>div .header {
		left: 10px !important;
	}

	.seating-area-dropdown .omis-dropdown {
		text-align-last: auto !important;
	}
}

.wpb_content_element {
	ul {
		list-style: inside;
	}
}