.banner-container {
	figure {
		width: 100%;

		.vc_single_image-wrapper {
			width: 100%;
		}

		img {
			width: 100%;
		}
	}
}

section.header {
	background-color: $header-bg;

	.collapse {
		height: 116px;
		margin-left: 40px;

		& > ul, & > ul > li {
			height: 100%;
		}

		& > ul > li {
			padding-top: 46px;
		}
	}

	.collapsing {
		& > ul > li {
			padding-top: 46px;
		}
	}

	.logo {
		border-right: 1px solid #fff;
		padding-right: 10px;
		margin-left: 10px;

		img {
			width: 115px;
			height: auto;
		}
	}

	.navbar-nav {
		text-transform: uppercase;

		a {
			color: #000;
			text-decoration: none;
			font-size: 18px;

			&:hover, &:focus {
				color: #fff;
				text-decoration: none;
				transition: color 0.3s ease;
			}
		}
	}

	.member-tally {
		background-color: #fff;
		max-width: 240px;
		width: 100%;
		padding: 30px 40px 0px;
		text-align: center;
		position: relative;
		height: 116px;

		&:before {
			content:'';
			position: absolute;
			width: 35.5px;
			left: 19%;
			height: 2px;
			background: $header-bg;
			top: 33px;
			bottom: 0px;
			margin: auto 0px;
			transform: translate(0, 0);
			transition: transform 1s ease;
		}

		&:after {
			content:'';
			position: absolute;
			width: 35.5px;
			right: 19%;
			height: 2px;
			background: $header-bg;
			top: 33px;
			bottom: 0px;
			margin: auto 0px;
			transform: translate(0, 0);
			transition: transform 1s ease;
		}

		.digit {
			display: inline-block;
			font-size: 30px;
			line-height: normal;
		}

		.counter {
			text-align: left;
			font-family: 'MicrogrammaDEE-BoldExte';
		}
	}

	.navbar-text {
		text-transform: uppercase;
		font-family: "ProximaNova-Black";
		font-size: 14px;
		padding-top: 0px;
	}
}

header.entry-header {
	text-align: center;
	padding: 83px 0px;
	background-color: $header-bg;

	h1 {
		font-size: 70px;
		font-family: "ProximaNova-Black";
		color: #000;
		font-weight: 400;
		text-transform: uppercase;
	}
}

.main-nav--large {
	li {
		list-style-type: none;

		&.menu-item-has-children {
			position: relative;
			z-index: 2000;
		}

		&:hover .sub-menu {
			display: block;
		}

		a {
			padding: 0px 10px;
		}

		.sub-menu {
			display: none;
			position: absolute;
			top: 116px;
			left: 0;
			width: 320px;
			z-index: 1100;
			background: #000;
			padding: 25px 0px 15px;

			a {
				color: #fff;
				text-decoration: none;
				text-transform: none;
				font-size: 20px;
				font-weight: 500;
				font-family: "ProximaNova-Regular";
				padding: 0px;
			}

			li {
				padding: 5px 39px;
				list-style-type: none;
			}

			li:hover {
				background-color: $header-bg;

				a {
					color: #000;
				}
			}
		}
	}
}

@media (max-width: 575px) {
	header.entry-header h1 {
		font-size: 25px;
	}
}

@media (max-width:991px) {
	#menu-main_menu {
		text-align: left;
	}

	.navbar-expand-lg .navbar-toggler {
		display: block;
	}

	.collapse:not(.show) {
		display: none !important;
	}

	/*.menu-toggle {
		display:block;
		background-color: #000;
		position: absolute;
		width:60px;
		right:0;
		top:0;
		height: 60px;
		padding: 20px 0px;
		text-decoration: none;
		outline: none;
		border: none;
		z-index: 300;

		span {
			width: 40px;
			height: 3px;
			background: #FFF;
			display: block;
			position: absolute;
			top:18px;
			right:10px;
			-webkit-transition: all 0.2s ease 0s;
			-moz-transition: all 0.2s ease 0s;
			-ms-transition: all 0.2s ease 0s;
			-o-transition: all 0.2s ease 0s;
			transition: all 0.2s ease 0s;

			&:before {
				display: block;
				position: absolute;
				top: -8px;
				content: '';
				width: 40px;
				height: 3px;
				background: #FFF;
				-webkit-transition: all 0.2s ease 0s;
				-moz-transition: all 0.2s ease 0s;
				-ms-transition: all 0.2s ease 0s;
				-o-transition: all 0.2s ease 0s;
				transition: all 0.2s ease 0s;
			}

			&:after {
				display: block;
				position: absolute;
				top: 8px;
				content: '';
				width: 40px;
				height: 3px;
				background: #FFF;
				-webkit-transition: all 0.2s ease 0s;
				-moz-transition: all 0.2s ease 0s;
				-ms-transition: all 0.2s ease 0s;
				-o-transition: all 0.2s ease 0s;
				transition: all 0.2s ease 0s;
			}
		}
	}*/

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
	}

	section.header .collapse {
		height: 100%;
	}

	section.header {
		.collapse {
			text-align: center;
		}

		.collapsing {
			text-align: center;
		}
	}

	#shark_menu {
		order: 2;
	}

	.main-nav--large {
		li {
			.sub-menu {
				width: 100%;
			}
		}
	}

	.main-nav--large {
		li {
			&:hover .sub-menu {
				display: none;
			}

			.sub-menu.mobile-opened {
				position: relative;
				top: 0;
			}
		}
	}
}

@media (min-width:768px) {
	.menu-toggle {
		display: none;
	}
}

@media (min-width:992px) and (max-width:1199px) {
	section.header .logo img {
		width: 80px;
	}

	section.header .member-tally {
		max-width: 195px;
		padding: 36px 33px;
	}

	section.header .member-tally .digit {
		font-size: 25px;
	}

	section.header .member-tally:before, section.header .member-tally:after {
		top: 37px;
		width: 36.5px;
	}

	section.header .member-tally:before {
		left: 11%;
	}

	section.header .member-tally:after {
		right: 11%;
	}
}

@media (min-width:992px) and (max-width: 1359px) {
	section.header .navbar-nav a {
		font-size: 14px;
		padding: 0px 4px;
	}
}

@media (min-width:992px) and (max-width:1199px) {
	section.header .collapse {
		margin-left: 0px;
	}
}

@media (min-width:1600px) {
	section.header {
		.navbar-nav {
			margin-left: 50px;
		}

		.logo {
			margin-left: 110px;
			padding-right: 50px;
		}
	}

	.member-tally {
		max-width: 290px;
		width: 100%;
		padding: 0px 55px;

		&:before {
			width: 42.5px;
			top: 55px;
		}

		&:after {
			width: 42.5px;
			top: 55px;
		}

		.digit {
			font-size: 36px;
		}
	}
}