.content-area {
	border-top: 4.5px solid #fff;        	
}

.home-page-cta-container {

	p {
		font-size: 35px;
		margin-top: 14px;
		font-family: "ProximaNova-Black";
	}

	.join-btn {
		/*background-color: $header-bg;
		-webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);*/

		.vc_column-inner {
			padding-left: 0px;
			padding-right: 0px;
		}

		a {
			background-image: linear-gradient(to right, #fff 0%, #d7eaf7 20%, #9bcbeb 100%);
			background-image: -webkit-linear-gradient(to right, #fff 0%, #d7eaf7 20%, #9bcbeb 100%);
			width: 100%;
			border: 0px;
			background-size: auto;
			border-radius: 0px;
			font-size: 35px;
			font-family: "ProximaNova-Black";
			color: #000;

			&:hover, &:focus {
				border: 0px;
				background-position: 0px;
				color: #000;
			}
		}

		button {
			color: #000;
			padding-top: 16px;
			padding-bottom: 16px;

			&:hover, &:focus, &:active {
				color: #000;
			}
		}		
	}

	.renew-btn {
		/*background-color: #000;
		-webkit-clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
		clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);*/

		.vc_column-inner {
			padding-left: 0px;
			padding-right: 0px;
		}

		a {
			background-image: linear-gradient(to left, #fff 0%, #292929 20%, #000 100%);
			background-image: -webkit-linear-gradient(to left, #fff 0%, #292929 20%, #000 100%);
			width: 100%;
			border: 0px;
			background-size: auto;
			border-radius: 0px;
			font-size: 35px;
			font-family: "ProximaNova-Black";
			color: #fff;

			&:hover, &:focus {
				border: 0px;
				background-position: 0px;
				color: #fff;
			}
		}

		button {
			color: #fff;
			padding-top: 16px;
			padding-bottom: 16px;

			&:hover, &:focus, &:active {
				color: #fff;
			}
		}
	}

	.reset-style-btn {
		width: 100%;
		margin-bottom: 0px;

		button {
			border-color: transparent;
			background-color: transparent;
			font-family: "ProximaNova-Black";
			font-size: 35px;
			font-weight: 700;
			width: 100%;

			&:hover, &:focus, &:active {
				background-color: transparent;
				background: none;
			}
		}
	}
}                                           	

.omis-package-item {
	margin-bottom: 14px;

	.omis-package-details {
		max-width: 290px;
		width: 100%;
		height: 460px;
		overflow: hidden;
	}

	&.omis-all-membership-item-active.omis-all-membership-item-odd {
		.omis-package-details {
			background-color: $header-bg;

			h1, h2 {
				color: #000;
				font-family: "ProximaNova-Black";
				font-size: 35px;
			}

			h1 {
				/*font-size: 33px;
				width: 100%;*/
			}
		}
	}

	&.omis-all-membership-item-active {
		.omis-package-details {
			background-color: #000;

			h1, h2 {
				color: $header-bg;
				font-family: "ProximaNova-Black";
				font-size: 35px;
			}

			h1 {
				width: 270px;
			}
		}
	}

	&.col-md-4 {
		flex: 0 0 25%;
		max-width: 25%;
		padding-left: 6.5px;
		padding-right: 6.5px;

		&:last-child, &:nth-child(4n + 4) {
			padding-right: 0px;
		}

		&:first-child, &:nth-child(4n + 5) {
			padding-left: 0px;
		}
	}

	h1, h2 {
		position: absolute;
		left: 40px;
		font-size: 36px;
		font-weight: 700;
		line-height: 34px;
		text-transform: uppercase;
	}

	h1 {
		top: 21px;
	}

	h2 {
		top: 92px;
	}

	.omis-package-image {
		position: absolute;
		bottom: 0;
		left: 0px;
		right: 0px;
		margin: auto;
		max-width: 270px;
		width: auto;
		max-height: 335px;
	}
}

.sharks-btn-container {
	.omis-image-button  {

		position: relative;
		.omis-img-arrow {
			position: absolute;
			line-height: 155px;
			bottom: 0px;
			right: 0px;
			width: 100px;
			height: 100px;
			z-index: 2;
			padding-left: 65px;
			color: #fff;

			&:before {
				position: absolute;
				content: '';
				right: 0px;
				z-index: -1;
			}

			.fa-angle-right {
				font-size: 45px;
			}
		}
	}

	.omis-image-button-image {
		max-width: 284px;
		width: 100%;
	}

	.omis-image-button-title {
		display: inline-block;
		font-size: 65px;
	}

	.black-sharks-btn {

		.omis-img-arrow:before {
			border-bottom: 100px solid $header-bg;
			border-left: 100px solid transparent;
		}

		.omis-image-button-details {
			background-color: #000;
		}

		.omis-image-button-title {
			color: #fff;
			font-family: "ProximaNova-Black";
		}
	}

	.blue-sharks-btn {

		.omis-img-arrow:before {
			border-bottom: 100px solid #000;
			border-left: 100px solid transparent;
		}

		.omis-image-button-details {
			background-color: $header-bg;
		}

		.omis-image-button-title {
			color: #000;
			font-family: "ProximaNova-Black";
		}
	}
}

@media (max-width:575px) {
	.omis-package-item.col-12 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.sharks-btn-container .black-sharks-btn .omis-image-button-title, .sharks-btn-container .omis-image-button-title {
		font-size: 23px;
		padding-left: 5px;
	}

	.sharks-btn-container .omis-image-button .omis-img-arrow .fa-angle-right {
		font-size: 37px;
	}

	.sharks-btn-container .omis-image-button .omis-img-arrow {
		width: 85px;
		height: 45px;
		line-height: 70px;
	}

	.home-page-cta-container p {
		font-size: 24px;
		margin-top: 0px;
	}

	.home-page-cta-container .reset-style-btn button {
		font-size: 24px;
		padding: 0px;
	}

	section.header .member-tally {
		display: none;
	}

	.omis-package-item {
		.omis-package-details {
			max-width: 100%;
		}
	}
}

@media (max-width:767px) {
	.home-page-cta-container .join-btn, .home-page-cta-container .renew-btn {
		clip-path: none;
		-webkit-clip-path: none;
	}

	.sharks-btn-container .black-sharks-btn .omis-img-arrow:before {
		border-bottom: 50px solid #9ACAEA;
		border-left: 50px solid transparent;
	}

	.sharks-btn-container .blue-sharks-btn .omis-img-arrow:before {
		border-bottom: 50px solid #000;
		border-left: 50px solid transparent;
	}

	.sharks-btn-container .omis-image-button .omis-img-arrow:before {
		bottom: 0px;
	}
}

@media (min-width:576px) and (max-width:767px) {
	.omis-package-item.col-sm-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (max-width:767px) {
	/*.omis-package-item.omis-all-membership-item-active .omis-package-details h1 {
		width: 40%;
	}*/
}

@media (min-width:768px) and (max-width:991px) {
	.omis-package-item.col-md-6 {
		flex: 0 0 50%;
		max-width: 50%;
	}

	.sharks-btn-container .omis-image-button-title {
		font-size: 50px;
		padding-left: 15px;
	}

	.vc_custom_1534360289256.homepage-packages-text-container {
		margin-top: 50px !important;
	}
}

@media (max-width:991px) {
	.omis-package-title-1 {
		width: 70%;
	}

	.sharks-btn-container .black-sharks-btn .omis-image-button-details {
		margin-bottom: 50px;
	}

	.omis-all-membership-filter-container .omis-all-membership-filter-item, 
	.omis-reservedseating-filter-container .omis-all-membership-filter-item {
		border-right: 0px !important;
	}
}

@media (min-width:992px) and (max-width:1199px) {
	.omis-package-item.col-lg-4 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
}

@media (min-width:1200px) {
	.omis-package-item.col-xl-3 {
		flex: 0 0 25%;
		max-width: 25%;
	}	
}