.loyalty-programm-information {
	border-top: 1px solid $header-bg;

	&:last-child {
		border-bottom: 1px solid $header-bg;
	}

	.wpb_content_element {
		margin-bottom: 0px;
	}

	.header {
		text-transform: uppercase;
		font-family: "ProximaNova-Black";
		font-size: 40px;
	}

	.sharks-btn {
		max-width: 330px;
		width: auto;
	}
}
