.member-container {
	&.wpb_content_element {	
		margin-bottom: 10px;
	}

	figure {
		max-width: 1010px;
		width: 100%;
		height: auto;
		overflow: hidden;

		div, img {
			width: 100%;
			height: 100%;
		}
	}
}