article.type-post {
	padding-top: 50px;
	padding-bottom: 40px;

	.news__thumb {
		margin-left: 34px;
		margin-top: 10px;
		max-width: 170px;

		img {
			width: 100%;
			max-width: 400px;
			margin: 0 auto;
		}
	}

	.news__intro {
		margin-left: 20px;
		padding-left: 10px;
		position: relative;
		max-width: 680px;
		margin-top: 20px;

		h2 {
			padding-bottom: 0px;
			margin-bottom: 0px;
			margin-top: 5px;
			font-size: 26px;
			line-height: 1.2;

			a {
				color: #06A1CE;
				text-decoration: none;
				text-transform: uppercase;
			}
		}

		p {
			padding-top: 0px;
			margin: 0px;
			font-size: 18px;
			padding: 10px 0px;
			line-height: 1.2;
			text-align: left;
			color: #000;
		}

		.btn--read-more {
			position: absolute;
			bottom: -40px;
			right: -90px;
			width: auto;
			background: #06A1CE;
			color: #fff;
			float: right;
			transition: color .300s, background .300s, border .300s;
			text-decoration: none;
			border: 3px solid #06A1CE;
			text-transform: uppercase;
			border-radius: 0px;
			font-size: 14px;

			&:hover, &:focus {
				background: #fff;
				color: #06A1CE;
			}
		}
	}
}

.post-border {
	position: relative;
	display: block;
	width: 100%;
	top: -50px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background: #06A1CE;
		top: 30px;
	}
}

.post-date {
	position: relative;
	top: 0px;
	left: 0px;
	margin-top: -36px;
	z-index: 100;

	background: url(../images/news-date-bg.svg) top center no-repeat;
	background-size: 66px 110px;
	width: 66px;
	heigth: 110px;
	display: inline-block;
	float: left;
}

.post-date__item {
	color: #fff;
	text-transform: uppercase;
	font-family: "ProximaNova-Bold", "HelveticaNeue", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	line-height: 30px;
	display: block;
	width: 100%;
	text-align: center;

	&.post-date__item--month {
		padding-top: 6px;
	}

	&.post-date__item--day {
		color: #06A1CE;
		font-size: 40px;
	}
}

.sharks-news-pagination {
	margin-top: 50px;

	.posts-navigation {
		background: #EBF6FD;

		.screen-reader-text {
			display: none;
		}

		.nav-links {
			.nav-previous, .nav-next {
				padding: 0 20px;
				line-height: 50px;
				display: inline-block;
			}
		}
	}
}

.main--news-single {
	margin-top: 70px;

	.news-single__content {
		img {
			width: 100%;
			max-width: 100%;
		}
	}
}