.platinum-text-container {
	h2 {
		margin-bottom: 35px;
		font-family: "ProximaNova-Black";
		font-size: 35px;
	}

	ul {
		padding-left: 0px;
	}

	a:first-child {
		display: block;
		text-decoration: underline;
		color: #000;

		&:focus, &:hover {
			color: #000;
		}
	}
}