.omis-reservedseating-container {
	margin-top: 98px;

	.omis-rs-membershiptype-title {
		font-size: 23px;
		font-weight: 500;
		line-height: normal;
		font-family: "ProximaNova-Regular";
	}

	.omis-rs-package-title {
		font-size: 50px;
		line-height: normal;
		margin-bottom: 25px;
		font-family: "ProximaNova-Black";
	}

	.omis-rs-renewing-member {
		border-right: 2px solid #000;
	}

	.omis-rs-new-member {
		padding-left: 23px;
	}

	.omis-rs-renewing-member, .omis-rs-new-member {
		max-width: 280px;
		width: 100%;
	}

	.omis-rs-renewing-member, .omis-rs-new-member {
		font-size: 15px;
		font-weight: 500;
		font-family: "ProximaNova-Regular";		
	}

	.omis-rs-renewing-member-price, .omis-rs-new-member-price {
		font-size: 45px;
		font-family: 'MicrogrammaDEE-BoldExte';		
	}

	.header-benefits, h3 {
		margin-top: 90px;
		font-size: 40px;
		font-family: "ProximaNova-Black";		
	}

	.omis-rs-benefits {
		margin-bottom: 68px;

		ul {
			padding: 0px;
			margin: 0px;
		}

		li {
			border-bottom: 1px solid $header-bg;
			padding-top: 8px;
			padding-bottom: 8px;
			font-family: "ProximaNova-Regular";
		}
	}
}

.btn-container {
	.sharks-btn button, .sharks-btn a {
		font-size: 30px !important;
		padding-top: 8.5px !important;
		padding-bottom: 8.5px !important;
	}
}

.seating-map-container {
	.reserved-seating-map-container {
		position: relative;
		z-index: 1;

		&:before {
			content: '\f00e';
			display: inline-block;
			position: absolute;
			font-family: FontAwesome;
			font-size: 37px;
			border-radius: 50%;
			border: 2px solid $header-bg;
			bottom: -80px;
			text-align: center;
			left: 0px;
			right: 0px;
			z-index: 2;
			width: 60px;
			height: 60px;
			margin: 0 auto;
			background-color: #fff;
		}

		#mega-line-container .mega-line-top span {
			display: none;
		}

		#mega-line-container h2 {
			text-transform: uppercase;
			background-color: $header-bg;
			margin-top: 0px;
			margin-bottom: 18px;
		}

		.omis-rs-seating-map-image-container {
			text-align: center;
			margin-bottom: 55px;
		}
	}
}

.omis-rs-seating-map.seating-map-container {
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	padding-top: 0px;
	border-left-color: #9acaea;
	border-left-style: solid;
	border-right-color: #9acaea;
	border-right-style: solid;
	border-top-color: #9acaea;
	border-top-style: solid;
	border-bottom-color: #9acaea;
	border-bottom-style: solid;

	.reserved-seating-map-container {
		#mega-line-container {
			text-align: center;

			h2 {
				font-size: 20px;
				color: #000000;
				line-height: 70px;
				font-family: "ProximaNova-Black";
			}
		}
	}
}

@media (max-width:767px) {
	.omis-reservedseating-container {
		.omis-rs-new-member {
			padding-left: 0px;
		}
	}
}

@media (max-width:991px) {
	.btn-container {
		.sharks-btn button {
			min-height: 110px;
		}
	}

	#omis-rs-seating-map-image {
		width: 100%;
	}
}

@media (min-width:992px) and (max-width:1199px) {
	.btn-container {
		.sharks-btn button {
			min-height: 80px;
		}
	}
}

@media (max-width:1199px) {
	.btn-container {
		.sharks-btn button {
			height: 100%;
		}
	}
}