.omis-rebate-filter-container {
	.rebate-header {
		font-size: 18px;
		font-family: "ProximaNova-Black";
	}

	.omis-rebate-filter-item {
		margin-right: 10px;
		position: relative;
		overflow: hidden;

		&:not(:last-child) {
			max-width: 280px;
			width: 100%;
		}

		&:last-child {
			width: 208px;
		}

		select {
			border-radius: 0px;
			background-color: transparent;
			border-width: 0px;
			color: #000;
			border: 2px solid $header-bg;
			background: none;
			z-index: 99;
			position: relative;
			height: 50px;

			&:focus {
				outline: 0px;
				box-shadow: none;
			}

			option {
				background: #000;
				color: #fff;

				&:checked {
					background-color: $header-bg;
					color: #000;

				}
			}
		}
	}
}

.omis-rebate-container {
	.omis-rebate-title {
		font-size: 18px;
		font-family: "ProximaNova-Black";
	}

	.omis-rebate-cost {
		font-size: 40px;
		font-family: 'MicrogrammaDEE-BoldExte';
	}
}

.seat-return-text-container {
	h1 {
		font-family: "ProximaNova-Black";
		font-size: 30px;
		text-transform: uppercase;
	}
}

.mega-info-list p {
	font-family: "ProximaNova-Extrabld";
	padding-top: 19px;
}

.rebate-note {
	font-family: "ProximaNova-Black";
}

.rebate-prices-text-container h1 {
	font-size: 40px;
	font-family: "ProximaNova-Black";
}

#rebate_prices_table {
	th {
		font-family: "ProximaNova-Black";
		font-size: 20px;
	}

	tr {
		border-bottom: 1px solid #9ACAEA;

		&.odd {
			background-color: #cfe6f5;
		}
	}

	/*tr td {
		font-family: 'MicrogrammaDEE-BoldExte';
		font-size: 30px;
		font-weight: 400;
	}*/

	tr td {
		font-family: "ProximaNova-Regular";
		font-size: 20px;
	}
}

@media (max-width:767px) {
	.mega-info-list p {
		padding-top: 0px;
	}
}