.mega-line-top {
	h2 {
		font-size: 50px;
		font-family: "ProximaNova-Black";
	}
}

.seating-area {
	text-align: center;
	margin-top: 43px;
	margin-bottom: 54px;

	& > div {
		position: relative;
		max-width: 576px;
		width: 100%;
		margin: auto;

		.header {
			position: absolute;
			top: 0px;
			left: 0px;
			padding-top: 22px;
			padding-left: 26px;
		}

		select {
			width: 100%;
			text-align-last: right;
			padding-right: 54px;
			border: 2px solid $header-bg;      
			padding-top: 20px;
			padding-bottom: 20px;
		}
	}

	.header {
		font-size: 25px;
		font-family: "ProximaNova-Black";		
	}
}

#membership_prices_table {
	th {
		font-family: "ProximaNova-Black";
		font-size: 20px;
	}

	tr td:not(:first-child) {
		font-family: 'MicrogrammaDEE-BoldExte';
		font-size: 30px;
		font-weight: 400;
	}	

	tr td:first-child {
		font-family: "ProximaNova-Regular";
		font-size: 20px;
	}
}

@media (max-width:767px) {
	.mega-line-top {
		h2 {
			font-size: 40px !important;
		}
	}

	.seating-area {

		& > div {
			.header {
				padding-top: 0;
				padding-left: 4px;
			}
			select {
				text-align-last: left;
				font-size: 15px;
				padding-bottom: 9px;
				padding-left: 3px;
				padding-top: 25px;
			}
		}
	}

	#membership_prices_table, #rebate_prices_table {
		th {
			font-size: 7px;
		}

		tr td:not(:first-child) {
			font-size: 10px;
		}	

		tr td:first-child {
			font-size: 10px;
		}
	}
}

.stadium-map-img-container {
	.sharks-btn.blue a, .sharks-btn.black a {
		padding-top: 15px !important;
	}
}