
.action-row {
	background:$black;
	min-height:200px;
	padding:30px 10px;
	@include breakpoint(from-medium) {
	   padding-left: 70px;
		padding-right: 70px;
	}
	&__headline {
		@extend %grid-block;
		@include grid(100);
		@include breakpoint(from-medium) {
		    @include grid(50);
		    padding:65px 50px 0px 0;

		}
		h2 {
			color: #FFF;
			font-size:37px;
			line-height:1;
		}
	}

	&__copy {
		@extend %grid-block;
		@include grid(100);
		p {
			font-weight:bold;
			padding:0;
			color: #FFF;
		}

		a {
			color: #FFF;
			&:hover {
				color: $primary-color;
				text-decoration:none;
			}
		}
		@include breakpoint(from-medium) {
		    @include grid(50);
		    padding-top:40px;
		}
		ul {
			margin-top:12px;
		}
		ul li {
			display: inline-block;
			float:left;
			@extend %grid-block;
			@include grid(100);
			margin-bottom:5px;
			padding:0;
			@include breakpoint(from-small) {
			    @include grid(50);
			}
			@include breakpoint(from-large) {
			    width:auto;
			    margin-right:16px;
			    margin-bottom:0;
			}

			a.btn {
				padding:0 0px;
				line-height:34px;
				width:100%;
				@include breakpoint(from-large) {
				 	padding:0 50px;
				}

				&:hover {
					color: #FFF;
				}
			}
		}
	} // copy

	&__form {
		padding:40px 0;
		@extend %clearfix;
		label {
			display: none;
		}


		.gform_description {
			color: #FFF;
			text-align:center;
		}
		.gform_confirmation_wrapper {
			color: #FFF;
		}

		.validation_error,
		.validation_message {
			color: red;
			padding:5px 0;
		}
		#gform_fields_1 {
			li {
				display: inline-block;
				float:left;
				margin-bottom:5px;
				@include grid(100);
				@include breakpoint(from-medium) {
					padding-right:10px;
				    @include grid(33);
				}

				input {
					width:100%;
					line-height:40px;
					padding:0 10px;
					display: inline-block;
					min-height:40px;
					-webkit-appearance: none;
					border-radius: 0;
					border:none;
					outline:none;
				}
			}
		}

		.gform_footer {
			display: inline-block;
			float:left;
			@include grid(100);
			@include breakpoint(from-medium) {
			    @include grid(33);
			}
			img { // ajax spinner
				margin-top:10px;
			}
			#gform_submit_button_1 {
				width:100%;
				line-height:40px;
				text-transform:uppercase;
				background:$primary-color;
				border:none;
				outline:none;
				font-family:$font-family--heading;
				color: #FFF;
				-webkit-appearance: none;
				   border-radius: 0;
				//border:3px solid $primary-color;
				&:hover {
					color: #000;
				}
			}
		}
	}
}