// styles for the text and image row
.advertisement-row  {
	background:#FFF;
	padding:50px 0 50px 0;
	position: relative;

	@include breakpoint(to-medium) {
		padding:20px 0 20px 0;
	}
	.container
	{
		padding: 0 15px;
		text-align: center;
	}

	a {
		display: inline-block;
	}


	.img {

		position: absolute;
		left: 50%;
		top: 50%;
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-o-transform:translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);

	}

	//@include breakpoint(from-large) {
	//    padding:0;
	//}

}
