// styles for the slider row
.row-slider {
	background:#000;
	padding:0 0px;
	position: relative;
	@include breakpoint(from-large) {
	    padding:0;
	}
	//ul {
	//	@extend %ul-styles;
	//	margin:5px 0 ;
	//}

	-webkit-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.4);
	z-index: 99;
	position: relative;
	overflow:hidden;

	.slick-navi-wrap{
		    position: absolute;
		    height: 100%;
		    left: 50%;
			-webkit-transform:translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform:translateX(-50%);
			-o-transform: translateX(-50%);
		    transform: translateX(-50%);
		    z-index: 1;
			pointer-events: none;
		.slick-arrow{
			top: 25%;
			pointer-events: auto;
		}
		.slick-prev{
			@include breakpoint(from-large) {
				left: -75px;
			}
			left: 5px;
			
		}
		.slick-next{
			@include breakpoint(from-large) {
				right: -75px;
			}
			right: 5px;
		}
	}


	.slick-slide{
		@include breakpoint(to-medium){
			-webkit-background-size: cover !important;
			-moz-background-size: cover !important;
			-o-background-size: cover !important;
			background-size: cover !important;
		}
	}

	&__image {
		position: relative;
		overflow:hidden;
		max-height: 220px;
		min-height: 220px;
		margin: 0 auto;

		margin-left: -1000px;
		margin-right: -1000px;
		img {
			height: 100%;
			width: auto;
		}
		@include breakpoint(from-medium) {
			max-height: 400px;
			min-height: 400px;
		}
		@include breakpoint(from-large) {
			max-height: 580px;
			min-height: 580px;
		}
	}
	&__headline {
		max-width: 1180px;
		margin: 0 auto;
		//margin: 0 auto;
		position: inherit;
		//margin-left: 100px;
		display: block;
		padding: 15px 10px 10px 25px;
		font-size: 40px;

		color: #FFF;
		width: 100%;
		left: 0;



		@include breakpoint(from-medium) {
			font-size:70px;
			padding-top:40px;
			padding-left: 20px;
			padding-bottom:40px;
			//margin-left:0;
		}
		@include breakpoint(from-large) {
			padding: 100px 15px 20px 0px;
		}



		h1
		{
			text-transform: uppercase;
			padding: 10px 10px;
			font-family: $font-family--special;
			letter-spacing: 1px;
			line-height: 0.85;
			color: $primary-color;
			.highlight {
				color: #FFFFFF !important;
				@include breakpoint(to-medium) {
					display: block;
				}
				@include breakpoint(from-large) {
					display: block;
					clear: both;
				}
			}
		}

		.subtext
		{
			text-transform: uppercase;
			padding: 10px 10px;
			font-family: $font-family--special;
			letter-spacing: 1px;
			font-size: 28px;
			@include breakpoint(to-medium) {
				width: 50%;
				padding-top: 5px;
				padding-bottom: 5px;
				font-size: 14px;
			}
		}
		.button
		{
			padding: 20px 10px 0 10px;
			@include breakpoint(to-medium) {
				padding: 10px 10px 0 10px;
			}
			a {
				//margin: 0 auto;
				border: 0;
				width:150px;
				line-height:150%;
				margin-bottom: 5px;
				color: $black;
				display:block;
				cursor: pointer;
				text-align:center;
				vertical-align:middle;
				text-transform:uppercase;
				font-family:$font-family--heading;
				background: $nav-background-color ;
				padding: 10px 10px 10px 10px;
				letter-spacing: 0px;
				&:hover {
					color: $black;
					text-decoration:none;
				}
				@include breakpoint(to-medium) {
					padding: 5px 5px 5px 5px;
				}
			}
		}





	}


	// Only show the first item until slick-initialized (in theme file)
  .item {
    visibility: hidden;
	  overflow: hidden;
	  max-height: 580px;
	  img{

	  }
  }
  .item:first-child { // ie doesnt support not first.
    visibility: visible;
  }

	.slick-track
	{
		height: 220px;
		@include breakpoint(from-medium) {
			height: 440px;
		}
		@include breakpoint(from-large) {
			height: 580px;
		}

	}



	&__slider {
		max-height: 220px;
		min-height: 220px;


		@include breakpoint(from-medium) {
			max-height: 440px;
			min-height: 440px;
		}
		@include breakpoint(from-large) {
			max-height: 580px;
			min-height: 580px;
		}

	}
	&__actions {

		background-color: rgba(0,0,0, 0.8);
		border-top: 3px solid $nav-background-color;
		//opacity: 0.9;
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;

      @include breakpoint(from-medium){
        height: 160px;
      }
      @include breakpoint(to-medium) {
        position: static;

      }

		div { // container
			max-width: 1180px;
            @include breakpoint(from-medium) {
              display: flex;
            }

			width: 100%;
			margin: 0 auto;
			div { // button containers
				margin: 30px 10px 30px 10px;

				@include grid(50);
                @include breakpoint(to-medium) {
                  @include grid(100);
					padding-right:20px;
                  margin: 20px 10px 10px 10px;
                }
				.btn {
					padding-top: 22px;
					background-color: $primary-color;
					//border-color: $primary-color ;
					color: #FFF;
					//border: 3px;
					width: 100%;
					height: 90px;
					font-size: 32px;

					@include breakpoint(to-medium){
						font-size: 25px;
						height: 60px;
						padding-top: 9px;
					}
					&:hover {
						background:none;
						text-decoration:none;
					}
				}
			}
		}

	}
}

 // styles to overwrite for highlight row (full width blue)
// styles for the single col content row
.single-column-slider-row {
	padding:0px 0px;

	@include breakpoint(from-large) {
		padding:20px 0;
	}
}

