// styles for the faq row

.faq-item {
	margin:0;
	padding: 0;
	padding-top:10px;

	&__question {
		background:$primary-color;
		position: relative;

		&:after {
			content:'';
			width:40px;
			height:40px;
			background:url(../images/choose-arrow--down.svg) center center no-repeat;
			position: absolute;
			top:0;
			right:0;
			transition:all 300ms ease-in;
		}

		&.active {
			&:after {
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
				transform: rotate(180deg);
			}
		}
		h3 {
			color: #FFF;
			padding:10px 20px;
			line-height:20px;
		}
		&:hover {
			cursor:pointer;
		}
	}

	&__answer {
		background: #FFF;
		border:1px solid $primary-color;
		padding:20px;

		ul {
			@extend %ul-styles;
		}

	}
}


