// styles for the faq row


.content-row--specials {
	padding-bottom:40px;

	.content-row__copy {
		padding-top:0;
	}
	.content-row__image {
		@include breakpoint(from-large) {
			padding-left:60px;
		}
	}
}
.speicals-table {

	.table-helper {
		@include breakpoint(from-large) {
			display: none;
		}
	}
	// overflow-y: scroll;
	ul {
		width:590px;
	}

	li {
		list-style:none;
		display: block;
		@extend %clearfix;
		line-height:25px;
		font-size:18px;
		padding:5px 0;
		margin:0;
		&:before {
			display: none;
		}
	}
	li.table-head {
		display: inline-block;
		width:100%;
		background:$black;
		color: #FFF;
		font-family:$font-family--special;
		text-transform:uppercase;
		padding:0;
		&:after {
			display: none;
		}
	}
	li.table-row {
		background:#E4F4FC;
		padding:0px ;

		&:nth-child(even) {
			background:#E4F4FC;
		}
		&:nth-child(odd) {
			background:#F1F9FE;
		}
	}

	li:last-child {
		font-weight:bold;
		border-top:1px solid $primary-color;
		border-bottom: 1px solid $primary-color;
	}

	.table-col {
		display: inline-block;
		float:left;
		width:25%;
		padding:10px 10px;
		text-overflow:wrap;
	}
}

.events-table {

	@include breakpoint(to-medium)
	{
		overflow: scroll;
	}
	.table-helper {
		@include breakpoint(from-large) {
			display: none;
		}
	}
	overflow: scroll;
	ul {
		width:100%;
	}

	li {
		list-style:none;
		display: block;
		@extend %clearfix;
		line-height:25px;
		font-size:18px;
		padding:5px 0;
		margin:0;
		&:before {
			display: none;
		}
	}
	li.table-head {
		display: inline-block;
		width:100%;
		background:$black;
		color: #FFF;
		font-family:$font-family--special;
		text-transform:uppercase;
		padding:0;
		&:after {
			display: none;
		}
	}
	li.table-row {
		background:#E4F4FC;
		padding:0px ;

		&:nth-child(even) {
			background:#E4F4FC;
		}
		&:nth-child(odd) {
			background:#F1F9FE;
		}
	}

	.table-col {
		display: inline-block;
		float:left;
		width:25%;
		padding:10px 10px;
		text-overflow:wrap;
	}
}
