/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Media Styles */

img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-post-image {
	&.alignleft,
	&.alignright {
		margin-bottom: 1.5em;
	}
}
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	img[class*="wp-image-"] {
		display: block;
		margin: 1.2% auto 0;
		max-width: 98%;
	}
	.wp-caption-text {
		margin: 0.8075em 0;
		font-style: italic;
	}
}
.wp-caption-text {
	text-align: center;
	line-height: 1.1;
}
.site-main .gallery {
	margin-bottom: 1.5em;
	a img {
		border: none;
		height: auto;
		max-width: 90%;
	}
	dd,
	figcaption {
		margin: 0;
	}
}
.gallery-caption {
}
.site-main .gallery-columns-4 .gallery-item {
	img {
	}
}
/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

.full-width {
	width: 100%;
	margin-bottom: rem-calc(45);
}

/* Required WordPress Styles, replace if required */
.sticky,
.gallery-caption,
.bypostauthor {
	font-family: inherit;
}

/* HTML5 Gallery styles */
figure {
	//margin: rem-calc(40 0);
}

.gallery {
	margin: auto auto 1.5em;
}

.gallery-item {
	float: left;
	text-align: center;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.gallery-columns-2 {
	.gallery-item:nth-child(2n+1) {
		clear: left;
	}
	.gallery-item {
		max-width: 50%;
	}
}

.gallery-columns-3 {
	.gallery-item:nth-child(3n+1) {
		clear: both;
	}
	.gallery-item {
		max-width: 33.33%;
	}
}

.gallery-columns-4 {
	.gallery-item:nth-child(4n+1) {
		clear: both;
	}
	.gallery-item {
		max-width: 25%;
	}
}

.gallery-columns-5 {
	.gallery-item:nth-child(5n+1) {
		clear: both;
	}
	.gallery-item {
		max-width: 20%;
	}
}

.gallery-columns-6 {
	.gallery-item:nth-child(6n+1) {
		clear: both;
	}
	.gallery-item {
		max-width: 16.66%;
	}
}

.gallery-columns-7 {
	.gallery-item:nth-child(7n+1) {
		clear: both;
	}
	.gallery-item {
		max-width: 14%;
	}
}

.gallery-columns-8 {
	.gallery-item:nth-child(8n+1) {
		clear: both;
	}
	.gallery-item {
		max-width: 12.5%;
	}
}

.gallery-columns-9 {
	.gallery-item:nth-child(9n+1) {
		clear: both;
	}
	.gallery-item {
		max-width: 11.11%;
	}
}

.gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}

.gallery-caption {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


.package-detail__pricing.sell_seat .table-col {
    display: inline-block;
    height: 100px;
    line-height: 80px;
  
}