// Typeface for body copy - from Google
@import url(https://fonts.googleapis.com/css?family=Ropa+Sans);

// Typeface for banners / special headings (sharks 1)
@font-face {
    font-family: 'sharks-1';
    src: url('../fonts/sharks-1/sharks-1-webfont.eot');
    src: url('../fonts/sharks-1/sharks-1-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sharks-1/sharks-1-webfont.woff2') format('woff2'),
         url('../fonts/sharks-1/sharks-1-webfont.woff') format('woff'),
         url('../fonts/sharks-1/sharks-1-webfont.ttf') format('truetype'),
         url('../fonts/sharks-1/sharks-1-webfont.svg#sharks-1') format('svg');
    font-weight: normal;
    font-style: normal;

}

// Typeface for normal headings
@font-face {
    font-family: 'sharks-2';
    src: url('../fonts/sharks-2/sharks-2-webfont.eot');
    src: url('../fonts/sharks-2/sharks-2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sharks-2/sharks-2-webfont.woff2') format('woff2'),
         url('../fonts/sharks-2/sharks-2-webfont.woff') format('woff'),
         url('../fonts/sharks-2/sharks-2-webfont.ttf') format('truetype'),
         url('../fonts/sharks-2/sharks-2-webfont.svg#sharks-2') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Font awesome - from theme
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/font-awesome/fontawesome-webfont.eot?v=4.1.0');
    src: url('../fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/font-awesome/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/font-awesome/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/font-awesome/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'dinbold';
    src: url('../fonts/din/din-bold-webfont.eot');
    src: url('../fonts/din/din-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/din-bold-webfont.woff2') format('woff2'),
         url('../fonts/din/din-bold-webfont.woff') format('woff'),
         url('../fonts/din/din-bold-webfont.ttf') format('truetype'),
         url('../fonts/din/din-bold-webfont.svg#dinbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinmedium';
    src: url('../fonts/din/din-medium-webfont.eot');
    src: url('../fonts/din/din-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/din-medium-webfont.woff2') format('woff2'),
         url('../fonts/din/din-medium-webfont.woff') format('woff'),
         url('../fonts/din/din-medium-webfont.ttf') format('truetype'),
         url('../fonts/din/din-medium-webfont.svg#dinmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'din';
    src: url('../fonts/din/din-regular-webfont.eot');
    src: url('../fonts/din/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/din/din-regular-webfont.woff2') format('woff2'),
         url('../fonts/din/din-regular-webfont.woff') format('woff'),
         url('../fonts/din/din-regular-webfont.ttf') format('truetype'),
         url('../fonts/din/din-regular-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
  font-family: 'Microgramma';
  src: url("../fonts/MicrogrammaDEE-BoldExte.ttf") format("truetype");
}





@font-face {
    font-family: 'RBN';
    src: url('../fonts/rbn/rbno2.1a-bolditalic-webfont.eot');
    src: url('../fonts/rbn/rbno2.1a-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rbn/rbno2.1a-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/rbn/rbno2.1a-bolditalic-webfont.woff') format('woff'),
         url('../fonts/rbn/rbno2.1a-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/rbn/rbno2.1a-bolditalic-webfont.svg#rbno2.1abolditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
