// Various Mixins

// FLEXBOX
// automatically declares the element to be flexed on all browsers
// apply to the container
@mixin display-flex() {
  display: -webkit-box; // OLD iOS6, Safari 3.1-6
  display: -moz-box; // OLD FF 19
  display: -ms-flexbox; // TWEENER IE 10
  display: -webkit-flex; // NEW Chrome
  display: flex;
}
// determines the direction and wrapping (given an absolute width on the items) of each items within the container
// apply to the flexed container
// values (2 parameters): row (default), column, row-reverse, column-reverse & wrap (default), nowrap
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
  -moz-flex-flow: $flow;
  -ms-flex-flow: $flow;
  flex-flow: $flow;
}
// X-axis / Horizontal Alignment of flexed items within the container
// apply to the flexed container
// values: flex-start, flex-end, center, space-between, space-around
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  justify-content: $justify;
  -ms-flex-pack: $justify;
}
// Y-axis / Vertical Alignment of flexed items within the container
// apply to the flexed container
// values: flex-start, flex-end, center, baseline, stretch (item will be amorphous from top-to-bottom)
@mixin align-items($align) {
  -webkit-align-items: $align;
  -moz-align-items: $align;
  -ms-align-items: $align;
  align-items: $align;
}

@mixin flex($fg: 1, $fs: null, $fb: null) {
	// Set a variable to be used by box-flex properties
	$fg-boxflex: $fg;
	// Box-Flex only supports a flex-grow value so let's grab the
	// first item in the list and just return that.
	@if type-of($fg) == 'list' {
		$fg-boxflex: nth($fg, 1);
	}
	-webkit-box-flex: $fg-boxflex;
	-webkit-flex: $fg $fs $fb;
	-moz-box-flex: $fg-boxflex;
	-moz-flex: $fg $fs $fb;
	-ms-flex: $fg $fs $fb;
	flex: $fg $fs $fb;
}

@mixin order($int: 0) {
	-webkit-box-ordinal-group: $int + 1;
	-webkit-order: $int;
	-moz-order: $int;
	-ms-flex-order: $int;
	order: $int;
}


// Transition opacity
@mixin transition-opacity($transition) {
	transition: opacity #{$transition}s ease-out;
	-moz-transition: opacity #{$transition}s ease-out;
	-webkit-transition: opacity #{$transition}s ease-out;
	-o-transition: opacity #{$transition}s ease-out;
}

// Border Radius
@mixin border-radius($radius) {
-webkit-border-radius: $radius;
 -moz-border-radius: $radius;
  -ms-border-radius: $radius;
   -o-border-radius: $radius;
	  border-radius: $radius;
}
// Box Shadow
@mixin box-shadow() {
	-webkit-box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
	behavior: url(/?pie=true); /* PIE CSS3 */
}

// Text Shadow
@mixin text-shadow() {
	text-shadow: 1px 1px 10px #000;
  	behavior: url(/?pie=true); /* PIE CSS3 */
}

// Font Awesome
// @include font-awesome("\f18e");
@mixin font-awesome($icon_code) {
	display: inline-block;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content:"#{$icon_code}";
}

// Linear radient
@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

// responsive embeds
%zero-margin-padding {
  margin:0;
  padding:0;
}


// transforms
@-webkit-keyframes zoomitbig {
    15%,40%,75%,100% {
        -webkit-transform-origin: center center
    }

    15% {
        -webkit-transform: scale(1.4, 1.2)
    }

    40% {
        -webkit-transform: scale(0.9, 0.9)
    }

    75% {
        -webkit-transform: scale(1.08, 1)
    }

    100% {
        -webkit-transform: scale(1, 1)
    }
}

@-moz-keyframes zoomitbig {
    15%,40%,75%,100% {
        -moz-transform-origin: center center
    }

    15% {
        -moz-transform: scale(1.4, 1.2)
    }

    40% {
        -moz-transform: scale(0.9, 0.9)
    }

    75% {
        -moz-transform: scale(1.08, 1)
    }

    100% {
        -moz-transform: scale(1, 1)
    }
}

// from package overlay
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// antialiasing mode font rendering
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin transition($property) {
  -webkit-transition-property: $property;
   -moz-transition-property: $property;
  -o-transition-property: $property;
  -ms-transition-property: $property;
  transition-property: $property;
}
